<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<section id="head">
	<h1>Ihr seid die Besten!</h1>
</section>
<section id="middle">
<div class="bestlist">
	<div class="first">
		<% if @game_users.count > 0 %>
			<% if @game.show_ratings == 'all' %>
				<div class="rating"><%= @game_users.first.best_rating != 0 ? @game_users.first.best_rating / 10.0 : '-' %></div>
			<% elsif @game.show_ratings == 'one' && @turns.first.ratings.where(user: @rat_user).count != 0 %>
				<div class="rating"><%= @turns.first.ratings.where(user: @rat_user).average(:rating).round / 10.0 %></div>
			<% end %>
			<% if @game_users.first.user.avatar? %>
				<%= image_tag @game_users.first.user.avatar.url, class: 'avatar' %>
			<% else %>
				<div class="circle avatar"><%= @game_users.first.user.fname[0].capitalize %><%= @game_users.first.user.lname[0].capitalize %></div>
			<% end %>
		<% end %>
		<svg viewBox="0 0 255 205" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0.474609 56.401L254.573 48.7368L209.339 0L52.3957 9.03988L0.474609 56.401Z" fill="#DF9A32"/>
			<path d="M254.573 48.7368L243.953 192.982L22.5017 204.184L0.474609 56.4011L254.573 48.7368Z" fill="#EFB051"/>
		</svg>
		<div class="rang">1</div>
	</div>
	<div class="second">
		<% if @game_users.count > 1 %>
			<% if @game.show_ratings == 'all' %>
				<div class="rating"><%= @game_users.second.best_rating != 0 ? @game_users.second.best_rating / 10.0 : '-' %></div>
			<% elsif @game.show_ratings == 'one' && @turns.second.ratings.where(user: @rat_user).count != 0 %>
				<div class="rating"><%= @turns.second.ratings.where(user: @rat_user).average(:rating).round / 10.0 %></div>
			<% end %>
			<% if @game_users.second.user.avatar? %>
				<%= image_tag @game_users.second.user.avatar.url, class: 'avatar' %>
			<% else %>
				<div class="circle avatar"><%= @game_users.second.user.fname[0].capitalize %><%= @game_users.second.user.lname[0].capitalize %></div>
			<% end %>
		<% end %>
		<svg viewBox="0 0 189 133" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 40.3168L157.337 31.8665L184.674 0.226929L51.9211 11.4285L0 40.3168Z" fill="#979797"/>
			<path d="M157.337 31.8665L166.383 126.589L16.5203 132.484L0 40.3168L157.337 31.8665Z" fill="#AFAFAF"/>
			<path d="M184.674 0.226929L188.214 85.1232L166.384 126.589L157.337 31.8665L184.674 0.226929Z" fill="#747474"/>
		</svg>
		<div class="rang">2</div>
	</div>
	<div class="third">
		<% if @game_users.count > 2 %>
			<% if @game.show_ratings == 'all' %>
				<div class="rating"><%= @game_users.third.best_rating != 0 ? @game_users.third.best_rating / 10.0 : '-' %></div>
			<% elsif @game.show_ratings == 'one' && @turns.third.ratings.where(user: @rat_user).count != 0 %>
				<div class="rating"><%= @turns.third.ratings.where(user: @rat_user).average(:rating).round / 10.0 %></div>
			<% end %>
			<% if @game_users.third.user.avatar? %>
				<%= image_tag @game_users.third.user.avatar.url, class: 'avatar' %>
			<% else %>
				<div class="circle avatar"><%= @game_users.third.user.fname[0].capitalize %><%= @game_users.third.user.lname[0].capitalize %></div>
			<% end %>
		<% end %>
		<svg viewBox="0 0 179 81" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M179 20.715H25.203L1.60254 0.866551L130.619 0.473511L179 20.715Z" fill="#D2731B"/>
			<path d="M25.2031 20.715L29.9232 77.5091L173.886 80.6534L179 20.715H25.2031Z" fill="#E37F23"/>
			<path d="M1.60267 0.866501L0.0292969 33.4887L29.9233 77.509L25.2032 20.7149L1.60267 0.866501Z" fill="#A9580D"/>
		</svg>
		<div class="rang">3</div>
	</div>
</div>
<div class="confetti" id="confetti"></div>
</section>
<section id="skip">
	Beenden mit Leertaste
</section>
<%= audio_tag bestlist_sound, id: 'theme' %>
<script>
	document.getElementById('theme').volume = 0.2;
	document.getElementById('theme').play();
	setTimeout(function() {
		confetti();
	}, 8000);
	$(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gd_set_state_path('', state: 'ended') %>');
        };
    })
	function confetti(){
    var flakes = '',
        randomColor;
    var colors=new Array(["#EDE275"],["#FFFFFF"],["#1ddaaf"],["#1a8ed6"]);
    for(var i = 0, len = 400; i < len; i++) {
        randomColor = colors[Math.floor(Math.random()*4)];
        flakes += '<div class="ball" style="background: '+randomColor+'; animation-duration: '+(Math.random() * 9 + 2)+'s; animation-delay: '+(Math.random() * 2 + 0)+'s; transform: translate3d(0,0,0) rotate3d(0,'+Math.random()+',1,'+Math.floor(Math.random()*180)+'deg);"></div>';
    }
        document.getElementById('confetti').innerHTML = flakes;
    };
</script>
