<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div id="count_channel" data-game-id='<%= @game.id %>'></div>
<section id="task">
	<div class="choose">
		<h3 id="head">Wer soll pitchen?</h3>
		<h5>Tippe auf den Teilnehmer, der als nächstes pitchen soll!</h5>
		<div class="circle-left fadeInLeft">
			<% if @turn1.user.avatar? %>
			<%= image_tag @turn1.user.avatar.url, id: 'left-img' %>
			<% else %>
			<div class="circle" id="left-img"><%= @turn1.user.fname[0].capitalize + @turn1.user.lname[0].capitalize %></div>
			<% end %>
		</div>
		<div class="circle-right fadeInRight">
			<% if @turn2.user.avatar? %>
			<%= image_tag @turn2.user.avatar.url, id: 'right-img' %>
			<% else %>
			<div class="circle" id="right-img"><%= @turn2.user.fname[0].capitalize + @turn2.user.lname[0].capitalize %></div>
			<% end %>
		</div>
		<%= image_tag 'game/illus/finger.svg', id: 'finger', class: 'fadeInLeft' %>
		<div class="use-smartphone fadeInBottom">
			<%= image_tag "game/illus/smartphone.svg" %>
    		<div class="text">Wähle am Smartphone</div>
		</div>
	</div>
	<div class="timer-left fadeInLeft">15s</div>
	<div class="task">
		<h3>Die Aufgabe</h3>
		<div class="card fadeInRight">
			<%= @task.title %>
		</div>
	</div>
</section>
<%= audio_tag(choose_sound, autoplay: true, id: 'theme') %>
<%= audio_tag("game/ping_choosen.mp3", id: 'ping') %>

<script>
	document.getElementById('theme').volume = 0.2;
	document.getElementById('ping').volume = 0.5;
	$('#left-img').on('animationend', function() {
		$('#left-img').removeClass('pulse-single');
	})
	$('#right-img').on('animationend', function() {
		$('#right-img').removeClass('pulse-single');
	})
	$('#finger').on('animationend', function() {
		$('#finger').removeClass('fadeInLeft');
		$('#finger').addClass('switch');
	})
	countdown(30);
	document.addEventListener('DOMContentLoaded', function() {
            var typed = new Typed('#head', {
                strings: ['Wer soll pitchen?'],
                typeSpeed: 10,
                backSpeed: 80,
                backDelay: 0,
                startDelay: 28000,
                smartBackspace: false,
                loop: true,
								showCursor: false,
            })
    })
	function countdown(sec) {
		setInterval(function() {
			sec--;
			if(sec > 15) {
				$(".timer-left").text(sec - 15 + 's');
			}
			if(sec == 15) {
				$('.task').addClass('right');
				$('.choose').show();
				$(".timer-left").text('0s');
			}
			if(sec < 15) {
				$(".timer-left").text(sec + 's');
			}
			if(sec == 2) {
				$('.timer-left').removeClass("fadeInLeft");
				$('.use-smartphone').removeClass("fadeInLeft");
				$(".timer-left").addClass("fadeOut");
				$(".use-smartphone").addClass("fadeOut");
				$('#finger').removeClass('switch');
				$('#finger').addClass('fadeOut');
				$('.choose h5').fadeOut(1500);
				$('.circle-left').animate({left: "+=25vh", opacity: '0.5'}, 2000);
				$('.circle-right').animate({right: "+=25vh", opacity: '0.5'}, 2000);
			}
			else if (sec == 0) {
				$('#finger').hide();
				redirect();
			}
		}, 1000)
	}
	function redirect() {
		window.location.replace('<%= gd_set_state_path('', state: 'turn') %>');
	}
	$(window).keypress(function (e) {
		if (e.key === ' ' || e.key === 'Spacebar') {
			redirect();
		}
	})
</script>
