<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<section id="head">
	<h1>Jetzt <%= @turn.user.fname %> bewerten!</h1>
</section>
<section id="middle">
	<div class="smartphone-rate">
		<%= image_tag 'game/illus/smartphone.svg', class: 'smart' %>
		<div class="rate">
		<h3>Jetzt bewerten!</h3>
		<% if @task.rating1 && @task.rating1 != '' %>
		<div class="form-group">
			<label for="" id="label_<%= @task.rating1 %>"><%= @task.rating1 %></label>
			<input type="range", min= 0, max= 100, value="<%= Random.rand(100)%>">
		</div>
		<script>
			if($('#label_<%= @task.rating1 %>').text().length > 24) {
				$('#label_<%= @task.rating1 %>').css('font-size', '14px');
			}
			if($('#label_<%= @task.rating1 %>').text().length > 27) {
				$('#label_<%= @task.rating1 %>').css('font-size', '12px');
			}
			if($('#label_<%= @task.rating1 %>').text().length > 33) {
				$('#label_<%= @task.rating1 %>').css('font-size', '10px');
			}
		</script>
		<% end %>
		<% if @task.rating2 && @task.rating2 != '' %>
		<div class="form-group">
			<label for="" id="label_<%= @task.rating2 %>"><%= @task.rating2 %></label>
			<input type="range", min= 0, max= 100, value="<%= Random.rand(100)%>">
		</div>
		<script>
			if($('#label_<%= @task.rating2 %>').text().length > 24) {
				$('#label_<%= @task.rating2 %>').css('font-size', '14px');
			}
			if($('#label_<%= @task.rating2 %>').text().length > 27) {
				$('#label_<%= @task.rating2 %>').css('font-size', '12px');
			}
			if($('#label_<%= @task.rating2 %>').text().length > 33) {
				$('#label_<%= @task.rating2 %>').css('font-size', '10px');
			}
		</script>
		<% end %>
		<% if @task.rating3 && @task.rating3 != '' %>
		<div class="form-group">
			<label for="" id="label_<%= @task.rating3 %>"><%= @task.rating3 %></label>
			<input type="range", min= 0, max= 100, value="<%= Random.rand(100)%>">
		</div>
		<script>
			if($('#label_<%= @task.rating3 %>').text().length > 24) {
				$('#label_<%= @task.rating3 %>').css('font-size', '14px');
			}
			if($('#label_<%= @task.rating3 %>').text().length > 27) {
				$('#label_<%= @task.rating3 %>').css('font-size', '12px');
			}
			if($('#label_<%= @task.rating3 %>').text().length > 33) {
				$('#label_<%= @task.rating3 %>').css('font-size', '10px');
			}
		</script>
		<% end %>
		<% if @task.rating4 && @task.rating4 != '' %>
		<div class="form-group">
			<label for="" id="label_<%= @task.rating4 %>"><%= @task.rating4 %></label>
			<input type="range", min= 0, max= 100, value="<%= Random.rand(100)%>">
		</div>
		<script>
			if($('#label_<%= @task.rating4 %>').text().length > 24) {
				$('#label_<%= @task.rating4 %>').css('font-size', '14px');
			}
			if($('#label_<%= @task.rating4 %>').text().length > 27) {
				$('#label_<%= @task.rating4 %>').css('font-size', '12px');
			}
			if($('#label_<%= @task.rating4 %>').text().length > 33) {
				$('#label_<%= @task.rating4 %>').css('font-size', '10px');
			}
		</script>
		<% end %>
		</div>
		<%= image_tag 'game/illus/finger.svg', class: 'hand' %>
	</div>
	<div class="timer-left fadeInLeft" id="rate_timer">
    	15s
    </div>
</section>
<section id="skip">
	Skip mit Leertaste
</section>
<% if @game.game_sound %>
<%= audio_tag 'game/rate/rate_theme.mp3', autoplay: true, id: "theme" %>
<% end %>
<script>
	<% if @game.skip_rating_timer %>
		$('#rate_timer').hide();
	<% else %>
	setTimeout(function() {
		beginTimer();
	},1000);

	function beginTimer() {
		var seconds = 15;
		var beginTimer = setInterval(function() {
			$('#rate_timer').text(seconds + 's');
			if (seconds == 0) {
				redirect();
			}
			seconds--;
		},1000)
	}
	<% end %>
	function redirect() {
		window.location.replace('<%= gd_set_state_path('', state: 'rating') %>');
	}
	<% if @game.game_sound %>
	document.getElementById('theme').volume = 0.2;
	<% end %>
	$(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            redirect();
        };
    })
	$('input[type="range"]').rangeslider({
		polyfill: false,
		rangeClass: 'rangeslider',
		disabledClass: 'rangeslider--disabled',
    	horizontalClass: 'rangeslider--horizontal',
    	verticalClass: 'rangeslider--vertical',
    	fillClass: 'rangeslider__fill',
    	handleClass: 'rangeslider__handle',

		// Callback function
    	onInit: function() {},

    	// Callback function
    	onSlide: function(position, value) {},

    	// Callback function
    	onSlideEnd: function(position, value) {}
	});
</script>
