<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<section id="head">
	<h1>Jetzt <%= @turn.user.fname %> bewerten!</h1>
</section>
<section id="middle">
	<div class="smartphone-rate">
		<%= image_tag 'game/illus/smartphone.svg', class: 'smart' %>
		<div class="rate">
		<h3>Jetzt bewerten!</h3>
		<% @task.rating_list.rating_criteria.each do |rc| %>
			<div class="form-group">
				<label for="" id="label_<%= rc.name %>"><%= rc.name %></label>
				<input type="range", min= 0, max= 100, value="<%= Random.rand(100)%>">
			</div>
			<script>
				if($('#label_<%= rc.name %>').text().length > 24) {
					$('#label_<%= rc.name %>').css('font-size', '14px');
				}
				if($('#label_<%= rc.name %>').text().length > 27) {
					$('#label_<%= rc.name %>').css('font-size', '12px');
				}
				if($('#label_<%= rc.name %>').text().length > 33) {
					$('#label_<%= rc.name %>').css('font-size', '10px');
				}
			</script>
		<% end %>
		</div>
		<%= image_tag 'game/illus/finger.svg', class: 'hand' %>
	</div>
	<div class="timer-left fadeInLeft" id="rate_timer">
    	15s
    </div>
</section>
<section id="skip">
	Skip mit Leertaste
</section>
<%= audio_tag(rate_sound, autoplay: true, id: "theme") %>
<script>
	<% if @game.skip_rating_timer %>
		$('#rate_timer').hide();
	<% else %>
	setTimeout(function() {
		beginTimer();
	},1000);

	function beginTimer() {
		var seconds = 15;
		var beginTimer = setInterval(function() {
			$('#rate_timer').text(seconds + 's');
			if (seconds == 0) {
				redirect();
			}
			seconds--;
		},1000)
	}
	<% end %>
	function redirect() {
		window.location.replace('<%= gd_set_state_path('', state: 'rating') %>');
	}
	document.getElementById('theme').volume = 0.2;
	$(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            redirect();
        };
    })
	$('input[type="range"]').rangeslider({
		polyfill: false,
		rangeClass: 'rangeslider',
		disabledClass: 'rangeslider--disabled',
    	horizontalClass: 'rangeslider--horizontal',
    	verticalClass: 'rangeslider--vertical',
    	fillClass: 'rangeslider__fill',
    	handleClass: 'rangeslider__handle',

		// Callback function
    	onInit: function() {},

    	// Callback function
    	onSlide: function(position, value) {},

    	// Callback function
    	onSlideEnd: function(position, value) {}
	});
</script>
