<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<section id="head">
	<h1>Deine Bewertung</h1>
</section>
<section id="middle">
	<div class="ratings" style="<%= @turn.comments.count == 0 ? "left: 5vw" : '0'%>">
		<% if @turn_ratings.count >= 1 %>
			<% @rating1 = @turn_ratings.first %>
			<div class="rating-cat">
				<div class="rating" id="rating1"><%= @rating1.rating / 10.0 %></div>
				<div class="own_rating" id="own_rating1">
					<div class="avatar">
						<%= image_tag @own_ratings.first.user.avatar.url %>
					</div>
					<div class="rating">
						<%= @own_ratings.first.rating / 10.0 %>
					</div>

				</div>
				<div class="bar" id="bar1">
					<svg height="<%= @rating1.rating %>%" viewBox="0 0 96 328" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 20.4L80 16.1L93.9 0L26.4 5.7L0 20.4Z" fill="rgb(var(--custcolor)" filter="grayscale(10%)"/>
						<path d="M80 16.1L84.6 324.3L8.4 327.3L0 20.4L80 16.1Z" fill="rgb(var(--custcolor))"/>
						<path d="M93.9 0L95.7 303.2L84.6 324.3L80 16.1L93.9 0Z" fill="rgb(var(--custcolor)" filter="grayscale(20%)"/>
					</svg>
				</div>
				<div class="text"><%= @rating1.rating_criterium.name %></div>
			</div>
		<% end %>
		<% if @turn_ratings.count >= 2 %>
			<% @rating2 = @turn_ratings.second %>
			<div class="rating-cat">
				<div class="rating" id="rating2"><%= @rating2.rating / 10.0 %></div>
				<div class="own_rating" id="own_rating2">
					<div class="avatar">
						<%= image_tag @own_ratings.second.user.avatar.url %>
					</div>
					<div class="rating">
						<%= @own_ratings.second.rating / 10.0 %>
					</div>
				</div>
				<div class="bar" id="bar2">
					<svg height="<%= @rating2.rating %>%" viewBox="0 0 93 365" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M92.9998 20.2415H13.0811L0.817383 0.39304L67.8592 0L92.9998 20.2415Z" fill="rgb(var(--custcolor))" filter="grayscale(10%)"/>
						<path d="M13.0811 20.2416L15.5338 361.036L90.3426 364.18L92.9998 20.2416H13.0811Z" fill="rgb(var(--custcolor))"/>
						<path d="M0.817383 0.392944L2.9998 318.015L15.5339 360.035L13.0811 20.2414L0.817383 0.392944Z" fill="rgb(var(--custcolor))" filter="grayscale(20%)"/>
					</svg>
				</div>
				<div class="text"><%= @rating2.rating_criterium.name %></div>
			</div>
		<% end %>
		<% if @turn_ratings.count >= 3 %>
			<% @rating3 = @turn_ratings.third %>
			<div class="rating-cat">
			<div class="rating" id="rating3"><%= @rating3.rating / 10.0 %></div>
			<div class="own_rating" id="own_rating3">
				<div class="avatar">
					<%= image_tag @own_ratings.third.user.avatar.url %>
				</div>
				<div class="rating">
					<%= @own_ratings.third.rating / 10.0 %>
				</div>
			</div>
			<div class="bar" id="bar3">
				<svg height="<%= @rating3.rating %>%" viewBox="0 0 96 328" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 20.4L80 16.1L93.9 0L26.4 5.7L0 20.4Z" fill="rgb(var(--custcolor)" filter="grayscale(10%)"/>
					<path d="M80 16.1L84.6 324.3L8.4 327.3L0 20.4L80 16.1Z" fill="rgb(var(--custcolor))"/>
					<path d="M93.9 0L95.7 303.2L84.6 324.3L80 16.1L93.9 0Z" fill="rgb(var(--custcolor)" filter="grayscale(20%)"/>
				</svg>
			</div>
			<div class="text"><%= @rating3.rating_criterium.name %></div>
			</div>
		<% end %>
		<% if @turn_ratings.count >= 4 %>
			<% @rating4 = @turn_ratings.fourth %>
			<div class="rating-cat">
			<div class="rating" id="rating4"><%= @rating4.rating / 10.0 %></div>
			<div class="own_rating" id="own_rating4">
				<div class="avatar">
					<%= image_tag @own_ratings.fourth.user.avatar.url %>
				</div>
				<div class="rating">
					<%= @own_ratings.fourth.rating / 10.0 %>
				</div>
			</div>
			<div class="bar" id="bar4">
				<svg height="<%= @rating4.rating %>%" viewBox="0 0 93 365" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M92.9998 20.2415H13.0811L0.817383 0.39304L67.8592 0L92.9998 20.2415Z" fill="rgb(var(--custcolor))" filter="grayscale(10%)"/>
					<path d="M13.0811 20.2416L15.5338 361.036L90.3426 364.18L92.9998 20.2416H13.0811Z" fill="rgb(var(--custcolor))"/>
					<path d="M0.817383 0.392944L2.9998 318.015L15.5339 360.035L13.0811 20.2414L0.817383 0.392944Z" fill="rgb(var(--custcolor))" filter="grayscale(20%)"/>
				</svg>
			</div>
			<div class="text"><%= @rating4.rating_criterium.name %></div>
			</div>
		<% end %>
	</div>
	<div class="ges-rating" style="<%= @turn.comments.count == 0 ? "left: 66.5vw" : '0'%>">
		<div class="rating" id="ges_rating"><%= @ges_rating ? @ges_rating / 10.0 : '' %></div>
		<% if @turn.user.avatar? %>
		<%= image_tag @turn.user.avatar.url %>
		<% else %>
		<div class="circle"><%= @turn.user.fname[0].capitalize %><%= @turn.user.lname[0].capitalize %></div>
		<% end %>
		<svg viewBox="0 0 100 100" id="ges_rating_svg">
			<circle cx="50" cy="50" r="48" stroke-width="4" stroke="rgb(var(--custcolor))" fill="none" stroke-dasharray="0 1000"></circle>
		</svg>
	</div>
	<div class="ratings_comments">
		<% @turn.comments.last(5).each do |c| %>
		<div class="comment">
			<% if c.user.avatar? %>
				<%= image_tag c.user.avatar.url %>
			<% else %>
				<div class="circle"><%= c.user.fname[0].capitalize %><%= c.user.lname[0].capitalize %></div>
			<% end %>
			<div class="text"><%= c.text %></div>
		</div>
		<% end %>
	</div>
</section>
<section id="skip">
	Skip mit Leertaste
</section>
<% if @game.game_sound %>
<%= audio_tag 'game/rating/intro.mp3', id: 'intro', autoplay: true %>
<%= audio_tag 'game/rating/calculate.mp3', id: 'calculateSound'%>
<%= audio_tag 'game/rating/bling.mp3', id: 'blingSound' %>
<%= audio_tag 'game/rating/theme.mp3', id: 'theme' %>
<% end %>
<script>
	<% if @game.game_sound %>
	document.getElementById('theme').volume = 0.1;
	document.getElementById('blingSound').volume = 0.3;
	document.getElementById('calculateSound').volume = 0.3;
	<% end %>
	function endAnimation() {
		<% if @game.game_sound %>
		document.getElementById('calculateSound').pause();
		document.getElementById('theme').play();
		<% end %>
	}
	<% if @turn_ratings.count == 1 %>
	$('#rating1').text('?');
	$('#ges_rating').text('?');
	$('#bar1').on("animationstart", function() {
		$('#bar1').css('opacity', '1');
		<% if @game.game_sound %>
		document.getElementById('calculateSound').play();
		<% end %>
		var i = 0.1;
		MyApp.bar1 = setInterval(function() {
			$('#rating1').text(Number(<%= @rating1.rating / 10.0 %> * i).toFixed(1));
			i = i + 0.05;
		}, 100)
    });
	$('#bar1').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar1);
		$('#rating1').text(Number(<%= @rating1.rating / 10.0 %>).toFixed(1));
		$('#rating1').addClass('ready');
		endAnimation();
		var i = 0.05;
		MyApp.bar = setInterval(function() {
			$('#ges_rating').text(Number(<%= @ges_rating.nil? ? 0 : @ges_rating / 10.0 %> * i).toFixed(1));
			var stroke_arr = Number(<%= 301.59 * (@ges_rating.nil? ? 0 : @ges_rating / 100.0) %> * i).toFixed(0);
			$('#ges_rating_svg circle').attr("stroke-dasharray", "" + stroke_arr + " 1000");
			i = i + 0.025;
		}, 100)
		setTimeout(function() {
			clearInterval(MyApp.bar);
			$('#ges_rating').text(Number(<%= @ges_rating.nil? ? 0 : @ges_rating / 10.0 %>).toFixed(1));
			var stroke_arr = Number(<%= 301.59 * (@ges_rating.nil? ? 0 : @ges_rating / 100.0) %>).toFixed(0);
			$('#ges_rating_svg circle').attr("stroke-dasharray", "" + stroke_arr +" 1000");
		}, 4000)
	});
	<% elsif @turn_ratings.count == 2 %>
	$('#rating1').text('?');
	$('#rating2').text('?');
	$('#ges_rating').text('?');
	$('#bar1').on("animationstart", function() {
		$('#bar1').css('opacity', '1');
		$('#bar2').css('opacity', '1');
		<% if @game.game_sound %>
		document.getElementById('calculateSound').play();
		<% end %>
		var i = 0.1;
		MyApp.bar1 = setInterval(function() {
			$('#rating1').text(Number(<%= @rating1.rating / 10.0 %> * i).toFixed(1));
			$('#rating2').text(Number(10 * i).toFixed(1))
			i = i + 0.05;
		}, 100)
    });
	$('#bar1').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar1);
		$('#rating1').text(Number(<%= @rating1.rating / 10.0 %>).toFixed(1));
		$('#rating1').addClass('ready');
		var i = 0.1;
		MyApp.bar2 = setInterval(function() {
			$('#rating2').text(Number(10 - <%= 10 - @rating2.rating / 10.0 %> * i).toFixed(1));
			i = i + 0.05;
		}, 100)
	});
	$('#bar2').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar2);
		$('#rating2').text(Number(<%= @rating2.rating / 10.0 %>).toFixed(1));
		$('#rating2').addClass('ready');
		endAnimation();
		var i = 0.05;
		MyApp.bar = setInterval(function() {
			$('#ges_rating').text(Number(<%= @ges_rating.nil? ? 0 : @ges_rating / 10.0 %> * i).toFixed(1));
			var stroke_arr = Number(<%= 301.59 * (@ges_rating.nil? ? 0 : @ges_rating / 100.0) %> * i).toFixed(0);
			$('#ges_rating_svg circle').attr("stroke-dasharray", "" + stroke_arr + " 1000");
			i = i + 0.025;
		}, 100)
		setTimeout(function() {
			clearInterval(MyApp.bar);
			$('#ges_rating').text(Number(<%= @ges_rating.nil? ? 0 : @ges_rating / 10.0 %>).toFixed(1));
			var stroke_arr = Number(<%= 301.59 * (@ges_rating.nil? ? 0 : @ges_rating / 100.0) %>).toFixed(0);
			$('#ges_rating_svg circle').attr("stroke-dasharray", "" + stroke_arr +" 1000");
		}, 4000)
	});
	<% elsif @turn_ratings.count == 3 %>
	$('#rating1').text('?');
	$('#rating2').text('?');
	$('#rating3').text('?');
	$('#ges_rating').text('?');
	$('#bar1').on("animationstart", function() {
		$('#bar1').css('opacity', '1');
		$('#bar2').css('opacity', '1');
		$('#bar3').css('opacity', '1');
		<% if @game.game_sound %>
		document.getElementById('calculateSound').play();
		<% end %>
		var i = 0.1;
		MyApp.bar1 = setInterval(function() {
			$('#rating1').text(Number(<%= @rating1.rating / 10.0 %> * i).toFixed(1));
			$('#rating2').text(Number(10 * i).toFixed(1));
			$('#rating3').text(Number(10 * i).toFixed(1));
			i = i + 0.05;
		}, 100)
    });
	$('#bar1').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar1);
		$('#rating1').text(Number(<%= @rating1.rating / 10.0 %>).toFixed(1));
		$('#rating1').addClass('ready');
		var i = 0.1;
		MyApp.bar2 = setInterval(function() {
			$('#rating2').text(Number(10 - <%= 10 - @rating2.rating / 10.0 %> * i).toFixed(1));
			$('#rating3').text(Math.max(Number(10 - 10 * i).toFixed(1), 0));
			i = i + 0.05;
		}, 100)
	});
	$('#bar2').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar2);
		$('#rating2').text(Number(<%= @rating2.rating / 10.0 %>).toFixed(1));
		$('#rating2').addClass('ready');
		var i = 0.1;
		MyApp.bar3 = setInterval(function() {
			$('#rating3').text(Number(<%= @rating3.rating / 10.0 %> * i).toFixed(1));
			i = i + 0.05;
		}, 100)
	});
	$('#bar3').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar3);
		$('#rating3').text(Number(<%= @rating3.rating / 10.0 %>).toFixed(1));
		$('#rating3').addClass('ready');
		endAnimation();
		var i = 0.05;
		MyApp.bar = setInterval(function() {
			$('#ges_rating').text(Number(<%= @ges_rating.nil? ? 0 : @ges_rating / 10.0 %> * i).toFixed(1));
			var stroke_arr = Number(<%= 301.59 * (@ges_rating.nil? ? 0 : @ges_rating / 100.0) %> * i).toFixed(0);
			$('#ges_rating_svg circle').attr("stroke-dasharray", "" + stroke_arr + " 1000");
			i = i + 0.025;
		}, 100)
		setTimeout(function() {
			clearInterval(MyApp.bar);
			$('#ges_rating').text(Number(<%= @ges_rating.nil? ? 0 : @ges_rating / 10.0 %>).toFixed(1));
			var stroke_arr = Number(<%= 301.59 * (@ges_rating.nil? ? 0 : @ges_rating / 100.0) %>).toFixed(0);
			$('#ges_rating_svg circle').attr("stroke-dasharray", "" + stroke_arr +" 1000");
		}, 4000)
	});
	<% elsif @turn_ratings.count == 4 %>
	$('#rating1').text('?');
	$('#rating2').text('?');
	$('#rating3').text('?');
	$('#rating4').text('?');
	$('#ges_rating').text('?');
	$('#bar1').on("animationstart", function() {
		$('#bar1').css('opacity', '1');
		$('#bar2').css('opacity', '1');
		$('#bar3').css('opacity', '1');
		$('#bar4').css('opacity', '1');
		<% if @game.game_sound %>
		document.getElementById('calculateSound').play();
		<% end %>
		var i = 0.1;
		MyApp.bar1 = setInterval(function() {
			$('#rating1').text(Number(<%= @rating1.rating / 10.0 %> * i).toFixed(1));
			$('#rating2').text(Number(10 * i).toFixed(1));
			$('#rating3').text(Number(10 * i).toFixed(1));
			$('#rating4').text(Number(10 * i).toFixed(1));
			i = i + 0.05;
		}, 100)
    });
	$('#bar1').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar1);
		$('#rating1').text(Number(<%= @rating1.rating / 10.0 %>).toFixed(1));
		$('#rating1').addClass('ready');
		var i = 0.1;
		MyApp.bar2 = setInterval(function() {
			$('#rating2').text(Number(10 - <%= 10 - @rating2.rating / 10.0 %> * i).toFixed(1));
			$('#rating3').text(Math.max(Number(10 - 10 * i).toFixed(1), 0).toFixed(1));
			$('#rating4').text(Math.max(Number(10 - 10 * i).toFixed(1), 0).toFixed(1));
			i = i + 0.05;
		}, 100)
	});
	$('#bar2').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar2);
		$('#rating2').text(Number(<%= @rating2.rating / 10.0 %>).toFixed(1));
		$('#rating2').addClass('ready');
		var i = 0.1;
		MyApp.bar3 = setInterval(function() {
			$('#rating3').text(Number(<%= @rating3.rating / 10.0 %> * i).toFixed(1));
			$('#rating4').text(Number(10 * i).toFixed(1));
			i = i + 0.05;
		}, 100)
	});
	$('#bar3').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar3);
		$('#rating3').text(Number(<%= @rating3.rating / 10.0 %>).toFixed(1));
		$('#rating3').addClass('ready');
		var i = 0.1;
		MyApp.bar4 = setInterval(function() {
			$('#rating4').text(Number(10 - <%= 10 - @rating4.rating / 10.0 %> * i).toFixed(1));
			i = i + 0.05;
		}, 100)
	});
	$('#bar4').on("animationend", function() {
		<% if @game.game_sound %>
		document.getElementById('blingSound').play();
		<% end %>
		clearInterval(MyApp.bar4);
		$('#rating4').text(Number(<%= @rating4.rating / 10.0 %>).toFixed(1));
		$('#rating4').addClass('ready');
		endAnimation();
		var i = 0.05;
		MyApp.bar = setInterval(function() {
			$('#ges_rating').text(Number(<%= @ges_rating.nil? ? 0 : @ges_rating / 10.0 %> * i).toFixed(1));
			var stroke_arr = Number(<%= 301.59 * (@ges_rating.nil? ? 0 : @ges_rating / 100.0) %> * i).toFixed(0);
			$('#ges_rating_svg circle').attr("stroke-dasharray", "" + stroke_arr + " 1000");
			i = i + 0.025;
		}, 100)
		setTimeout(function() {
			clearInterval(MyApp.bar);
			$('#ges_rating').text(Number(<%= @ges_rating.nil? ? 0 : @ges_rating / 10.0 %>).toFixed(1));
			var stroke_arr = Number(<%= 301.59 * (@ges_rating.nil? ? 0 : @ges_rating / 100.0) %>).toFixed(0);
			$('#ges_rating_svg circle').attr("stroke-dasharray", "" + stroke_arr +" 1000");
		}, 4000)
	});
	<% end %>
	$(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gd_set_slide_path(@game.current_task + 1) %>');
        };
    });
		function showOwnRating() {
			if ($('#own_rating1').hasClass("show")) {
				$('#own_rating1').removeClass('show');
				$('#own_rating2').removeClass('show');
				$('#own_rating3').removeClass('show');
				$('#own_rating4').removeClass('show');
			} else {
				$('#own_rating1').addClass('show');
				$('#own_rating2').addClass('show');
				$('#own_rating3').addClass('show');
				$('#own_rating4').addClass('show');
			}
		}
</script>
