<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<% if @task.task_medium.media_type == 'image' %>
<div id="video-bg">
	<%= image_tag @task.task_medium.image.url, id: 'video'%>
</div>
<% elsif @task.task_medium.media_type == 'video' %>
<div id="video-bg">
	<%= video_tag @task.task_medium.video.url, id: 'video' , autoplay: true, onended: 'redirect()' %>
	<%= video_tag @task.task_medium.video.url, id: 'video-blur' , autoplay: true %>
</div>
<% elsif @task.task_medium.media_type == 'audio' %>
<div id="video-bg">
	<%= audio_tag @task.task_medium.audio.url, id: 'audio' , autoplay: true, onended: 'redirect()' %>
</div>
<% end %>
<section id="skip">
	Skip mit Leertaste
</section>
<script>
	$('#navbar').hide();

	$(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            redirect();
        };
    })
	 function redirect() {
		 window.location.replace('<%= gd_set_slide_path(@game.current_task + 1) %>');
	 }
</script>
