<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<section id="head">
	<h1><%= @turn.user.fname %> mache dich bereit!</h1>
</section>
<section id="middle">
	<% if @turn1 && @turn2 && (@turn1 == @turn || @turn2 == @turn) %>
	<div class="circle-left">
    <% if @turn1.user.avatar? %>
    	<%= image_tag @turn1.user.avatar.url, class: 'left-img' %>
    <% else %>
    	<div class="circle left-img"><%= @turn1.user.fname[0].capitalize %><%= @turn1.user.lname[0].capitalize %></div>
    <% end %>
    </div>
    <div class="circle-right">
        <% if @turn2.user.avatar? %>
    	<%= image_tag @turn2.user.avatar.url, class: 'left-img' %>
    <% else %>
    	<div class="circle right-img"><%= @turn2.user.fname[0].capitalize %><%= @turn2.user.lname[0].capitalize %></div>
    <% end %>
    </div>
	<% else %>
	<% if @turn.user.avatar? %>
    	<%= image_tag @turn.user.avatar.url, class: 'mid-img pulse' %>
    <% else %>
    	<div class="circle mid-img pulse"><%= @turn.user.fname[0].capitalize %><%= @turn.user.lname[0].capitalize %></div>
    <% end %>
	<% end %>
</section>
<section id="skip">
	Skip mit Leertaste
</section>
<%= audio_tag(turn_sound, autoplay: true, id: 'theme') %>
<script>
	document.getElementById('theme').volume = 0.2;
	$(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gd_set_state_path('', state: 'play') %>');
        };
    })
	<% if @turn1 && @turn1 == @turn %>
		$("#head").addClass("delay2");
		$('.circle-right').addClass('fadeOut');
		$('.circle-left').addClass('moveMiddleLeft');
		window.setTimeout(function() {$('.circle-left img').addClass('pulse');}, 2000);
		window.setTimeout(function() {$('.circle-left .circle').addClass('pulse');}, 2000);
	<% elsif @turn2 && @turn2 == @turn %>
		$("#head").addClass("delay2");
		$('.circle-left').addClass('fadeOut');
		$('.circle-right').addClass('moveMiddleRight');
		window.setTimeout(function() {$('.circle-right img').addClass('pulse');}, 2000);
		window.setTimeout(function() {$('.circle-right .circle').addClass('pulse');}, 2000);
	<% end %>
</script>