<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<section id="task">
	<div class="turn">
		<h3 id="head"><%= @turn.user.fname %> mache dich bereit!</h3>
		<% if @turn.user.avatar? %>
		<%= image_tag @turn.user.avatar.url, class: 'mid-img pulse' %>
		<% else %>
		<div class="circle">
			<%= @turn.user.fname[0].capitalize + @turn.user.lname[0].capitalize %>
		</div>
		<% end %>
	</div>
	<div class="task left">
		<h3>Deine Aufgabe</h3>
		<div class="card">
			<%= @task.title %>
		</div>
	</div>
</section>
<section id="skip">
	Skip mit Leertaste
</section>
<% if @game.game_sound %>
<%= audio_tag 'game/turn/dubistdran.mp3', id: 'theme', autoplay: true, loop: true %>
<script>
	document.getElementById('theme').volume = 0.2;
</script>
<% end %>
<script>
	$(window).keypress(function (e) {
      if (e.key === ' ' || e.key === 'Spacebar') {
          window.location.replace('<%= gd_set_state_path('', state: 'play') %>');
      };
  })
</script>
