<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div id="count_channel" data-game-id='<%= @game.id %>'></div>

<section id="head">
	<h1>Jetzt Pitchgruppe beitreten!</h1>
	<h3 class="white">mit Smartphone beitreten.</h3>
	<h5>peterpitch.com/<%= @game.password %></h5>
</section>
<section id="middle">
	<div id="left">
		<div class="count" id="count">
			<%= @game.game_users.where(play: true).count %>
		</div>
	</div>
	<div id="center">
		<div class="handy">
			<%= image_tag 'game/illus/hand.svg', id: 'hand' %>
			<div class="qr-code-wrapper">
				<%= generate_qr("#{request.host_with_port}/#{@game.password}").html_safe %>
			</div>
		</div>
	</div>
	<div id="right">
		<div id="user-rain"></div>
	</div>

</section>


<section id="skip">Skip mit Leertaste</section>


<%= audio_tag 'game/ping.mp3', autoplay: false, loop: false, id: 'ping' %>

<% if @game.game_sound %>
<%= audio_tag 'game/ringdoor.mp3', autoplay: false, loop: false, id: 'ring' %>
<%= audio_tag 'game/wait/theme_loop.mp3', id: 'theme', autoplay: true, loop: true %>
<script>
	document.getElementById('theme').volume = 0.2;
	document.getElementById('ring').volume = 0.5;
	document.getElementById('ping').volume = 0.5;
<% else %>
<script>
	document.getElementById('ping').volume = 0.0;
<% end %>
</script>

<script>
	$(window).keypress(function (e) {
		if (e.key === ' ' || e.key === 'Spacebar') {
			window.location.replace('<%= gd_set_slide_path(1) %>');
		}
	})
	<% @game.game_users.where(play: true).each do |t| %>
	var left1 = Math.random() * 80;
	<% if t.user.avatar? %>
	var userDIV = '<img src="<%= t.user.avatar %>" style="left:' + left1 +'%;" id="user_<%= t.user_id %>">';
	<% else %>
	var userDIV = '<div class="circle" style="left:' + left1 + '%;" id="user_<%= t.user_id %>"><%= t.user.fname[0].capitalize %><%= t.user.lname[0].capitalize %></div>';
	<% end %>
	$('#user-rain').append(userDIV);
	<% end %>
</script>
