<% @pitch.task_orders.order(:order).each do |t| %>
<div class="card left-card <%= @task && @task.id == t.task_id ? 'selected' : '' %>"
        id="task_<%= t.task_id %>" draggable="true" ondragstart="drag(event)"
        ondrop="dropOrder(event, <%= t.order %>)" ondragleave="leaveDrop(event)" ondragover="allowDrop(event)"
        data-id="<%= t.id %>">
        <div class="task-link" onclick="selectTask(<%= t.task_id %>)"></div>
        <% if t.task.task_type != "slide" %>
        <div class="task-title">
            <div class="select-task-link" onclick="selectTask(<%= t.task_id %>)"></div>
            <% if t.task.valide == false %>
                <i class="fas fa-exclamation-triangle"></i>
            <% end %>
            <% if t.task.task_medium.present? %>
                <div class="name"><%= t.order %>. Task - <%= t.task.task_medium.media_type.titleize %></div>
            <% else %>
                <div class="name"><%= t.order %>. Task</div>
            <% end %>
            <%#= link_to '', delete_task_path(@pitch, t.id), class: 'fas fa-trash remove remove-task', data: {confirm: 'Willst du die Aufgabe wirklich löschen?'}%>
            <a class="fas fa-trash remove" href="javascript:void(0)" onclick="deleteTask(<%= t.task_id %>)"></a>
            <%= link_to '', copy_task_path(@pitch, t.task_id), class: 'fas fa-copy copy copy-task' %>
        </div>
        <div class="task-subtitle task-name">
            <%= t.task.title %>
            <%# media_type = t.task.task_medium&.media_type&.titleize %>
            <%#= media_type = media_type.present? ? media_type : t.task.task_type&.titleize %>
        </div>
        <% if t.task.task_medium && t.task.task_medium.video? %>
        <% image_url = t.task.task_medium.video.thumb.url %>
        <% elsif t.task.task_medium && t.task.task_medium.image? %>
        <% image_url = t.task.task_medium.image.url %>
        <% else %>
        <% image_url = nil %>
        <% end %>
        <div class="thumb <%= 'thumb-border' unless image_url.present? %>">
            <% if (t.task.task_medium && (t.task.task_medium.video? || t.task.task_medium.video_url_id?)) %>
            <% if t.task.task_medium.video_url_id? %>
            <%= image_tag t.task.task_medium.video_img, class: 'image' %>
            <% else %>
            <%= image_tag t.task.task_medium.video.thumb.url, class: 'image' %>
            <% end %>
            <i class="fa fa-play-circle video-play-thumb"></i>
            <% elsif t.task.task_medium && t.task.task_medium.image? %>
            <%= image_tag t.task.task_medium.image.url, class: 'image' %>
            <% elsif t.task.task_medium && t.task.task_medium.audio? %>
            <%= image_tag 'dash/audio.png', class: 'no-image-icon no-image-audio-icon' %>
            <% else %>
            <%= image_tag 'dash/no-image-icon.png', class: 'no-image-icon' %>
            <% end %>
            <% if t.task.time %>
            <div class="length">
                <%= (t.task.time / 60).to_s %>:<%= (t.task.time % 60) < 10 ? '0' + (t.task.time % 60).to_s : (t.task.time % 60).to_s %>
            </div>
            <% else %>
            <div class="length">1:20</div>
            <% end %>
        </div>
        <% else %>
        <div class="task-title slide-title">
            <div class="select-task-link" onclick="selectTask(<%= t.task_id %>)"></div>
            <div class="name"><%= t.order %>. Slide - <%= t.task.pdf_type.titleize %></div>
            <%#= link_to '', delete_task_path(@pitch, t.id), class: 'fas fa-trash remove', data: {confirm: 'Willst du die Aufgabe wirklich löschen?'}%>
            <a class="fas fa-trash remove" href="javascript:void(0)" onclick="deleteTask(<%= t.task_id %>)"></a>
            <%= link_to '', copy_task_path(@pitch, t.task_id), class: 'fas fa-copy copy' %>
        </div>
        <div class="task-subtitle task-name">
            <%= t.task.title %>
        </div>
        <% if t.task.task_medium && (t.task.task_medium.image? || t.task.task_medium.video? || t.task.task_medium.video_url_id?) %>
            <div class="thumb slide">
                <% if t.task.task_medium && t.task.task_medium.video? %>
                <%= image_tag t.task.task_medium.video.thumb.url %>
                <i class="fa fa-play-circle video-play-thumb"></i>
                <% elsif t.task.task_medium.video_url_id? %>
                <%= image_tag t.task.task_medium.video_img, class: 'image' %>
                <i class="fa fa-play-circle video-play-thumb"></i>
                <% elsif t.task.task_medium && t.task.task_medium.image? %>
                <%= image_tag t.task.task_medium.image.url %>
                <% else %>
                <%= image_tag 'dash/Image.png' %>
                <% end %>
            </div>
        <% else %>
            <div class="thumb thumb-border slide">
                <% if t.task.task_medium && t.task.task_medium.audio? %>
                    <%= image_tag 'dash/audio.png', class: 'no-pdf-image-icon' %>
                <% elsif t.task.pdf_type == 'image' %>
                    <%= image_tag 'dash/image-icon.png', class: 'no-pdf-image-icon' %>
                <% elsif t.task.pdf_type == 'video' %>
                    <%= image_tag 'dash/video-icon.png', class: 'no-pdf-image-icon' %>
                <% elsif t.task.pdf_type == 'audio' %>
                    <%= image_tag 'dash/audio.png', class: 'no-pdf-image-icon' %>
                <% end %>
            </div>
        <% end %>
        <% end %>
    </div>
    <% end %>
    <% if @pitch.tasks.count == 0 %>
    <div class="left-card card add-first-task selected" onclick='addTask()'>
        <%= image_tag 'dash/icons/circle-plus-green.svg' %>
        <div class="title">Add first slide</div>
    </div>
    <% end %>
