<div class="card left-card <%= @task && @task.id == t.task_id ? 'selected' : '' %>"
        id="task_<%= t.task_id %>" draggable="true" ondragstart="drag(event)"
        ondrop="dropOrder(event, <%= t.order %>)" ondragleave="leaveDrop(event)" ondragover="allowDrop(event)"
        data-id="<%= t.id %>">
        <div class="task-link" onclick="selectTask(<%= t.task_id %>)"></div>
        <% if t.task.task_type != "slide" %>
        <div class="task-title">
            <div class="select-task-link" onclick="selectTask(<%= t.task_id %>)"></div>
            <% if t.task.task_type.present? %>
                <% if ((t.task.task_type == 'catchword' && t.task&.catchword_list&.catchwords.present?) || (t.task.task_medium.present? && t.task.task_medium.media_type == 'video' && t.task.task_medium.video_url_id.present?) || (t.task.task_medium.present? &&  (t.task.task_medium.video.present? || t.task.task_medium.audio.present? || t.task.task_medium.image.present?))) %>
                    <% if t.task.title.present? %>    
                        <input type="hidden" class="exclamation-triangle" value="0">
                        <i class="fas fa-exclamation-triangle" style="display: none"></i>
                    <% else %>
                        <input type="hidden" class="exclamation-triangle" value="0">
                        <i class="fas fa-exclamation-triangle"></i>
                    <% end %>
                <% else %>
                    <input type="hidden" class="exclamation-triangle" value="1">
                    <i class="fas fa-exclamation-triangle"></i>
                <% end %>
            <% else %>
                <input type="hidden" class="exclamation-triangle" value="2">
                <i class="fas fa-exclamation-triangle"></i>
            <% end %>
            <div class="name"><%= t.order %>. Task</div>
            <%= link_to '', delete_task_path(@pitch, t.id), class: 'fas fa-trash remove remove-task', data: {confirm: 'Willst du die Aufgabe wirklich löschen?'}%>
            <%= link_to '', copy_task_path(@pitch, t.id), class: 'fas fa-copy copy copy-task' %>
        </div>
        <div class="task-subtitle task-name">
            <%= t.task.title %>
            <%# media_type = t.task.task_medium&.media_type&.titleize %>
            <%#= media_type = media_type.present? ? media_type : t.task.task_type&.titleize %>
        </div>
        <% if t.task.task_medium && t.task.task_medium.video? %>
        <% image_url = t.task.task_medium.video.thumb.url %>
        <% elsif t.task.task_medium && t.task.task_medium.image? %>
        <% image_url = t.task.task_medium.image.url %>
        <% else %>
        <% image_url = nil %>
        <% end %>
        <div class="thumb <%= 'thumb-border' unless image_url.present? %>">
            <% if (t.task.task_medium && (t.task.task_medium.video? || t.task.task_medium.video_url_id?)) %>
            <% if t.task.task_medium.video_url_id? %>
            <%= image_tag t.task.task_medium.video_img, class: 'image' %>
            <% else %>
            <%= image_tag t.task.task_medium.video.thumb.url, class: 'image' %>
            <% end %>
            <i class="fa fa-play-circle video-play-thumb"></i>
            <% elsif t.task.task_medium && t.task.task_medium.image? %>
            <%= image_tag t.task.task_medium.image.url, class: 'image' %>
            <% elsif t.task.task_medium && t.task.task_medium.audio? %>
            <i class="fab fa-itunes-note no-image-icon no-image-audio-icon"></i>
            <% else %>
            <%= image_tag 'dash/no-image-icon.png', class: 'no-image-icon' %>
            <% end %>
            <% if t.task.time %>
            <div class="length">
                <%= (t.task.time / 60).to_s %>:<%= (t.task.time % 60) < 10 ? '0' + (t.task.time % 60).to_s : (t.task.time % 60).to_s %>
            </div>
            <% else %>
            <div class="length">1:20</div>
            <% end %>
        </div>
        <div class="task-subtitle">Rating criteria:</div>
        <div class="rating-criteria">
            <% 4.times do |index| %>
                <% if t.task["rating#{index+1}"].present? %>
                    <div class="criterium rating<%= index+1 %>"><%= t.task["rating#{index+1}"] %></div>
                <% else %>
                    <div class="criterium rating<%= index+1 %>">-</div>
                <% end %>
            <% end %>
        </div>
        <% else %>
        <div class="task-title slide-title">
            <div class="select-task-link" onclick="selectTask(<%= t.task_id %>)"></div>
            <div class="name"><%= t.order %>. Slide</div>
            <%= link_to '', delete_task_path(@pitch, t.id), class: 'fas fa-trash remove', data: {confirm: 'Willst du die Aufgabe wirklich löschen?'}%>
            <%= link_to '', copy_task_path(@pitch, t.id), class: 'fas fa-copy copy' %>
        </div>
        <div class="task-subtitle task-name">
            <%= t.task.title %>
        </div>
        <% if t.task.task_medium && (t.task.task_medium.image? || t.task.task_medium.video? || t.task.task_medium.video_url_id?) %>
            <div class="thumb slide">
                <% if t.task.task_medium && t.task.task_medium.video? %>
                <%= image_tag t.task.task_medium.video.thumb.url %>
                <i class="fa fa-play-circle video-play-thumb"></i>
                <% elsif t.task.task_medium.video_url_id? %>
                <%= image_tag t.task.task_medium.video_img, class: 'image' %>
                <i class="fa fa-play-circle video-play-thumb"></i>
                <% elsif t.task.task_medium && t.task.task_medium.image? %>
                <%= image_tag t.task.task_medium.image.url %>
                <% else %>
                <%= image_tag 'dash/Image.png' %>
                <% end %>
            </div>
        <% else %>
            <div class="thumb thumb-border slide">
                <%= image_tag 'dash/no-image-icon.png', class: 'no-image-icon' %>
            </div>
        <% end %>
        <% end %>
    </div>