<!-- <script type="text/javascript">
	function checkOverflow(ID) {
		element = document.getElementById(ID);
		if( element.offsetHeight < element.scrollHeight ) {
			$("#"+ID + ' .ellipsis').show();
		}
	}
</script> -->
<div id="libraryModal" class="modal hide">
	<div class="modal-content pitch-modal-content">
		<!-- <span class="close">&times;</span> -->
        <%= image_tag 'dash/new_icons/close.svg', class: 'close-modal close' %>
		<div class="heading">
			<h3>Text, Video oder Bild hinzufügen!</h3>
		</div>
		<div class="card" id="content_card">
			<div class="head">
				<% if @folder %>
				<h3><span onclick="openFolder(null, 'first')">Libary</span> <% if @folder.content_folder %><% if @folder.content_folder.content_folder %><i class="fas fa-caret-right"></i> <span>...</span> <% end %><i class="fas fa-caret-right"></i> <span onclick="openFolder('<%= @folder.content_folder_id %>')"><%= @folder.content_folder.name %></span> <% end %><i class="fas fa-caret-right"></i> <span><%= @folder.name %></span></h3>
				<% else %>
				<h3>Mein Content</h3>
				<div class="search">
					<!-- <i class="fas fa-search"></i> -->
					<%= image_tag 'dash/new_icons/search.svg', class: 'search-img' %>
					<input type="text" placeholder="Content durchsuchen" id="searchContent" class="form-field">
				</div>
				<% end %>
			</div>
			<div id="scrollcontent">
			<% if folders.count != 0 %>
			<div class="folders">
				<h3>Ordner</h3>
				<% folders.each do |f| %>
					<div class="card">
						<img src="<%= asset_path 'dash/icons/folder.svg' %>" alt="" onclick="openFolder('<%= f.id %>')">
						<div class="title" id="title_<%= f.id %>"><%= f.name %><div class="ellipsis">...</div></div>
						<div class="author"><%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
					</div>
				<% end %>
				<!-- <script type="text/javascript">
					<% folders.each do |f| %>
						checkOverflow('title_<%= f.id %>');
					<% end %>
				</script> -->
			</div>
			<% end %>
			<% if files.count != 0 %>
			<div class="files">
				<h3>Dateien</h3>
				<% files.each do |f| %>
					<% if f[f.media_type.to_sym].present? %>			
					<div class="card" onclick="addMediaContent('<%= task_id %>', '<%= f.id  %>', '<%= f.media_type %>')">
						<div class="thumb" data-type="<%= f.media_type %>" data-id="<%= f.id %>">
								<% if f.media_type == 'video' %>
									<%= image_tag f.video.thumb.url,  class: 'image' %>
									<i class="fas fa-play-circle"></i>
								<% elsif f.media_type == 'image' %>
									<% if f.image.present? %>
									<%= image_tag f.image.url,  class: 'image' %>
									<% end %>
								<% elsif f.media_type == 'audio' %>
									<div class="audio-image">
										<%= image_tag 'dash/audio.png' %>
									</div>
								<% elsif f.media_type == 'pdf' %>
								<% end %>

						</div>
						<div class="text">
								<div class="title" id="media_title_<%= f.id %>"><%= f.title %><div class="ellipsis">...</div></div>
								<% if f.media_type == 'video' %>
								<div class="time"><%= image_tag 'dash/video-icon.png' %><%= (f.duration / 60).to_s + ':' + (f.duration % 60).to_s %> - <%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
								<% elsif f.media_type == 'audio' %>
								<div class="time"><%= image_tag 'dash/audio.png' %><%= (f.duration / 60).to_s + ':' + (f.duration % 60).to_s %> - <%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
								<% else %>
								<div class="time"><%= image_tag 'dash/image-icon.png' %><%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
								<% end %>
						</div>
					</div>
					<% end %>
					<!-- <script type="text/javascript">
						checkOverflow('media_title_<%= f.id %>');
					</script> -->
				<% end %>
			</div>
			<% end %>
			</div>
		</div>
		<% if @video %>
			<div class="background-blur">


			<div class="content-popup video">
				<%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeContentPopup()' %>
				<%= form_for :task_medium, url: update_media_path(@video.id), html: {id: 'video_update-form'} do |f| %>
				<div class="form-group">
					<%= f.text_field :title, value: @video.title, class: 'form-field' %>
				</div>
				<%= video_tag @video.video, controls: true, autoplay: true %>
				<div class="btns">
					<div class="btn inverted left" onclick='closeContentPopup()'>Cancel</div>
					<%= f.submit 'speichern', class: 'btn' %>
				</div>
				<% end %>
			</div>
			</div>
			<script type="text/javascript">
				$('#video_update-form').on('submit', function(e) {
					e.preventDefault();
					var URL = '<%= update_media_path(@video) %>';
					var formData = new FormData(document.getElementById('video_update-form'));
					$.ajax({
						url: URL,
						type: "post",
						cache: false,
						async: true,
						contentType: false,
						processData: false,
						data: formData,
						beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
						success: function (res) {
							location.replace('<%= dashboard_customize_path %>');
						}
					})
				})
			</script>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	new PerfectScrollbar('#scrollcontent');

	function openFolder(folder_id, type = '') {
        $.ajax({
            url: '<%= select_folder_path(@pitch) %>',
            type: 'GET',
            dataType: "script",
            data: {
                folder_id: folder_id,
				type: type
            },
            success: function (res) {
            }
        })
	}

	function addMediaContent(task_id, media_id, media_type) {
		global_task_id = task_id;
		global_media_id= media_id;
		global_media_type = media_type;
		global_method = 'library';
		if ($('.selected').find('.slide-title .name').text() == "") {
			if (isOtherMediaExists()) {
				$('#libraryModal').hide();
				$('.warning-card-wrapper').show();
			} else {
				$('.warning-card-wrapper').hide();
				uploadMediaContent(task_id, media_id, media_type);
			}
		} else {
			uploadMediaContent(task_id, media_id, media_type);
		}
	}
	
	function uploadMediaContent(task_id, media_id, media_type) {
        $.ajax({
            url: '<%= add_media_content_path(@pitch) %>',
            type: 'GET',
            dataType: "json",
            data: {
				task_id: task_id,
				media_id: media_id,
				media_type: media_type,
				selected_media_type: $('.active.option').text() !== "" ? $('.active.option').text().trim().toLowerCase() : "",
				pdf_media_type: $('.selected').find('.slide-title .name').text() !== "" ? $('.selected').find('.slide-title .name').text().split('-')[1].trim().toLowerCase() : ""				
            },
            success: function (res) {
			var URL = `/dashboard/pitches/${res.id}/edit?task_id=${res.task_id}`;
			location.replace(URL);
            }
        })
    }

    $('.close').on('click', function() {
        $('#libraryModal').hide();
	})
	
	$('#searchContent').on('keyup', function() {
		var searchVal = $('#searchContent').val();

		var URL = '<%= search_content_path %>';
		$.ajax({
			url: URL,
			type: 'post',
			data: { search: searchVal },
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function (res) {
				var foldersDiv = '<h3>Ordner</h3>';
				if(res.folders.length > 0) {
					$('.folders').show();
					res.folders.forEach(function(item) {
						var userDiv = '<div class="card">';
						userDiv += '<img src="<%= asset_path 'dash/icons/folder.svg' %>" alt="" onclick="redirectFolder('+item["id"]+')">';
						userDiv += '<div class="title" id="title_'+item["id"]+'">'+item["title"]+'<div class="ellipsis">...</div></div>';
						userDiv += '<div class="author">'+item["author"]+'</div>'
						userDiv += '</div>';
						foldersDiv += userDiv;
					})
					$('.folders').html(foldersDiv);
				}	else {
					$('.folders').hide();
				}
				var filesDiv = '<h3>Dateien</h3>';
				if(res.files.length > 0) {
					$('.files').show();
					res.files.forEach(function(item) {
						var userDiv = '<div class="card">';
						userDiv += '<div class="thumb" data-type="'+item["type"]+'" data-id="'+item["id"]+'" onclick="showMedia(this)">';
						if( item["type"] == 'video') {
							userDiv += '<img src="'+item["thumb"]+'" alt="" class="image"><i class="fas fa-play-circle"></i>';
						} else if ( item["type"] == 'image' ){
							userDiv += '<img src="'+item["thumb"]+'" alt="" class="image">';
						} else if ( item["type"] == 'audio' ) {
							userDiv += '<div class="audio-image"><%= image_tag 'dash/audio.png' %></div>';
						}
						userDiv += '</div><div class="text">';
						userDiv += '<div class="title" id="media_title_'+item["id"]+'">'+item["title"]+'<div class="ellipsis">...</div></div>';
						if( item["type"] == 'video') {
							userDiv += '<div class="time"><%= image_tag 'dash/video-icon.png' %>'+item["duration"]+' - '+item["author"]+'</div>';
					  } else if( item["type"] == 'audio') {
							userDiv += '<div class="time"><%= image_tag 'dash/audio.png' %>'+item["author"]+'</div>';
						} else if( item["type"] == 'image') {
							userDiv += '<div class="time"><%= image_tag 'dash/image-icon.png' %>'+item["duration"]+' - '+item["author"]+'</div>';
						}
						userDiv += '</div>';
						userDiv += '</div>';
						filesDiv += userDiv;
					})
					$('.files').html(filesDiv);
				}	else {
					$('.files').hide();
				}
			},
		})

	})
	function showMedia(e) {
		var type = $(e).attr('data-type');
		var mediaID = $(e).attr('data-id');
		location.replace('?' + type + '=' + mediaID);
	}
	function closeContentPopup() {
		$('.background-blur').hide();
	}

</script>
