<div class="card" id="account">
	<h3><%= @admin.fname %> <%= @admin.lname %></h3>
	<%= form_for(:user, url: edit_user_path(@admin, site: "account"), html: {autocomplete: "off"}) do |f| %>
		<div class="form-group avatar">
			<label for="user_avatar">
				<%= image_tag @admin.avatar.url, id: 'avatar'%>
				<div class="hover"><i class="fas fa-plus"></i></div>
			</label>
			<%= f.file_field :avatar, id: 'user_avatar' %>
		</div>

		<div class="form-group half-left">
			<label for="">Vorname</label>
			<%= f.text_field :fname, value: @admin.fname, class: "form-field" %>
		</div>
		<div class="form-group half-right">
			<label for="">Nachname</label>
			<%= f.text_field :lname, value: @admin.lname, class: "form-field" %>
		</div>
		<div class="form-group half-left">
			<label for="">E-Mail</label>
			<%= f.email_field :email, value: @admin.email, class: 'form-field', autocomplete: false %>
		</div>
		<div class="form-group half-right">
			<label for="">Passwort ändern</label>
			<%= f.password_field :password, autocomplete: "new-password", class: 'form-field' %>
		</div>
		<%= f.submit 'speichern!', class: 'btn btn-green' %>
	<% end %>
</div>
<div class="popup" id="popup">
	<div class="img-container">
		<%= image_tag '', id: 'user_image' %>
	</div>
   	<div class="center">
    	<div class="btn btn-green" id="crop">speichern</div>
   	</div>
   	<div class="close" onclick="hidePopup()"><%= image_tag 'icons/close.svg' %></div>
</div>
<script>
	function showPopup() {
        $('#popup').show();
    }
    function hidePopup() {
        $('#popup').hide();
    }
	(function ($) {
	  $.each(['show', 'hide'], function (i, ev) {
	    var el = $.fn[ev];
	    $.fn[ev] = function () {
	      this.trigger(ev);
	      return el.apply(this, arguments);
	    };
	  });
	})(jQuery);
	var inputAvatar = document.getElementById('user_avatar');
	var image = document.getElementById('user_image');

	inputAvatar.addEventListener('change', function(e) {
		var files = e.target.files;
		var done = function(url) {
			inputAvatar.value = '';
			image.src = url;
			$('#popup').show();
		};
		var reader, file, url;
		if(files && files.length > 0) {
			file = files[0];
			if(URL) {
				done(URL.createObjectURL(file));
			} else if(FileReader) {
				reader = new FileReader();
				reader.onload = function(e) {
					done(reader.result);
				}
				reader.readAsDataURL(file);
			}
		}
	})
	$('#popup').on('show', function() {
		cropper = new Cropper(image, {
			aspectRatio: 1,
		});
	})
	$('#popup').on('hide', function() {
		cropper.destroy();
		cropper = null;
	})
	$('#crop').on('click', function() {
		var initialURL, canvas;
		if(cropper) {
			canvas = cropper.getCroppedCanvas({
				fillColor: "white",
				width: 500,
				height: 500,
			});
			initalURL = avatar.src;
			avatar.src = canvas.toDataURL();
			canvas.toBlob(function(blob) {
				var date = new Date().getTime();
				var file = new window.File([blob], 'avatar_'+date+'.jpg', {type: 'image/jpg'});
				var formData = new FormData();
				formData.append('file', file);
				uploadImage('avatar', formData);
			});
		};
	})
	function uploadImage(img, formData) {
		var url = '<%= update_avatar_user_path(@admin) %>';
		$.ajax({
			url: url,
			type: 'put',
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			data: formData,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				formData = new FormData();
				$('#avatar').data('url', res.file);
				$('#sidebarAvatar').attr('src', res.file);
				$('#popup').hide();
			}
		})

	}
</script>
