<%= image_tag 'dash/letspitch1.png', id: "pitch1" %>
<%= image_tag 'dash/letspitch2.png', id: 'pitch2' %>
<div class="card" id="letspitch">
	<h3>
		<%= link_to '', dashboard_path('', team: @team.id), class: 'fas fa-arrow-left back' %>
		Pitche nach deinen Regeln
	</h3>
	<%= form_for(:game, url: customize_game_path(@game)) do |f| %>
		<div id="scroll">
		<div class="form-group half-left-time">
			<label for="">Zeit pro Pitch</label>
			<div class="time-field">
				<%= f.hidden_field :game_seconds, value: 80 %>
				<div class="time" id="settime">1:20</div>
				<i class="fa fa-angle-up up" onclick="timeUp()"></i>
				<i class="fa fa-angle-down down" onclick="timeDown()"></i>
			</div>
		</div>
		<div class="form-group half-right-time">
			<label for="">Max. Anzahl Pitches</label>
			<div class="time-field">
				<%= f.hidden_field :max_users, value: 0 %>
				<div class="time" id="setusers">&infin;</div>
				<i class="fa fa-angle-up up" onclick="userUp()"></i>
				<i class="fa fa-angle-down down" onclick="userDown()"></i>
			</div>
		</div>
		<div class="form-group" id="catchwords">
			<label for="">Deine Catchwords</label>
			<div class="form-list">
				<div class="text">Original Peter's Catchwords</div>
				<i class="fas fa-plus-circle" onclick="showCL()"></i>
			</div>
			<div class="unselected-list">
				<% @uCL.each do |cw| %>
				<label for="game_word_list_<%= cw.id %>" onclick="moveCL(this)"><%= cw.name %></label>
				<input type="checkbox" name="game[word_list][]" value="<%= cw.id %>" multiple id="game_word_list_<%= cw.id %>">
				<% end %>
				<% @cCL.each do |cw| %>
				<label class="company" for="game_word_list_<%= cw.id %>" onclick="moveCL(this)"><%= cw.name %></label>
				<input type="checkbox" name="game[word_list][]" value="<%= cw.id %>" multiple id="game_word_list_<%= cw.id %>">
				<% end %>
				<% @pCL.each do |cw| %>
				<label class="game" for="game_word_list_<%= cw.id %>" onclick="moveCL(this)"><%= cw.name %></label>
				<input type="checkbox" name="game[word_list][]" value="<%= cw.id %>" multiple id="game_word_list_<%= cw.id %>">
				<% end %>
			</div>
		</div>
		<div class="form-group" id="objections">
			<label for="">Deine Einwände</label>
			<div class="form-list">
				<div class="text">Original Peter's Einwände</div>
				<i class="fas fa-plus-circle" onclick="showOL()"></i>
			</div>
			<div class="unselected-list">
				<% @uOL.each do |ob| %>
				<label for="game_objection_list_<%= ob.id %>" onclick="moveOL(this)"><%= ob.name %></label>
				<input type="checkbox" name="game[objection_list][]" value="<%= ob.id %>" multiple id="game_objection_list_<%= ob.id %>">
				<% end %>
				<% @cOL.each do |ob| %>
				<label class="company" for="game_objection_list_<%= ob.id %>" onclick="moveOL(this)"><%= ob.name %></label>
				<input type="checkbox" name="game[objection_list][]" value="<%= ob.id %>" multiple id="game_objection_list_<%= ob.id %>">
				<% end %>
				<% @pOL.each do |ob| %>
				<label class="game" for="game_objection_list_<%= ob.id %>" onclick="moveOL(this)"><%= ob.name %></label>
				<input type="checkbox" name="game[objection_list][]" value="<%= ob.id %>" multiple id="game_objection_list_<%= ob.id %>">
				<% end %>
			</div>
		</div>
		<div class="form-group" id="scores">
			<label for="">Deine Scores</label>
			<div class="form-list">
				<div class="text">Original Peter's Scores</div>
				<i class="fas fa-plus-circle" onclick="showRL()"></i>
			</div>
			<div class="unselected-list">
				<% @uRL.each do |sc| %>
				<label for="game_rating_list_<%= sc.id%>" onclick="moveRL(this)"><%= sc.name %></label>
				<input type="radio" name="game[rating_list_id]" value="<%= sc.id %>" multiple id="game_rating_list_<%= sc.id %>">
				<% end %>
				<% @cRL.each do |sc| %>
				<label class="company" for="game_rating_list_<%= sc.id%>" onclick="moveRL(this)"><%= sc.name %></label>
				<input type="radio" name="game[rating_list_id]" value="<%= sc.id %>" multiple id="game_rating_list_<%= sc.id %>">
				<% end %>
				<% @pRL.each do |sc| %>
				<label class="game" for="game_rating_list_<%= sc.id%>" onclick="moveRL(this)"><%= sc.name %></label>
				<input type="radio" name="game[rating_list_id]" value="<%= sc.id %>" multiple id="game_rating_list_<%= sc.id %>">
				<% end %>
			</div>
		</div>
		<div class="checkbox-container">
			<%= f.hidden_field(:skip_elections) %>
			<div class="form-group">
				<label for="">Nutzerauswahl vor Pitch</label>
				<div class="skip-election-group">
					<label for="">Skip Election</label>
					<i class="far fa-square"></i>
				</div>
			</div>
		</div>
		</div>
		<%= f.submit 'starten!', class: 'btn btn-green' %>
	<% end %>
</div>

<script>

	$('.far').on('click', function() {
		if ($(this).hasClass('fa-square')) {
			$(this).removeClass('fa-square').addClass('fa-check-square')
            $('#game_skip_elections').attr('value', 'true')
		} else {
			$(this).removeClass('fa-check-square').addClass('fa-square')
            $('#game_skip_elections').attr('value', 'false')
		}
	})

	new PerfectScrollbar("#scroll");
	function timeUp() {
		var value = $('#game_game_seconds').val();
		if (value < 300) {
			value = parseInt(value);
			value = value + 5;
			var min = Math.floor(value / 60).toString();
			var sec = Math.floor(value % 60).toString();
			if (sec == '0') {sec = '00'}
			if (sec == '5') {sec = '05'}
			$('#settime').text(min + ':' + sec);
			$('#game_game_seconds').val(value);
		}
	}
	function timeDown() {
		var value = $('#game_game_seconds').val();
		if (value > 10) {
			value = parseInt(value);
			value = value - 5;
			var min = Math.floor(value / 60).toString();
			var sec = Math.floor(value % 60).toString();
			if (sec == '0') {sec = '00'}
			if (sec == '5') {sec = '05'}
			$('#settime').text(min + ':' + sec);
			$('#game_game_seconds').val(value);
		}
	}
	function userUp() {
		var value = $('#game_max_users').val();
		value = parseInt(value);
		value++;
		$('#game_max_users').val(value);
		$('#setusers').text(value);
	}
	function userDown() {
		var value = $('#game_max_users').val();
		var infinite = "&infin;";
		value = parseInt(value);
		if (value == 0) {
			$('#setusers').html(infinite);
		} else if (value == 1) {
			$('#setusers').html(infinite);
			$('#game_max_users').val(0);
		} else {
			value--;
			$('#game_max_users').val(value);
			$('#setusers').text(value);
		}
	}
	function showCL() {
		$('#catchwords .unselected-list').toggle();
	}
	function moveCL(e) {
		var id = e.getAttribute('for');
		var checkbox = document.getElementById(id);
		if (checkbox.checked) {
			$('#catchwords .unselected-list').append(e)
			if ($('#catchwords .form-list').children('label').length == 0) {
				$('#catchwords .form-list .text').show();	
			}
		} else {
			$('#catchwords .form-list .text').hide();
			$('#catchwords .form-list').append(e);
			$('#catchwords .unselected-list').toggle();
		}
	}
	function showOL() {
		$('#objections .unselected-list').toggle();
	}
	function moveOL(e) {
		var id = e.getAttribute('for');
		var checkbox = document.getElementById(id);
		if (checkbox.checked) {
			$('#objections .unselected-list').append(e)
			if ($('#objections .form-list').children('label').length == 0) {
				$('#objections .form-list .text').show();	
			}
		} else {
			$('#objections .form-list .text').hide();
			$('#objections .form-list').append(e);
			$('#objections .unselected-list').toggle();
		}
	}
	function showRL() {
		$('#scores .unselected-list').toggle();
	}
	function moveRL(e) {
		var id = e.getAttribute('for');
		var checkbox = document.getElementById(id);
		if (!checkbox.checked) {
			$('#scores .form-list .text').hide();
			$('#scores .form-list label').each(function() {
				$('#scores .unselected-list').append($(this));
			})
			$('#scores .form-list').append(e);
			$('#scores .unselected-list').toggle();
		}
	}
</script>
