<section id="new-pitch-navbar">
    <h1>Pitch erstellen</h1>
    <div class="form-group">
        <input type="text" placeholder="Type pitch name here" class="form-field">
        <button class="btn">Regeln</button>
    </div>
    <div class="btn-group">
        <%= link_to 'Exit', dashboard_pitches_path, class: 'btn reversed'%>
        <%#= link_to 'Done', dashboard_pitches_path, class: 'btn' %>
        <button class="btn done-btn open-modal" data-modal="pitchModal">Done</button>
    </div>
</section>

<div id="new-pitch-content">

    <div class="card left">

        <div class="tasks">
            <div class="card selected">
                <div class="task-title">
                    <i class="fas fa-exclamation-triangle"></i>
                    <div class="name">Task 1</div>
                    <i class="fas fa-circle"></i>
                    <div class="category">Video</div>
                    <i class="fas fa-trash remove"></i>
                    <i class="fas fa-copy copy"></i>
                </div>
                <div class="thumb">
                    <%= image_tag 'dash/Image.png' %>
                    <div class="length">120</div>
                </div>
                <div class="title">Type your question</div>
                <div class="sub-title">Rating Criteria</div>
                <div class="rating-criteria">
                    <div class="criterium">Rhethorik</div>
                    <div class="criterium">Spontanität</div>
                    <div class="criterium">Diversität</div>
                    <div class="criterium">Körpersprachenkasper</div>
                </div>
            </div>

            <div class="card">
                <div class="task-title">
                    <i class="fas fa-exclamation-triangle"></i>
                    <div class="name">Task 1</div>
                    <i class="fas fa-circle"></i>
                    <div class="category">Video</div>
                    <i class="fas fa-trash remove"></i>
                    <i class="fas fa-copy copy"></i>
                </div>
                <div class="thumb">
                    <%= image_tag 'dash/Image.png' %>
                    <div class="length">120</div>
                </div>
                <div class="title">Type your question</div>
                <div class="sub-title">Rating Criteria</div>
                <div class="rating-criteria">
                    <div class="criterium">Rhethorik</div>
                    <div class="criterium">Spontanität</div>
                    <div class="criterium">Diversität</div>
                    <div class="criterium">Körpersprache</div>
                </div>
            </div>
        </div>
        <div class="menu-box">
            <div class="menu menu-1">Add task</div>
            <div class="menu task-pitch">Add task from existing pitch</div>
            <div class="menu menu-1">Import PDF</div>
        </div>
        <div class="add-task">
            <%= image_tag 'dash/icons/circle-plus-green.svg' %>
        </div>

    </div>

    <div class="card right">
        <%= render partial: 'new_pitch_content', locals: { pitch: @pitch } %>
        <%= render 'browse_tasks' %>
    </div>

    <!-- The Modal -->
    <div id="pitchModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="heading">
                <h1>Headline</h1>
            </div>
            <div class="inner-content">
                <div class="left-section">
                    <div class="pitch-title">
                        <label for="">Pitch</label>
                        <div class="form-group">
                            <input type="text" placeholder="Pitch title" class="form-field">
                        </div>
                    </div>
                    <div class="pitch-description">
                        <label for="">Description</label>
                        <div class="form-group">
                            <textarea class="form-field" placeholder="Pitch description"></textarea>
                        </div>
                    </div>
                    <div class="hr-line"></div>
                    <div class="checkbox-container">
                        <%#= f.hidden_field(:show_ratings) %>
                        <div class="form-group" id="show_ratings">
                            <label for="">Bewertungsausgabe (nach jedem Pitch)</label>
                            <div class="skip-election-group">
                                <label for="">Gesamtbewertung anzeigen</label>
                                <i class="far fa-check-square" id="ratings_all" onclick="changeShowRating('all')"></i>
                            </div>
                            <div class="skip-election-group">
                                <label for="">Keine Bewertung anzeigen</label>
                                <i class="far fa-square" id="ratings_none" onclick="changeShowRating('none')"></i>
                            </div>
                            <div class="skip-election-group">
                                <label for="">Bewertung von einer bestimmten Person anzeigen</label>
                                <i class="far fa-square" id="ratings_one" onclick="changeShowRating('one')"></i>
                            </div>
                            <div class="skip-election-group">
                                <label for="">Bewertung überspringen</label>
                                <i class="far fa-square" id="ratings_skip" onclick="changeShowRating('skip')"></i>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line"></div>
                    <div class="toggle-wrapper toggle-sound">
                        <label for="">Pitch sound</label>
                        <div class="toggle-my-ratings toggle-my-ratings-1">
                            <div class="toggle toggle-game right-side" onclick="soundCheck()">
                                <div class="dot"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line"></div>
                    <div class="toggle-wrapper toggle-sound">
                        <label for="">Election of next pitch user</label>
                        <div class="toggle-my-ratings toggle-my-ratings-1">
                            <div class="toggle toggle-game right-side" onclick="soundCheck()">
                                <div class="dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="picture">
                        <label for="">Pitch image</label>
                        <div class="btn upload">Upload</div>
                        <div class="preview">
                            <div class="remove">remove</div>
                            <%= image_tag 'dash/Image.png' %>
                        </div>
                    </div>
                    <div class="hr-line"></div>
                    <div class="video">
                        <label for="">Pitch video</label>
                        <div class="btn upload">Upload</div>
                        <div class="preview">
                            <div class="time">00:16:45</div>
                            <div class="remove">remove</div>
                            <%= image_tag 'dash/Image.png' %>
                        </div>
                    </div>
                    <div class="hr-line"></div>
                    <div class="video-form">
                        <label for="">You can also past a link to your video on Youtube or Vimeo</label>
                        <div class="form-group">
                            <input type="text" placeholder="Youtube/Vimeo link" class="form-field">
                            <%= image_tag 'dash/icons/circle-plus-green.svg', class: 'add' %>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <%= link_to 'Save', dashboard_pitches_path, class: 'btn' %>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="videoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="heading">
                <h1>Record your video</h1>
            </div>
            <div class="inner-content">
                <div class="video-img">
                    <%= image_tag 'dash/Video.png' %>
                </div>
                <div class="buttons">
                    <a href="" class="btn reversed">Cancel</a>
                    <a href="" class="btn">Upload</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#navbar').hide();
    $('#pitches').hide();
    $('.modal').hide();

    $('.add-task').click(function () {
        $('.menu-box').toggle()
    })

    $('.task-pitch').click(function() {
        $('#pitches').show()
        $('#newPitch').hide();
        $('.menu-box').hide()
    })

    $('.video-record').click(function () {
        $('#videoModal').show()
    })
    function chooseCatchword(type) {
        $('.add-catchword .btn-line .btn.selected').removeClass('selected');
        $('.add-catchword .catchword').hide();
        $('.add-catchword .picture').hide();
        $('.add-catchword .video').hide();
        $('.add-catchword .audio').hide();
        $('#btn_' + type).addClass('selected');
        $('.add-catchword .' + type).show();
    }

    $('.open-modal').click(function (e) {
        e.stopPropagation();
        let modalId = $(this).data("modal");
        let $modal = $("#" + modalId);
        $modal.show();
    })

    $('.close').click(function () {
        $('.modal').hide()
    })

    // $(body).click(function(event) { 
    //     $target = $(event.target);
    //     if(!$target.closest('.modal').length && 
    //     $('.modal').is(":visible")) {
    //         $('.modal').hide();
    //     }        
    // });

</script>