<div class="card" id="pitches">
    <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Pitch suche" id="searchPitch" class="form-field">
    </div>
    <h3>Pitches</h3>
    <h5>Hier ist eine Liste deiner Pitchvorlagen</h5>
    <div class="pitches" id="pitch-list">
        <% @pitches.each do |pitch| %>
        <div class="card" id="pitch">
            <div class="thumb">
                <% if pitch.image? %>
                <%= image_tag pitch.image.url, class: 'pitch-placeholder-img' %>
                <% else %>
                <%= image_tag 'dash/pitch_placeholder.png', class: 'pitch-placeholder-img' %>
                <% end %>
                <%= link_to '', delete_unsave_pitch_path(pitch), class: 'fas fa-trash remove remove-pitch remove-task', data: {confirm: 'Willst du die Aufgabe wirklich löschen?'}%>
            </div>
            <div class="title"><%= pitch.title %></div>
            <div class="subtitle">
                Slide: <%= pitch.tasks.where(task_type: 'slide').size + pitch.tasks.where.not(task_type: 'slide').size %>,
                Tasks: <%= pitch.tasks.where.not(task_type: 'slide').size %>
            </div>
            <div class="buttons">
                <%= link_to 'Edit', dashboard_edit_pitch_path(pitch), class: 'btn reversed', data: { turbolinks: false } %>
                <%= link_to 'Pitch', dashboard_pitches_path('', pitch_id: pitch.id), class: 'btn' %>
            </div>
        </div>
        <% end %>
        <!-- </a> -->
        <div class="card" id="newpitch">
            <%= link_to image_tag('dash/icons/circle-plus-green.svg'), dashboard_new_pitch_path %>
            <div class="title">Create new Pitch</div>
        </div>
    </div>
</div>
<% if @pitch && !@game.present? %>
<div class="blur">
    <div class="card" id="letspitch">
        <span class="close">&times;</span>
        <h1>Jetzt Pitch starten!</h1>
        <%= form_for(:game, url: new_game_path) do |f| %>
        <%= f.hidden_field :pitch_id, value: @pitch.id %>
        <div class="form-group">
            <label for="">
                Team
                <% if flash[:team_id] %>
                <span class="right red">
                    <%= flash[:team_id] %>
                </span>
                <% else %>
                <span class="right green" id="createTeam" onclick="showTeam()">
                    Team erstellen!
                </span>
                <% end %>
            </label>
            <select name="game[team_id]" id="game_team_id" class="custom-select <%= flash[:team_id] ? 'red' : '' %>">
                <% if !@team %>
                <option value="" selected disabled>Team wählen!</option>
                <% end %>
                <% @teams.each do |t| %>
                <option value="<%= t.id %>" <%= @team && @team.id == t.id ? 'selected' : '' %>><%= t.name %></option>
                <% end %>
            </select>
        </div>
        <div class="form-group">
            <label for="">
                Pitch-URL
                <% if flash[:game_url] %>
                <span class="right red">
                    <%= flash[:game_url] %>
                </span>
                <% end %>
            </label>
            <div class="form-field <%= flash[:game_url] ? 'red' : '' %>">
                <div class="text">peterpitch.com/</div>
                <%= f.text_field :password, class: 'custom-url-field' %>
            </div>
            <%= f.submit 'weiter!', class: 'btn btn-green' %>
        </div>
        <% end %>
    </div>
    <div class="card" id="newteam">
        <h1>Team erstellen!</h1>
        <%= form_for(:team, url: new_team_path) do |f| %>
        <%= f.hidden_field :site, value: 'pitch' %>
        <div class="form-group">
            <label for="">
                Name
                Name
                <% if flash[:team_name] %>
                <span class="right red">
                    <%= flash[:team_name] %>
                </span>
                <% end %>
            </label>
            <%= f.text_field :name, class: 'form-field' %>
        </div>
        <%= f.submit 'erstellen!', class: 'btn btn-green' %>
        <% end %>
    </div>
</div>
<script>
    function showTeam() {
        $('#letspitch').toggle();
        $('#newteam').toggle();
    }

    $('.close').on('click', function() {
        $('.blur').hide();
    })
</script>
<% end %>
<% if @game %>
<div class="blur">
    <div class="card" id="letspitch">
        <span class="close">&times;</span>
        <h3>
            <%= link_to '', dashboard_pitches_path('', pitch_id: @pitch.id), class: 'fas fa-arrow-left back' %>
            Pitche nach deinen Regeln
        </h3>
        <%= form_for(:game, url: customize_game_path(@game.id)) do |f| %>
        <div id="scroll">
            <div class="checkbox-container">
                <%= f.hidden_field :game_sound, value: true %>
                <div class="form-group">
                    <label for="">Pitch Sound</label>
                    <div class="skip-election-group">
                        <label for="">Pitch Sound 1</label>
                        <i class="far fa-check-square" onclick="changeSound()" id="pitch_sound"></i>
                    </div>
                </div>
            </div>
            <div class="checkbox-container">
                <%= f.hidden_field(:skip_rating_timer) %>
                <div class="form-group" id="skip_rating_timer">
                    <label for="">Beenden der Bewertungsabgabe</label>
                    <div class="skip-election-group">
                        <label for="">automatisch nach 15s</label>
                        <i class="far fa-check-square" id="skip_rating_timer_timer"
                            onclick="changeRatingTimer('timer')"></i>
                    </div>
                    <div class="skip-election-group">
                        <label for="">manuell durch Admin</label>
                        <i class="far fa-square" id="skip_rating_timer_admin" onclick="changeRatingTimer('admin')"></i>
                    </div>
                </div>
            </div>

        </div>
        <%= f.submit 'starten!', class: 'btn btn-green' %>
        <% end %>
    </div>
</div>
<script>
    new PerfectScrollbar("#scroll");
    $('.close').on('click', function() {
        $('.blur').hide();
    })
</script>
<% end %>

<script>

    $(document).click(function (e) {
        if ($(e.target).is('.blur')) {
            $('.blur').hide();
        }
    });

    var pitches_count = '<%= @pitches&.count %>'
    console.log(pitches_count)
    if (pitches_count !== '') {
        if (Number(pitches_count) >= 10) {
            new PerfectScrollbar('#pitch-list');
        }
    }

    function handleClick(e) {
        if ($(e.target).attr('class') === 'card') {
            $(e.target).find('.btn.reversed').click();
        } else {
            $(e.target).closest('.card').find('.btn.reversed').click();
        }
    }

    $("#searchPitch").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#pitch-list .card .title").filter(function () {
            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    function changeSound() {
        if ($("#pitch_sound").hasClass('fa-square')) {
            $("#pitch_sound").removeClass('fa-square').addClass('fa-check-square')
            $('#game_game_sound').attr('value', 'true')
        } else {
            $("#pitch_sound").removeClass('fa-check-square').addClass('fa-square')
            $('#game_game_sound').attr('value', 'false')
        }
    }

    $('#game_skip_rating_timer').attr('value', 'false');
    function changeRatingTimer(type) {
        if (type === 'timer') {
            $('#skip_rating_timer_admin').removeClass('fa-check-square');
            $('#skip_rating_timer_admin').addClass('fa-square');
            $('#skip_rating_timer_timer').removeClass('fa-square');
            $('#skip_rating_timer_timer').addClass('fa-check-square');
            $('#game_skip_rating_timer').attr('value', 'false');
        } else {
            $('#skip_rating_timer_timer').removeClass('fa-check-square');
            $('#skip_rating_timer_timer').addClass('fa-square');
            $('#skip_rating_timer_admin').removeClass('fa-square');
            $('#skip_rating_timer_admin').addClass('fa-check-square');
            $('#game_skip_rating_timer').attr('value', 'true');
        }
    }
</script>
