<% content_for :heading do |d| %>
<div class="back">
	<%= link_to inline_svg_tag('dash/new_icons/back.svg', class: 'back-arrow-icon'), dashboard_video_path %>
</div>
<div class="search">
	<%= inline_svg_tag 'dash/new_icons/search.svg', class: 'search-icon' %>
	<input type="text" placeholder="Pitch Videos durchsuchen" id="searchContent">
</div>
	<div class="heading">
		Pitch Videos
	</div>
<% end %>
<div class="card pitch-video">
	<div class="left">
		<div class="user">
			<%= image_tag @turn.user.avatar.url %>
			<%= @turn.user.fname %> <%= @turn.user.lname %> - <%= @turn.created_at.strftime("%d.%m.%y") %>
		</div>
		<div class="video-title-wrapper">
			<h3 class="pitch-video-title"><%= @turn&.task&.title %></h3>
		</div>
		<div class="media-wrapper">
			<% card_class = (@task.task_type == 'audio' || @task.task_type == 'image') && @task.valide ? 'card-full-width' : '' %>
			<div class="card <%= (@task.task_type == 'catchword' || !@task.valide) ? 'card-cw' : '' %> <%= card_class %>">
				<div class="length">
					<%= (@task.time / 60).to_s %>:<%= (@task.time % 60) < 10 ? '0' + (@task.time % 60).to_s : (@task.time % 60).to_s %>
				</div>
				<% if @task.task_type == 'catchword' %>
					<h2><%= @turn.list_entry ? @turn.list_entry.name : 'Inhalt wurde gelöscht' %></h2>
				<% elsif !@task.valide %>
					<h2>Inhalt wurde gelöscht</h2>
				<% elsif @task.task_medium&.video_url_id&.present? %>
					<% if @task.task_medium.video_url_type == 'youtube' %>
						<iframe class="video-i-frame" width="420" height="170" src="https://www.youtube.com/watch?v=JCUhlf_fEk4"></iframe>
					<% else %>
						<iframe class="video-i-frame" width="420" height="170" src="https://player.vimeo.com/video/<%= @task.task_medium.video_url_id %>"></iframe>
					<% end %>
				<% elsif @task.task_type == 'video' %>
					<video class="video-tag" src="<%= @task.task_medium.video.url %>" controls></video>
				<% elsif @task.task_type == 'audio' %>
					<div class="audio-play-div">
						<i class="fa fa-play-circle play-audio audio-play-circle" onclick="playAudio()"></i>
						<i class="pause-audio fas fa-pause-circle audio-pause-circle" onclick="pauseAudio()"></i>
					</div>
					<%= audio_tag @task.task_medium.audio.url, id: 'task-audio', class: 'audio-tag', onended: 'stopAudio()' %>
				<% elsif @task.task_type == 'image' %>
					<%= image_tag @task.task_medium.image.url %>
				<% end %>

			</div>
		</div>
		<% if @admin == @video.user %>
		<a href="<%= delete_pitch_path(@video) %>" data-confirm="Bist du sicher das du das Video löschen möchtest?">
			<%= image_tag 'dash/new_icons/trash.svg', class: 'deleteList deleteVideo' %>
		</a>
		<% end %>

		<% if @ratings.count != 0 %>
		<div class="ratings">
			<p class="rating-heading">Rating</p>
			<% @ratings.each do |r| %>
				<div class="rating">
					<div class="name"><%= r.rating_criterium.name %></div>
					<div class="rate"><%= r.rating / 10.0 %></div>
					<div class="bar"><div class="fill" style="width: <%= r.rating %>%"></div></div>
				</div>
			<% end %>
			<% if @own_ratings.count != 0 && @admin == @video.user %>
			<div class="switch" onclick="toggleRatings()">
				<div class="dot"></div>
			</div>
			<div class="switch-text">&#216;	Bewertung</div>
			<% end %>
			<div class="ges-rating">
				<div class="rate">
					<%
						turn_rating = @turn.ges_rating / 10.0
					%>
					<%= (turn_rating == 10.0) ? 10 : turn_rating %>
					<svg viewbox="0 0 100 100">
						<circle cx="50" cy="50" r="48" stroke="rgb(var(--custcolor))" stroke-width="4" fill="none" stroke-dasharray="<%= 301.59 * (@turn.ges_rating / 100.0) %> 1000"></circle>
					</svg>
				</div>
				<div class="name">Gesamt</div>
			</div>
		</div>
		<% end %>
		<% if @own_ratings.count != 0 && @admin == @video.user %>
		<div class="own-ratings">
			<p class="rating-heading">Rating</p>
			<% @own_ratings.each do |r| %>
				<div class="rating">
					<div class="name"><%= r.rating_criterium.name %></div>
					<div class="rate"><%= r.rating / 10.0 %></div>
					<div class="bar"><div class="fill" style="width: <%= r.rating %>%"></div></div>
				</div>
			<% end %>
			<div class="switch" onclick="toggleRatings()">
				<div class="dot"></div>
			</div>
			<div class="switch-text">Eigene Bewertung</div>
			<div class="ges-rating">
				<div class="rate">
					<%
						own_rating = (@own_ratings.average(:rating) / 10.0).round(1)
					%>
					<%= (own_rating == 10.0) ? 10 : own_rating %>
					<svg viewbox="0 0 100 100">
						<circle cx="50" cy="50" r="48" stroke="rgb(var(--custcolor))" stroke-width="4" fill="none" stroke-dasharray="<%= 301.59 * (@turn.ges_rating / 100.0) %> 1000"></circle>
					</svg>
				</div>
				<div class="name">Meine Bewertung</div>
			</div>
		</div>
		<% end %>
	</div>
	<div class="middle card">
		<%= video_tag @video.video.url, id: 'pitch-video' %>
		<div class="progress">
			<div class="progress-bar" onclick="setProgress(event)" onmousemove="setProgressMove(event)" id="progress-bar"><div class="bar" id="progress"></div></div>
			<div class="time">0:00/<%= (@video.duration / 60).to_s %>:<%= @video.duration % 60 < 10 ? '0' + (@video.duration % 60).to_s : (@video.duration % 60).to_s %></div>
		</div>
		<div class="controls">
			<div class="play" onclick="playVideo()"><i class="fas fa-play-circle"></i></div>
			<div class="pause" onclick="pauseVideo()"><i class="fas fa-pause-circle"></i></div>
			<div class="stop" onclick="stopVideo()"><i class="fas fa-stop-circle"></i></div>
			<div class="mute" onclick="muteVideo()"><i class="fas fa-volume-up"></i></div>
			<div class="muted" onclick="unmuteVideo()"><i class="fas fa-volume-mute"></i></div>
		</div>
	</div>
	<div class="right">
		<% if @admin == @video.user %>
		<div class="release">
			<% if @video.released %>
			<%= link_to 'Freigabe aufheben!', release_pitch_video_path(@video), class: 'btn' %>
			<% else %>
			<%= link_to 'freigeben', release_pitch_video_path(@video), class: 'btn' %>
			<% end %>
		</div>
		<% end %>
		<div class="comments">
			<h5>Kommentare</h5>
			<div class="card" id="comment-card">
				<%= render 'comment_list' %>
			</div>
			<div class="comment-form">
				<div class="time">0:00</div>
				<div class="negative" onclick="setMood('negative')"><div class="circle"><div class="dot"></div></div><labe class="comment-label">Negativ</labe></div>
				<div class="neutral active" onclick="setMood('neutral')"><div class="circle"><div class="dot"></div></div><labe class="comment-label">Neutral</labe></div>
				<div class="positive" onclick="setMood('positve')"><div class="circle"><div class="dot"></div></div><labe class="comment-label">Positiv</labe></div>
				<div class="form-group">
				<%= form_for(:comment, url: add_comment_path(@turn), remote: true) do |f| %>
					<%= f.hidden_field :positive, value: 'neutral' %>
					<%= f.hidden_field :user_id, value: @admin.id %>
					<%= f.hidden_field :time, value: 0, class: 'form-field' %>
					<%= f.text_field :text, placeholder: 'Kommentar hinzufügen', class: 'form-field' %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	new PerfectScrollbar('#comment-card');
	function setMood(mood) {
		$('.comment-form .active').removeClass('active');
		if (mood == "positve") {
			$('.comment-form .positive').addClass('active');
			$('#comment_positive').val("positive");
		} else if (mood == 'neutral') {
			$('.comment-form .neutral').addClass('active');
			$('#comment_positive').val("neutral");
		} else if (mood == "negative") {
			$('.comment-form .negative').addClass('active');
			$('#comment_positive').val("negative");
		}
	}
	function toggleRatings() {
		$(".own-ratings").toggle();
		$(".ratings").toggle();
	}
	var mouseDown = false;
	document.body.onmousedown = function() {
  		mouseDown = true;
	}
	document.body.onmouseup = function() {
  		mouseDown = false;
	}
	var pitch = document.getElementById('pitch-video');
	var timer = '00:00'
	var min = 0, sec = 0;
	var playtime = "<%= @video.duration / 60 %>:<%= @video.duration % 60 < 10 ? '0' + (@video.duration % 60).to_s : (@video.duration % 60).to_s %>"
	var duration = <%= @video.duration %>;
	var startTime;
	function setProgressMove(event) {
		if(mouseDown) {
		setProgress(event)
		}
	}
	function setProgress(event) {
		var posX = event.clientX;
		var left = document.getElementById('progress').getBoundingClientRect().left;
		var width= document.getElementById('progress-bar').offsetWidth;
		min = Math.round((((posX - left) / width) * duration) / 60);
		sec = Math.round((((posX - left) / width) * duration) % 60);
		pitch.currentTime = ((posX - left) / width) * duration;
		timer = min+':'+(sec < 10 ? '0' + sec : sec);
		$(".progress .time").text(timer + "/" + playtime);
		$('.comment-form .time').text(timer);
		$('#comment_time').val(pitch.currentTime);
		document.getElementById('progress').style.width = (((min * 60) + sec) / duration) * 100 + "%";
	}
	function playVideo() {
		pitch.play();
		$('.middle .controls .play').hide();
		$('.middle .controls .pause').show();
		startTime = setInterval(function() {
			sec = Math.round(pitch.currentTime % 60);
			min = Math.round(pitch.currentTime / 60);
			timer = min+':'+(sec < 10 ? '0' + sec : sec);
			$(".progress .time").text(timer + "/" + playtime);
			$('.comment-form .time').text(timer);
			$('#comment_time').val(Math.round(pitch.currentTime));
			console.log("timer:" + timer);
			document.getElementById('progress').style.width = (((min * 60) + sec) / duration) * 100 + "%";
			console.log("width:" + ((((min * 60) + sec) / duration) * 100));
		}, 1000)
	}
	function jumpTo(seconds) {
		clearInterval(startTime);
		pitch.currentTime = seconds;
		min = Math.round(seconds / 60);
		sec = Math.round(seconds % 60);
		timer = min+':'+(sec < 10 ? '0' + sec : sec);
		$(".progress .time").text(timer + "/" + playtime);
		$('.comment-form .time').text(timer);
		$('#comment_time').val(pitch.currentTime);
		document.getElementById('progress').style.width = (seconds / duration) * 100 + "%";
		playVideo();
	}
	function pauseVideo() {
		pitch.pause();
		$('.middle .controls .pause').hide();
		$('.middle .controls .play').show();
		clearInterval(startTime);
	}
	function stopVideo() {
		pitch.load();
		$('.middle .controls .pause').hide();
		$('.middle .controls .play').show();
		clearInterval(startTime);
		$(".progress .time").text("0:00/" + playtime);
		$('.comment-form .time').text("0:00");
		$('#comment_time').val(Math.round(pitch.currentTime));
		document.getElementById('progress').style.width = 0;
		min = 0; sec = 0;
	}
	function muteVideo() {
		pitch.volume = 0;
		$('.middle .controls .mute').hide();
		$('.middle .controls .muted').show();
	}
	function unmuteVideo() {
		pitch.volume = 1;
		$('.middle .controls .muted').hide();
		$('.middle .controls .mute').show();
	}
	pitch.addEventListener('ended', function() {
		stopVideo();
	})


	function playAudio() {
		if ($('.audio-play-div .play-audio').hasClass('audio-play-circle')) {
			document.getElementById('task-audio').play();
			$('.audio-play-div .audio-play-circle').hide();
			$('.audio-play-div .audio-pause-circle').show();
		}
	}

	function pauseAudio() {
		if ($('.audio-play-div .pause-audio').hasClass('audio-pause-circle')) {
			document.getElementById('task-audio').pause();
			$('.audio-play-div .audio-pause-circle').hide();
			$('.audio-play-div .audio-play-circle').show();
		}
	}

	function stopAudio() {
		$('.audio-play-div .audio-play-circle').show();
		$('.audio-play-div .audio-pause-circle').hide();
	}
</script>
