<div class="left">
	<div class="search">
		<i class="fas fa-search"></i>
		<input type="text" placeholder="Team suchen" id="searchTeams" class="form-field">
		<button class="btn btn-green" onclick="toggleTeam()">Team erstellen</button>
	</div>
	<% if params[:edit] == 'true' %>
	<div class="card" id="editTeam">
		<h3><%= link_to '', dashboard_team_path(@team), class: 'fas fa-arrow-left back' %>Team bearbeiten!</h3>
		<%= link_to '', destroy_team_path(@team, site: 'dashboard'), class: 'far fa-trash-alt deleteEdit', data: {confirm: 'Bist du sicher das du dieses Team löschen möchtest?'} %>
		<%= form_for(:team, url: edit_team_path(@team)) do |f| %>
			<div class="form-group">
				<label for="">Teamname</label>
				<%= f.text_field :name, class: 'form-field' %>
			</div>
			<div class="table" id="adduser" ondrop="dropTeamADD(event)" ondragleave="leaveDrop(event)" ondragover="allowDrop(event)">
				<table>
					<thead>
						<tr>
							<th colspan="2">Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @team.users.each do |u| %>
						<tr>
							<td class="img"><%= image_tag u.avatar? ? u.avatar.url : 'dash/wolf.png' %></td>
							<td><%= u.fname %> <%= u.lname %></td>
							<td class="remove"><%= link_to '', delete_user_from_team_path(@team, u.id, site: 'dashboard_team_edit'), class: 'far fa-trash-alt' %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<div class="comment">Nutzer hier hinziehen, um sie diesem Team hinzuzufügen!</div>
			</div>
			<%= f.submit 'speichern!', class: 'btn btn-green' %>
		<% end %>
	</div>
	<script>
		new PerfectScrollbar('#adduser');
		function toggleTeam() {
			$('#editTeam').toggle();
			$('#createTeam').toggle();
		}
	</script>
	<% else %>
	<div class="card" id="team">
		<h3>Teams</h3>
		<div class="table" id="teams-table">
			<table>
				<thead>
					<tr>
						<th>Teamname</th>
						<th>Nutzer</th>
						<th>Score</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				 	<tr onclick="redirect(<%= @teamAll.id %>)" class="<%= @team && @team == @teamAll || @team.nil? ? 'highlighted' : '' %>">
				 		<td>Alle</td>
				 		<td><%= @teamAll.users.count %></td>
				 		<td></td>
				 		<td></td>
				 		<td></td>
				 	</tr>
					<% @teams.each do |t| %>
						<tr ondrop="dropTeam(event, <%= t.id %>)" ondragleave="leaveDrop(event)" ondragover="allowDrop(event)" id="team_<%= t.id %>" class="<%= @team && @team == t ? 'highlighted' : '' %>">
							<td onclick="redirect(<%= t.id %>)"><%= t.name %></td>
							<td onclick="redirect(<%= t.id %>)" id="count"><%= t.users.count %></td>
							<td onclick="redirect(<%= t.id %>)"><%= t.ges_rating / 10.0 %></td>
							<td class="edit"><%= link_to '', dashboard_team_path(t.id, edit: true), class: 'far fa-edit' %></td>
							<td class="stats"><%= link_to '', dashboard_team_stats_path(t.id), class: 'far fa-chart-bar' %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		new PerfectScrollbar('#teams-table');
		function toggleTeam() {
			$('#team').toggle();
			$('#createTeam').toggle();
		}
	</script>
	<% end %>
	<div class="card" id="createTeam">
		<h3><i class="fas fa-arrow-left back" onclick="toggleTeam()"></i>Team anlegen</h3>
		<%= form_for(:team, url: new_team_path) do |f| %>
			<%= f.hidden_field :site, value: 'teams' %>
			<div class="form-group">
				<label for="">Teamname</label>
				<%= f.text_field :name, value: '', class: "form-field" %>
			</div>
			<%= f.submit 'speichern!', class: 'btn btn-green' %>
		<% end %>
	</div>
</div>
<div class="right">
	<div class="search">
		<i class="fas fa-search"></i>
		<input type="text" placeholder="User suchen" id="searchUsers" class="form-field">
		<button class="btn btn-green" onclick="toggleUser()">User erstellen</button>
	</div>
	<% if @user %>
	<div class="card" id="editUser">
		<h3><%= link_to '', dashboard_teams_path, class: 'fas fa-arrow-left back' %>Edit User</h3>
		<%= link_to '', destroy_user_path(@user, site: 'dashboard'), class: 'far fa-trash-alt deleteEdit', data: {confirm: 'Bist du sicher das du diesen User löschen möchtest?'} %>
		<%= form_for(:user, url: edit_user_path(@user, site: 'dashboard_teams')) do |f| %>
			<div class="form-group avatar">
				<label for="user_avatar">
					<%= image_tag @user.avatar? ? @user.avatar.url : 'dash/wolf.png', id: 'avatar' %>
					<div class="hover">
						<i class="fas fa-plus"></i>
					</div>
				</label>
				<%= f.file_field :avatar %>
			</div>
			<div class="form-group half-left">
				<label for="">Vorname</label>
				<%= f.text_field :fname, class: 'form-field' %>
			</div>
			<div class="form-group half-right">
				<label for="">Nachname</label>
				<%= f.text_field :lname, class: 'form-field' %>
			</div>
			<div class="form-group">
				<label for="">E-Mail</label>
				<%= f.email_field :email, class: 'form-field' %>
			</div>
			<%= f.submit 'speichern!', class: 'btn btn-green' %>
		<% end %>
	</div>
	<div class="popup" id="popup">
   		<div class="img-container">
   			<%= image_tag '', id: 'user_image' %>
   		</div>
    	<div class="center">
	    	<div class="btn btn-green" id="crop">speichern</div>
    	</div>
    	<div class="close" onclick="hidePopup()"><i class="fas fa-times"></i></div>
	</div>
	<script>
		function toggleUser() {
			$('#editUser').toggle();
			$('#createUser').toggle();
		}
		function showPopup() {
        $('#popup').show();
    }
    function hidePopup() {
        $('#popup').hide();
    }
	(function ($) {
	  $.each(['show', 'hide'], function (i, ev) {
	    var el = $.fn[ev];
	    $.fn[ev] = function () {
	      this.trigger(ev);
	      return el.apply(this, arguments);
	    };
	  });
	})(jQuery);
	var inputAvatar = document.getElementById('user_avatar');
	var image = document.getElementById('user_image');
	
	inputAvatar.addEventListener('change', function(e) {
		var files = e.target.files;
		var done = function(url) {
			inputAvatar.value = '';
			image.src = url;
			$('#popup').show();
		};
		var reader, file, url;
		if(files && files.length > 0) {
			file = files[0];
			if(URL) {
				done(URL.createObjectURL(file));
			} else if(FileReader) {
				reader = new FileReader();
				reader.onload = function(e) {
					done(reader.result);
				}
				reader.readAsDataURL(file);
			}
		}
	})
	$('#popup').on('show', function() {
		cropper = new Cropper(image, {
			aspectRatio: 1,	
		});
	})
	$('#popup').on('hide', function() {
		cropper.destroy();
		cropper = null;
	})
	$('#crop').on('click', function() {
		var initialURL, canvas;
		if(cropper) {
			canvas = cropper.getCroppedCanvas({
				fillColor: "white",
				width: 500,
				height: 500,
			});
			initalURL = avatar.src;
			avatar.src = canvas.toDataURL();
			canvas.toBlob(function(blob) {
				var date = new Date().getTime();
				var file = new window.File([blob], 'avatar_'+date+'.jpg', {type: 'image/jpg'});
				var formData = new FormData();
				formData.append('file', file);
				uploadImage('avatar', formData);
			});
		};
	})
	function uploadImage(img, formData) {
		var url = '<%= update_avatar_user_path(@user) %>';
		$.ajax({
			url: url,
			type: 'put',
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			data: formData,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				formData = new FormData();
				$('#avatar').data('url', res.file);
				$('#popup').hide();
			}
		})
		
	}
	</script>
	<% else %>
	
	<div class="card" id="user" style="<%= @user ? 'display: none' : '' %>">
		<h3>Nutzer</h3>
		<div class="table" id="users-table">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Pitches</th>
						<th>Score</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |u| %>
						<% if params[:edit] == "true" && TeamUser.where(team_id: @team.id, user_id: u.id).count == 0 || params[:edit] != 'true' %>
						<tr draggable="true" ondragstart="drag(event)" id="user_<%= u.id %>" data-id="<%= u.id %>" class="<%= @user == u ? 'highlighted' : '' %>">
							<td class="img"><%= image_tag u.avatar.url %></td>
							<td><%= u.fname %> <%= u.lname %></td>
							<td><%= u.game_turns.count %></td>
							<td><%= u.ges_rating / 10.0 %></td>
							<td class='edit'><%= link_to '', dashboard_teams_path('', edit_user: u.id), class: 'far fa-edit' %></td>
							<td class="stats"><%= link_to '', dashboard_user_stats_path(u.id), class: 'far fa-chart-bar' %></td>
						</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		new PerfectScrollbar('#users-table');
		function toggleUser() {
			$('#user').toggle();
			$('#createUser').toggle();
		}
	</script>
	<% end %>
	<div class="card" id="createUser">
		<h3><i class="fas fa-arrow-left back" onclick="toggleUser()"></i>Nutzer anlegen!</h3>
		<%= form_for(:user, url: new_user_path) do |f| %>
			<div class="form-group half-left">
				<label for="">Vorname</label>
				<%= f.text_field :fname, value: '', class: "form-field" %>
			</div>
			<div class="form-group half-right">
				<label for="">Nachname</label>
				<%= f.text_field :lname, value: '', class: "form-field" %>
			</div>
			<div class="form-group">
				<label for="">E-Mail</label>
				<%= f.email_field :email, value: '', class: "form-field" %>
			</div>
			<%= f.submit 'speichern!', class: 'btn btn-green' %>
		<% end %>
	</div>
</div>
<script>
	function redirect(tID) {
		var URL = "<%= dashboard_teams_path %>"
		location.replace(URL + '/' + tID);
	}
	function allowDrop(ev) {
		ev.preventDefault();
		$(ev.target).parent().addClass('highlighted');
	}
	function leaveDrop(ev) {
		$(ev.target).parent().removeClass('highlighted');
	}
	function drag(e) {
		e.dataTransfer.setData("EID", e.target.id);
		e.dataTransfer.setData('ID', e.target.getAttribute('data-id'))
	}
	function dropTeam(e, tID) {
		e.preventDefault();
		var uID = e.dataTransfer.getData('ID');
		addUSER(tID, uID);
	}
	function dropTeamADD(e) {
		e.preventDefault();
		var uID = e.dataTransfer.getData('ID');
		addTeamUser(uID);
	}
	function addUSER(tID, uID) {
		var url = '/teams/' + tID + '/add/user/' + uID;
		$.ajax({
			url: url,
			type: 'put',
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				$('#team_' + tID + ' #count').text(res.count);
				$('#teams-table .highlighted').each(function() {
					$( this ).removeClass('highlighted')	
				});
				<% if @team %>
				$('#team_' + <%= @team.id %> + '').addClass('highlighted');
				$('#team_' + <%= @team.id %> + ' tbody').append($('#user_'+uID));
				<% end %>
			}
		})
	}
	<% if @team %>
	function addTeamUser(uID) {
		var url = '/teams/' + <%= @team.id %> + '/add/user/' + uID;
		$.ajax({
			url: url,
			type: 'put',
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				var userDiv = '<tr><td class="img">' + $('#user_'+uID+" td:nth-child(1)").html() + '</td>';
				userDiv += '<td>' + $('#user_'+uID+" td:nth-child(2)").html() + '</td><td class="remove"><a class="far fa-trash-alt" href="/teams/<%= @team.id %>/delete/user/'+uID+'?site=dashboard_team_edit"></a></td></tr>';
				$('#adduser tbody').append(userDiv);
				$('#user_'+uID).remove();
			}
		})
	}
	<% end %>
</script>