<div class="pitch-videos">
	<div class="card" >
		<div class="search">
			<%= image_tag 'dash/new_icons/search.svg' %>
			<input type="text" placeholder="Pitch suche" id="searchPitch" class="form-field">
		</div>
		<h3>Pitch Videos</h3>
		<div class="videos" id="pitch-videos">
			<% @pitches.each do |p| %>
			<div class="card">
			<div class="thumb">
				<%= image_tag p[:video].video.thumb.url %>
				<div class="overlay">
				<div class="rating"><%= p[:rating] %></div>
				<div class="time"><%= p[:duration] %></div>
				<div class="play"><i class="fas fa-play"></i></div>
				</div>
			</div>
			<div class="word"><%= p[:title] %></div>
			<div class="heart" onclick="favPitch(<%= p[:id] %>)"><i id="fav_<%= p[:id] %>" class="<%= p[:video].favorite ? 'fas' : 'far' %> fa-heart" ></i></div>
			<div class="user">
				<%= image_tag p[:user].avatar.url %>
				<%= p[:user].fname %> <%= p[:user].lname %>
			</div>
			<%= link_to '', dashboard_pitch_video_path(p[:id]) %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<script>
	new PerfectScrollbar('#pitch-videos');

	$("#searchPitch").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#pitch-videos .card .word").filter(function () {
            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
	});
	function favPitch(pID) {
		var favdiv = $('fav_' + pID);
		var url = '/games/pitches/'+pID+'/favorite';
		$.ajax({
			type: "put",
			url: url,
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				if( res.favorite ) {
					$('#fav_' + pID).removeClass("far");
					$('#fav_' + pID).addClass("fas");
				} else {
					$('#fav_' + pID).removeClass("fas");
					$('#fav_' + pID).addClass("far");
				}
			}
		})
	}
</script>
