<% content_for :heading do |d| %>
<div class="back" onclick='hideVideos(this)' id='navBack' style='display: none'>
	<%= inline_svg_tag 'dash/new_icons/back.svg', class: 'back-arrow-icon' %>

</div>
<div class="search">
	<%= inline_svg_tag 'dash/new_icons/search.svg', class: 'search-icon' %>
	<input type="text" placeholder="Pitch Videos durchsuchen" id="searchPitch" class="form-field">
</div>
	<div class="heading">
		Pitch Videos
	</div>
<% end %>
<div class="pitch-videos">
	<div class="card">
		<div class="folders">
			<% @pitches.each do |p| %>
				<div class="folder-card" id="folder_<%= p[:id] %>" onclick="showVideos('<%= p[:id] %>')">
					<img src="<%= asset_path 'dash/icons/folder.svg' %>">
					<div class="title" id="title_<%= p[:id] %>"><span><%= p[:title] ? p[:title] : ' - - - ' %></span></div>
					<div class="sub-title"><span><%= p[:team_name] ? p[:team_name] : ' - - - ' %></span></div>
					<div class="time"><%= p[:created_at].strftime("%d.%m.%Y") %></div>
				</div>
			<% end %>
		</div>

		<% @pitches.each do |p| %>
			<div class="videos p-videos" id="pitch_videos_<%= p[:id] %>" style="display: none">
				<%
					videos = @videos.select{|v| v[:pitch_id] == p[:id]}
				%>
				<% videos.each do |v| %>
				<div class="card">
				<div class="thumb">
					<%= image_tag v[:video].video.thumb.url %>
					<div class="overlay">
					<div class="rating"><%= v[:rating] %></div>
					<div class="time"><%= v[:duration] %></div>
					<div class="play"><i class="fas fa-play"></i></div>
					</div>
				</div>
				<div class="word"><%= v[:title] %></div>
				<div class="heart" onclick="favPitch(<%= v[:id] %>)"><i id="fav_<%= v[:id] %>" class="<%= v[:video].favorite ? 'fas' : 'far' %> fa-heart" ></i></div>
				<div class="user">
					<%= image_tag v[:user].avatar.url %>
					<%= v[:user].fname %> <%= v[:user].lname %>
				</div>
				<%= link_to '', dashboard_pitch_video_path(v[:id]) %>
				</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<script>

	$("#searchPitch").on("keyup", function () {
		var value = $(this).val().toLowerCase();
		if ($('.p-videos').is(':visible')) {
			$(".p-videos .card .word").filter(function () {
				$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		} else {
			$(".folders .folder-card .title").filter(function () {
				$(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		}
	});

	function hideVideos(e) {
		pitch_id = $(e).attr("data-id");
		$(`#pitch_videos_${pitch_id}`).hide();
		$('.folders').show();
		$('#navBack').hide();
	}
	function showVideos(pitch_id) {
		$(`#pitch_videos_${pitch_id}`).show();
		$('.folders').hide();
		$('#navBack').attr('data-id', pitch_id);
		$('#navBack').show();
	}

	function toggleVideo() {
		$('#videos').toggle();
		$('#new_video').toggle();
	}
	function changeVideo() {
		$('#video_video').click();
	}
	$('#video_video').change(function(e) {
		if( $('#video_name').val != '') {
			$('.add-circle').addClass("processing");
			var url = "<%= new_video_path %>";
			var name = $('#video_name').val()
			var date = new Date().getTime();
			var filename = "video_" + date + '.mp4';
			date = new Date().getTime();
			var file = e.target.files[0];
			var formData = new FormData();
			formData.append('name', name);
			formData.append('file', file, filename);
			$.ajax({
				type: "post",
				url: url,
				cache: false,
				async: true,
				contentType: false,
				processData: false,
				data: formData,
				beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
				success: function(res) {
					window.location.reload();
				}
			})
		}
	})
	$('#uploadVideoForm').submit(function(e) {
		e.preventDefault();
	})

	function favPitch(pID) {
		var favdiv = $('fav_' + pID);
		var url = '/games/pitches/'+pID+'/favorite';
		$.ajax({
			type: "put",
			url: url,
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				if( res.favorite ) {
					$('#fav_' + pID).removeClass("far");
					$('#fav_' + pID).addClass("fas");
				} else {
					$('#fav_' + pID).removeClass("fas");
					$('#fav_' + pID).addClass("far");
				}
			}
		})
	}
</script>
