
<% content_for :title, "Peter Pitch - Teaser" %>
<% content_for :description, 'Peter Pitch ist das digitale Trainingstool für Kommunication und Vertrieb. Erfahre mehr und sende uns eine Nachricht.'%>
<div class="teaser-content">
<section id="teaser-navbar" class="teaser-navbar">
  <%= image_tag 'logos/pp_logo.png', class: 'logo', alt: 'Peter Pitch Logo'%>
  <% if @teaser.logo? %>
  <div class="company-logo">
    <%= image_tag @teaser.logo.url, alt: 'Peter Pitch Logo'%>
    <%= inline_svg_tag 'game/polygon.svg', class: 'polygon' %>
  </div>
  <% end %>
</section>
<section id="teaser-content">
  <div class="head">
    <h1>Hallo, <%= @teaser.fname %> <%= @teaser.lname %></h1>
    <h5>hier ein kleiner Einblick in Peter Pitch!</h5>
  </div>

  <div class="video">
    <%= inline_svg_tag 'game/illus/dots.svg', class: 'dots' %>
    <%= video_tag 'gameintro.mp4', controls: true %>
  </div>

  <div class="contact">
    <%= inline_svg_tag 'game/illus/dots.svg', class: 'dots' %>
    <div class="head">
      <h3>Wie geht's weiter</h3>
    </div>
    <div class="content">

      <div class="text">
        <%= image_tag 'icons/quote.png', class: 'quote' %>
        Wir sind für Sie da und freuen uns von Ihnen zu hören!
      </div>
      <div class="address">
        0234 123 456<br>
        hallo@peterpitch.com
      </div>
      <div class="people">
        <%= image_tag 'people/panne.png', class: "panne" %>
        <%= image_tag 'people/neuendorf.png', class: "neuendorf" %>
      </div>
    </div>
  </div>
</section>
</div>
<section id="footer" class="wow fadeIn">
    <div class="logo">
        <%= image_tag 'logos/pp_logo.png', alt: 'Peter Pitch Logo' %>
    </div>
    <div class="company">
        <div class="heading">Unternehmen</div>
        <div class="links">
            <%= link_to 'Registrieren', contact_path %>
            <%= link_to 'Preise', contact_path %>
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <%= link_to 'Login', '#login', onclick: 'showLoginModal()' %>
        </div>
    </div>
    <div class="legal">
        <div class="heading">Rechtliches</div>
        <div class="links">
            <%= link_to 'Impressum', impressum_path %>
            <%= link_to 'Datenschutz', datenschutz_path %>
        </div>
    </div>
    <div class="social">
        <%= link_to '', 'https://www.instagram.com/peterpitchcom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-instagram" %>
        <%= link_to '', 'https://www.youtube.com/channel/UCN7MeKNNdXK28uIiJjJ4Fdg', target: "_blank", rel: "noopener noreferrer", class: "fab fa-youtube" %>
        <%= link_to '', 'https://www.facebook.com/PeterPitchCom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-facebook-f" %>
    </div>
</section>
