<div class="card" id="editCompany">
  <h3><%= link_to '', backoffice_companies_path, class: 'fas fa-arrow-left back' %>Unternehmen bearbeiten</h3>
  <%= form_for(:company, url: edit_company_path(@company, site: "backoffice_company")) do |f| %>
    <div class="form-group">
      <label for="">Unternehmensname</label>
      <%= f.text_field :name, class: 'form-field' %>
    </div>
    <div class="form-group">
      <label for="">Angestellte</label>
      <%= f.number_field :employees, class: 'form-field' %>
    </div>
    <div class="form-group">
      <label for="">Nachricht</label>
      <%= f.text_field :message, class: 'form-field' %>
    </div>
  <%= f.submit 'speichern!', class: 'btn btn-green' %>
  <% end %>
</div>
