<% if !@pitch && @pitches.count != 0 %>
<div class="files">
  <h3>Pitches</h3>
  <% @pitches.each do |p| %>
    <div class="card" id="pitch_<%= p.id %>">
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-icon"  aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
        <div class="dropdown-Menu">
          <div class="point" data-id="<%= p.id %>" onclick="editPitch(this)">Edit</div>
          <div class="point" data-id="<%= p.id %>" onclick="deletePitch(this)">Löschen</div>
        </div>
      </div>
      <div class="thumb" onclick="redirectPitch('<%= p.id %>')">
        <% if p.image? %>
        <%= image_tag p.image_url, class: 'image' %>
        <% else %>
        <%= image_tag 'dash/pitch_placeholder.png', class: 'image' %>
        <% end %>
      </div>
      <div class="text">
        <div class="title" id="pitch_title_<%= p.id %>"><%= p.title %><div class="ellipsis">...</div></div>
        <div class="time"><%= image_tag 'dash/image-icon.png' %><%= p.user ? p.user.fname[0] + '. ' + p.user.lname : '' %></div>
      </div>
    </div>
  <% end %>

</div>
<% end %>
