<div class="card" id="pitch">
  <h3>Tasks</h3>
  <div class="table" id="tasks-table">
    <table>
      <thead>
        <tr>
          <th>Tasktitle</th>
          <th>Type</th>
          <th>Zeit</th>
        </tr>
      </thead>
      <tbody>
        <% if @tasks %>
        <% @tasks.each do |t| %>
          <tr id="" class="taskname <%= @task && @tasks == t ? 'highlighted' : '' %>">
            <td><%= t.title %></td>
            <td><%= t.task_type %></td>
            <td><%= t.time %></td>
          </tr>
        <% end %>
        <% else %>
        <% @task_order.each do |t| %>
          <tr id="" class="taskname <%= @task && @tasks == t ? 'highlighted' : '' %>">
            <td><%= t.task.title %></td>
            <td><%= t.task.task_type %></td>
            <td><%= t.task.time %></td>
          </tr>
        <% end end %>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  new PerfectScrollbar('#tasks-table');
  function redirect(tID) {
      var url = "<%= backoffice_company_url(@company) %>?pitch=" + tID;
      window.location.replace(url);
  }
</script>
