<% if @tasks && @tasks.count != 0 %>
  <div class="files">
    <h3>Tasks</h3>
    <% @tasks.each do |f| %>
      <div class="card" id="task_<%= f.id %>">
        <div class="dropdown">
          <i class="fas fa-ellipsis-v dropdown-icon" aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
          <div class="dropdown-Menu">
            <div class="point" data-type="edit_folder" data-id="<%= f.id %>" onclick="showTask(this)">Edit</div>
            <div class="point" data-id="<%= f.id %>" onclick="deleteTask(this)">Löschen</div>
          </div>
        </div>

        <div class="thumb">
          <% if f.task_medium %>
            <% if f.task_medium.media_type == 'video' %>
              <%= image_tag f.task_medium.video.thumb.url, class: 'image' %>
              <i class="fas fa-play-circle"></i>
            <% elsif f.task_medium.media_type == 'image' %>
              <%= image_tag f.task_medium.image.url, class: 'image' %>
            <% elsif f.task_medium.media_type == 'audio' %>
              <div class="list-icon">
                <%= image_tag 'dash/audio.png' %>
              </div>
              <%= image_tag 'dash/placeholder.png', class: 'image' %>
            <% elsif f.task_medium.media_type == 'pdf' %>
              <div class="list-icon">
                <%= image_tag 'dash/import-PDF.png' %>
              </div>
              <%= image_tag 'dash/placeholder.png', class: 'image' %>
            <% end %>
          <% else %>
          <div class="list-icon">
            <%= image_tag 'dash/no-image-icon.png' %>
          </div>
          <%= image_tag 'dash/placeholder.png', class: 'image' %>
          <% end %>
        </div>

        <div class="text">
          <div class="title" id="task_title_<%= f.id %>"><%= f.title %><div class="ellipsis">...</div></div>
          <% if f.task_medium %>
          <% if f.task_medium.media_type == 'video' %>
          <div class="time"><%= image_tag 'dash/video-icon.png' %><%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
          <% elsif f.task_medium.media_type == 'audio' %>
          <div class="time"><%= image_tag 'dash/audio.png' %><%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
          <% elsif f.task_medium.media_type == 'pdf' %>
          <div class="time"><%= image_tag 'dash/import-PDF.png' %><%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
          <% else %>
          <div class="time"><%= image_tag 'dash/image-icon.png' %><%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
          <% end %>
          <% end %>
          <div class="time"><%= image_tag 'dash/image-icon.png' %><%= f.user ? f.user.fname[0] + '. ' + f.user.lname : '' %></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
