<% if !@team && @teams.count != 0 %>
<div class="folders">
  <h3>Teams</h3>
  <% @teams.each do |t| %>
    <div class="card" id="team_<%= t.id %>">
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-icon"  aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
        <div class="dropdown-Menu">
          <div class="point" data-id="<%= t.id %>" onclick="editTeam(this)">Edit</div>
          <div class="point" data-id="<%= t.id %>" onclick="deleteTeam(this)">Löschen</div>
        </div>
      </div>
      <%= image_tag 'dash/icons/folder.svg', data: {id: t.id}, onclick: "showTeam(this)" %>
      <div class="title" id="title_<%= t.id %>"><%= t.name %><div class="ellipsis">...</div></div>
      <div class="author"><%= t.user ? t.user.fname[0] + '. ' + t.user.lname : '' %></div>
    </div>
  <% end %>
</div>
<% end %>
<script type="text/javascript">
  function showTeam(e) {
    var teamID = $(e).attr('data-id');
    location.replace('?team='+ teamID);
  }
</script>
