<% if @users.count != 0 %>
<div class="users">
  <h3>Users</h3>
  <% @users.each do |u| %>
    <div class="card" id="user_<%= u.id %>">
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-icon"  aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
        <div class="dropdown-Menu">
          <div class="point" data-id="<%= u.id %>" onclick="editUser(this)">Edit</div>
          <div class="point" data-id="<%= u.id %>" onclick="deleteUser(this)">Löschen</div>
        </div>
      </div>

      <div class="thumb" data-id="<%= u.id %>" onclick="showUser(this)">
        <div class="list-avatar">
          <%= image_tag u.avatar.url %>
        </div>
        <%= image_tag 'dash/placeholder.png', class: 'image' %>
      </div>
      <div class="text">
          <div class="title" id="user_name_<%= u.id %>"><%= u.fname + ' ' + u.lname %><div class="ellipsis">...</div></div>
          <div class="stats">Role: <span><%= u.company_users.find_by(company: @company).role %></span></div>
          <div class="stats">Pitches erstelt: <span><%= u.pitches.count %></span></div>
          <div class="stats">Pitches gespielt: <span><%= u.game_turns.count %></span></div>
          <div class="stats">Zuletzt aktiv: <span><%= u.last_sign_in_at ? u.last_sign_in_at.strftime('%d.%m.%Y') : ' - ' %></span></div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  function showUser(e) {
    var userID = $(e).attr('data-id');
    <% if params[:team] %>
      location.replace('?team=<%= params[:team] %>&user=' + userID);
    <% else %>
      location.replace('?user=' + userID);
    <% end %>
  }
</script>
<% end %>
