<% if @users.count != 0 %>
<div class="files">
  <h3>Users</h3>
  <% @users.each do |u| %>
    <div class="card" id="user_<%= u.id %>">
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-icon"  aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
        <div class="dropdown-Menu">
          <div class="point" data-id="<%= u.id %>" onclick="editUser(this)">Edit</div>
          <div class="point" data-id="<%= u.id %>" onclick="deleteUser(this)">Löschen</div>
        </div>
      </div>

      <div class="thumb" data-id="<%= u.id %>" onclick="showUser(this)">
        <div class="list-icon">
          <%= image_tag u.avatar.url, style: 'border-radius: 50%;' %>
        </div>
        <%= image_tag 'dash/placeholder.png', class: 'image' %>
      </div>
      <div class="text">
          <div class="title" id="user_name_<%= u.id %>"><%= u.fname + ' ' + u.lname %><div class="ellipsis">...</div></div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
