<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div class="head" id="choose-head">

	<h1>Wer soll pitchen?</h1>
	<h3>Tippe auf den Teilnehmer, der <br> als nächstes pitchen soll!</h3>
</div>
<div class="middle" id="choose-middle">
	<div class="circle-left">
		<% if @turn1 && @turn1.user.avatar? %>
			<%= link_to image_tag(@turn1.user.avatar.url), gm_choosen_path('', turn: @turn1.id), class: 'custom-border', id: "left-img" %>
		<% elsif @turn1 %>
			<%= link_to @turn1.user.fname[0].capitalize + @turn1.user.lname[0].capitalize, gm_choosen_path('', turn: @turn1.id), class: 'circle custom-border', id: "left-img" %>
		<% end %>
	</div>
	<div class="circle-right">
		<% if @turn2 && @turn2.user.avatar? %>
			<%= link_to image_tag(@turn2.user.avatar.url), gm_choosen_path('', turn: @turn2.id), class: 'custom-border', id: "left-img" %>
		<% elsif @turn2 %>
			<%= link_to @turn2.user.fname[0].capitalize + @turn2.user.lname[0].capitalize, gm_choosen_path('', turn: @turn2.id), class: 'circle custom-border', id: "left-img" %>
		<% end %>
	</div>
</div>
