<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div class="head">
	<h1>Das war <%= @turn.user.fname %>'s Pitch</h1>
	<h3>Lass doch ein Feedback da</h3>
</div>
<%= form_for(:comment, url: new_comment_path(@turn), html: {id: "comment_form", autocomplete: 'off'}) do |f| %>
<%= f.hidden_field :time, value: nil %>
<%= f.hidden_field :user_id, value: @admin.id %>
<%= f.hidden_field :positive, value: 'neutral' %>
<div class="middle">
	<div class="form-group single-line">
		<%= f.text_field :text, placeholder: 'Feedback hier eingeben...', oninput: "inputSend()", onblur: 'inputSend()', class: 'form-field', maxlength: "100"%>
		<i class="far fa-paper-plane" id='comment_submit' onclick='submitComment()'></i>
	</div>
</div>
<% end %>
<div class="bottom big">
	<% if @admin == @game.user %>
	<%= link_to 'Pitch wiederholen', gm_repeat_turn_path, class: 'btn inverted', data: {confirm: "Bist du sicher, dass du den Pitch wiederholen möchtest?"} %>
	<% if @pitch.task_orders.find_by(order: @game.current_task + 1) %>
	<%= link_to 'Feedbackrunde beenden', gm_set_slide_path(@game.current_task + 1), class: 'btn'%>
	<% else %>
	<% if @game.game_turn_ratings.count != 0 && (@game.show_ratings == 'one' || @game.show_ratings == 'all') %>
		<%= link_to 'Zur Bestenliste', gm_set_slide_path(@game.current_task + 1), class: 'btn'%>
	<% else %>
		<%= link_to 'Pitchrunde wiederholen', gm_set_state_path('', state: 'repeat'), class: 'btn'%>
	<% end %>
	<%= link_to 'Pitchrunde beenden!', gm_set_state_path(state: 'ended'), class: 'btn'%>
	<% end %>
	<% end %>
</div>
