<div class="head">
	<% if @admin.avatar? %>
	<h1>Wow!</h1>
	<h3>Drücke auf "Pitch beitreten" oder auf das <br> Bild für einen neuen Versuch!</h3>
	<% else %>
	<h1>Bild auswählen!</h1>
	<h3>Drücke auf den Wolf, um ein Bild von dir hinzuzufügen!</h3>
	<% end %>
</div>
<div class="middle">
	<input type="file" id="avatar" style="display: none">
	<label for="avatar" id="mid-img">
	<svg id="avatar-svg" viewBox="0 0 100 100">
		<circle cx="50" cy="50" r="45" stroke-width="10" stroke="rgb(var(--custcolor))" stroke-dasharray="0" fill="none"></circle>
	</svg>
	<%= image_tag @admin.avatar.url, id: 'avatar-img' %>
	</label>
<%= form_for(:turn, url: new_turn_path(@game, @admin)) do |f| %>
	<div class="switch reverse">
		<%= f.check_box :play, checked: true, id: 'turn_play' %>
		<label for="turn_play">
			<div class="checkbox"><div class="dot"></div></div>
			<div class="text">Ich möchte selbst nicht pitchen, <br>
			sondern nur bewerten</div>
		</label>
	</div>
</div>
<div class="bottom">
	<%= f.submit 'Pitch beitreten', class: 'btn custom-btn' %>
</div>
<% end %>
<% if flash[:alert] %>
<div class="popup">
	<h1>FEHLER!</h1>
	<i class="fas fa-times close" onclick="toggleModal()"></i>
	<div class="text"><%= flash[:alert] %></div>
</div>
<script>
	function toggleModal() {
		$('.popup').hide();
	}
</script>
<% end %>
<script>
	$("#avatar").change(function(e) {
		var date = new Date().getTime();
		var filename = "avatar_" + date + '.jpg';
		date = new Date().getTime();
		var file = e.target.files[0]
		var formData = new FormData();
		formData.append('file', file, filename);
		var url = '<%= update_avatar_user_path(@admin) %>';
		$('#avatar-svg').addClass('loading');
		$.ajax({
			url: url,
			type: 'put',
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			data: formData,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				window.location.reload();
			}
		})
	})
</script>
