<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<% if @turn.ratings.find_by(user: @admin) || @turn.own_ratings.find_by(user: @admin) %>
	<div class="head">
		<h1>Bewertung abgegeben!</h1>
	</div>
	<% if @admin == @game.user %>
	<div class="middle">
		<div class="text">
			Aktuell haben den Pitch bewertet: <br>
			<span id="rating_count"><%= @turn.game_turn_ratings.count == 0 ? '0 / ' + (@game.game_users.count).to_s : ((@turn.own_ratings.count / @turn.game_turn_ratings.count) + (@turn.ratings.count / @turn.game_turn_ratings.count)).to_s + ' / ' + (@game.game_users.count).to_s %></span>
		</div>
	</div>
	<div class="dots" style="top: 60vh;">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
	<div class="bottom">
		<% if @admin == @game.user %>
		<%= link_to 'Bewertung beenden!', gm_set_state_path('', state: 'rating'), class: 'btn custom-btn' %>
		<% end %>
	</div>
	<% else %>
		<div class="middle">
			<% if @turn.user.avatar? %>
			<%= image_tag @turn.user.avatar.url, class: 'custom-border pulse' %>
			<% else %>
			<div class="circle custom-border pulse"><%= @turn.user.fname[0].capitalize %><%= @turn.user.lname[0].capitalize %></div>
			<% end %>
		</div>
	<% end %>
	<% elsif @turn.user == @admin %>
	<div class="head">
		<h1>Bewerte dich selbst!</h1>
	</div>
	<%= form_for(:rating, url: new_own_rating_path(@turn)) do |f| %>
	<div class="middle">
		<% if @task.rating1 && @task.rating1 != '' %>
		<div class="form-group">
			<label for="" class="rangeLabel" id="label_<%= @task.rating1 %>"><%= @task.rating1 %></label>
			<div id="rangeVal_<%= @task.rating1 %>" class="rangeVal">5.0</div>
			<input type="range" name="rating[<%= @task.rating1 %>]" min="0" max="100" id="slider_<%= @task.rating1 %>">
		</div>
		<script>
			if($('#label_<%= @task.rating1 %>').text().length > 20) {
				$('#label_<%= @task.rating1 %>').css("font-size", "2.5vh");
			}
			if($('#label_<%= @task.rating1 %>').text().length > 27) {
				$('#label_<%= @task.rating1 %>').css("font-size", "2vh");
			}
			if($('#label_<%= @task.rating1 %>').text().length > 34) {
				$('#label_<%= @task.rating1 %>').css("font-size", "1.5vh");
			}
			$('input[type="range"]').rangeslider({
				polyfill: false,
				rangeClass: 'rangeslider',
				disabledClass: 'rangeslider--disabled',
				horizontalClass: 'rangeslider--horizontal',
				verticalClass: 'rangeslider--vertical',
				fillClass: 'rangeslider__fill',
				handleClass: 'rangeslider__handle',

				// Callback function
				onInit: function() {},

				// Callback function
				onSlide: function(position, value) {},

				// Callback function
				onSlideEnd: function(position, value) {}
			});

			document.getElementById('slider_<%= @task.rating1 %>').oninput = function() {
				document.getElementById('rangeVal_<%= @task.rating1 %>').innerHTML = parseFloat(this.value / 10.0).toFixed(1);
			}
		</script>
		<% end %>
		<% if @task.rating2 && @task.rating2 != '' %>
		<div class="form-group">
			<label for="" class="rangeLabel" id="label_<%= @task.rating2 %>"><%= @task.rating2 %></label>
			<div id="rangeVal_<%= @task.rating2 %>" class="rangeVal">5.0</div>
			<input type="range" name="rating[<%= @task.rating2 %>]" min="0" max="100" id="slider_<%= @task.rating2 %>">
		</div>
		<script>
			if($('#label_<%= @task.rating2 %>').text().length > 20) {
				$('#label_<%= @task.rating2 %>').css("font-size", "2.5vh");
			}
			if($('#label_<%= @task.rating2 %>').text().length > 27) {
				$('#label_<%= @task.rating2 %>').css("font-size", "2vh");
			}
			if($('#label_<%= @task.rating2 %>').text().length > 34) {
				$('#label_<%= @task.rating2 %>').css("font-size", "1.5vh");
			}
			$('input[type="range"]').rangeslider({
				polyfill: false,
				rangeClass: 'rangeslider',
				disabledClass: 'rangeslider--disabled',
				horizontalClass: 'rangeslider--horizontal',
				verticalClass: 'rangeslider--vertical',
				fillClass: 'rangeslider__fill',
				handleClass: 'rangeslider__handle',

				// Callback function
				onInit: function() {},

				// Callback function
				onSlide: function(position, value) {},

				// Callback function
				onSlideEnd: function(position, value) {}
			});

			document.getElementById('slider_<%= @task.rating2 %>').oninput = function() {
				document.getElementById('rangeVal_<%= @task.rating2 %>').innerHTML = parseFloat(this.value / 10.0).toFixed(1);
			}
		</script>
		<% end %>
		<% if @task.rating3 && @task.rating3 != '' %>
		<div class="form-group">
			<label for="" class="rangeLabel" id="label_<%= @task.rating3 %>"><%= @task.rating3 %></label>
			<div id="rangeVal_<%= @task.rating3 %>" class="rangeVal">5.0</div>
			<input type="range" name="rating[<%= @task.rating3 %>]" min="0" max="100" id="slider_<%= @task.rating3 %>">
		</div>
		<script>
			if($('#label_<%= @task.rating3 %>').text().length > 20) {
				$('#label_<%= @task.rating3 %>').css("font-size", "2.5vh");
			}
			if($('#label_<%= @task.rating3 %>').text().length > 27) {
				$('#label_<%= @task.rating3 %>').css("font-size", "2vh");
			}
			if($('#label_<%= @task.rating3 %>').text().length > 34) {
				$('#label_<%= @task.rating3 %>').css("font-size", "1.5vh");
			}
			$('input[type="range"]').rangeslider({
				polyfill: false,
				rangeClass: 'rangeslider',
				disabledClass: 'rangeslider--disabled',
				horizontalClass: 'rangeslider--horizontal',
				verticalClass: 'rangeslider--vertical',
				fillClass: 'rangeslider__fill',
				handleClass: 'rangeslider__handle',

				// Callback function
				onInit: function() {},

				// Callback function
				onSlide: function(position, value) {},

				// Callback function
				onSlideEnd: function(position, value) {}
			});

			document.getElementById('slider_<%= @task.rating3 %>').oninput = function() {
				document.getElementById('rangeVal_<%= @task.rating3 %>').innerHTML = parseFloat(this.value / 10.0).toFixed(1);
			}
		</script>
		<% end %>
		<% if @task.rating4 && @task.rating4 != '' %>
		<div class="form-group">
			<label for="" class="rangeLabel" id="label_<%= @task.rating4 %>"><%= @task.rating4 %></label>
			<div id="rangeVal_<%= @task.rating4 %>" class="rangeVal">5.0</div>
			<input type="range" name="rating[<%= @task.rating4 %>]" min="0" max="100" id="slider_<%= @task.rating4 %>">
		</div>
		<script>
			if($('#label_<%= @task.rating4 %>').text().length > 20) {
				$('#label_<%= @task.rating4 %>').css("font-size", "2.5vh");
			}
			if($('#label_<%= @task.rating4 %>').text().length > 27) {
				$('#label_<%= @task.rating4 %>').css("font-size", "2vh");
			}
			if($('#label_<%= @task.rating4 %>').text().length > 34) {
				$('#label_<%= @task.rating4 %>').css("font-size", "1.5vh");
			}
			$('input[type="range"]').rangeslider({
				polyfill: false,
				rangeClass: 'rangeslider',
				disabledClass: 'rangeslider--disabled',
				horizontalClass: 'rangeslider--horizontal',
				verticalClass: 'rangeslider--vertical',
				fillClass: 'rangeslider__fill',
				handleClass: 'rangeslider__handle',

				// Callback function
				onInit: function() {},

				// Callback function
				onSlide: function(position, value) {},

				// Callback function
				onSlideEnd: function(position, value) {}
			});

			document.getElementById('slider_<%= @task.rating4 %>').oninput = function() {
				document.getElementById('rangeVal_<%= @task.rating4 %>').innerHTML = parseFloat(this.value / 10.0).toFixed(1);
			}
		</script>
		<% end %>
	</div>
	<div class="bottom">
		<%= f.submit 'Bewertung abgeben!', class: 'btn custom-btn' %>
	</div>
	<% end %>
<% else %>
<div class="head">
	<h1>Jetzt <%= @turn.user.fname %> bewerten!</h1>
</div>
<%= form_for(:rating, url: new_rating_path(@turn)) do |f| %>
<div class="middle">
	<% if @task.rating1 && @task.rating1 != '' %>
	<div class="form-group">
		<label for="" class="rangeLabel" id="label_<%= @task.rating1 %>"><%= @task.rating1 %></label>
		<div id="rangeVal_<%= @task.rating1 %>" class="rangeVal">5.0</div>
		<input type="range" name="rating[<%= @task.rating1 %>]" min="0" max="100" id="slider_<%= @task.rating1 %>">
	</div>
	<script>
		if($('#label_<%= @task.rating1 %>').text().length > 20) {
			$('#label_<%= @task.rating1 %>').css("font-size", "2.5vh");
		}
		if($('#label_<%= @task.rating1 %>').text().length > 27) {
			$('#label_<%= @task.rating1 %>').css("font-size", "2vh");
		}
		if($('#label_<%= @task.rating1 %>').text().length > 34) {
			$('#label_<%= @task.rating1 %>').css("font-size", "1.5vh");
		}
		$('input[type="range"]').rangeslider({
			polyfill: false,
			rangeClass: 'rangeslider',
			disabledClass: 'rangeslider--disabled',
			horizontalClass: 'rangeslider--horizontal',
			verticalClass: 'rangeslider--vertical',
			fillClass: 'rangeslider__fill',
			handleClass: 'rangeslider__handle',

			// Callback function
			onInit: function() {},

			// Callback function
			onSlide: function(position, value) {},

			// Callback function
			onSlideEnd: function(position, value) {}
		});

		document.getElementById('slider_<%= @task.rating1 %>').oninput = function() {
			document.getElementById('rangeVal_<%= @task.rating1 %>').innerHTML = parseFloat(this.value / 10.0).toFixed(1);
		}
	</script>
	<% end %>
	<% if @task.rating2 && @task.rating2 != '' %>
	<div class="form-group">
		<label for="" class="rangeLabel" id="label_<%= @task.rating2 %>"><%= @task.rating2 %></label>
		<div id="rangeVal_<%= @task.rating2 %>" class="rangeVal">5.0</div>
		<input type="range" name="rating[<%= @task.rating2 %>]" min="0" max="100" id="slider_<%= @task.rating2 %>">
	</div>
	<script>
		if($('#label_<%= @task.rating2 %>').text().length > 20) {
			$('#label_<%= @task.rating2 %>').css("font-size", "2.5vh");
		}
		if($('#label_<%= @task.rating2 %>').text().length > 27) {
			$('#label_<%= @task.rating2 %>').css("font-size", "2vh");
		}
		if($('#label_<%= @task.rating2 %>').text().length > 34) {
			$('#label_<%= @task.rating2 %>').css("font-size", "1.5vh");
		}
		$('input[type="range"]').rangeslider({
			polyfill: false,
			rangeClass: 'rangeslider',
			disabledClass: 'rangeslider--disabled',
			horizontalClass: 'rangeslider--horizontal',
			verticalClass: 'rangeslider--vertical',
			fillClass: 'rangeslider__fill',
			handleClass: 'rangeslider__handle',

			// Callback function
			onInit: function() {},

			// Callback function
			onSlide: function(position, value) {},

			// Callback function
			onSlideEnd: function(position, value) {}
		});

		document.getElementById('slider_<%= @task.rating2 %>').oninput = function() {
			document.getElementById('rangeVal_<%= @task.rating2 %>').innerHTML = parseFloat(this.value / 10.0).toFixed(1);
		}
	</script>
	<% end %>
	<% if @task.rating3 && @task.rating3 != '' %>
	<div class="form-group">
		<label for="" class="rangeLabel" id="label_<%= @task.rating3 %>"><%= @task.rating3 %></label>
		<div id="rangeVal_<%= @task.rating3 %>" class="rangeVal">5.0</div>
		<input type="range" name="rating[<%= @task.rating3 %>]" min="0" max="100" id="slider_<%= @task.rating3 %>">
	</div>
	<script>
		if($('#label_<%= @task.rating3 %>').text().length > 20) {
			$('#label_<%= @task.rating3 %>').css("font-size", "2.5vh");
		}
		if($('#label_<%= @task.rating3 %>').text().length > 27) {
			$('#label_<%= @task.rating3 %>').css("font-size", "2vh");
		}
		if($('#label_<%= @task.rating3 %>').text().length > 34) {
			$('#label_<%= @task.rating3 %>').css("font-size", "1.5vh");
		}
		$('input[type="range"]').rangeslider({
			polyfill: false,
			rangeClass: 'rangeslider',
			disabledClass: 'rangeslider--disabled',
			horizontalClass: 'rangeslider--horizontal',
			verticalClass: 'rangeslider--vertical',
			fillClass: 'rangeslider__fill',
			handleClass: 'rangeslider__handle',

			// Callback function
			onInit: function() {},

			// Callback function
			onSlide: function(position, value) {},

			// Callback function
			onSlideEnd: function(position, value) {}
		});

		document.getElementById('slider_<%= @task.rating3 %>').oninput = function() {
			document.getElementById('rangeVal_<%= @task.rating3 %>').innerHTML = parseFloat(this.value / 10.0).toFixed(1);
		}
	</script>
	<% end %>
	<% if @task.rating4 && @task.rating4 != '' %>
	<div class="form-group">
		<label for="" class="rangeLabel" id="label_<%= @task.rating4 %>"><%= @task.rating4 %></label>
		<div id="rangeVal_<%= @task.rating4 %>" class="rangeVal">5.0</div>
		<input type="range" name="rating[<%= @task.rating4 %>]" min="0" max="100" id="slider_<%= @task.rating4 %>">
	</div>
	<script>
		if($('#label_<%= @task.rating4 %>').text().length > 20) {
			$('#label_<%= @task.rating4 %>').css("font-size", "2.5vh");
		}
		if($('#label_<%= @task.rating4 %>').text().length > 27) {
			$('#label_<%= @task.rating4 %>').css("font-size", "2vh");
		}
		if($('#label_<%= @task.rating4 %>').text().length > 34) {
			$('#label_<%= @task.rating4 %>').css("font-size", "1.5vh");
		}
		$('input[type="range"]').rangeslider({
			polyfill: false,
			rangeClass: 'rangeslider',
			disabledClass: 'rangeslider--disabled',
			horizontalClass: 'rangeslider--horizontal',
			verticalClass: 'rangeslider--vertical',
			fillClass: 'rangeslider__fill',
			handleClass: 'rangeslider__handle',

			// Callback function
			onInit: function() {},

			// Callback function
			onSlide: function(position, value) {},

			// Callback function
			onSlideEnd: function(position, value) {}
		});

		document.getElementById('slider_<%= @task.rating4 %>').oninput = function() {
			document.getElementById('rangeVal_<%= @task.rating4 %>').innerHTML = parseFloat(this.value / 10.0).toFixed(1);
		}
	</script>
	<% end %>
</div>
<div class="bottom">
	<%= f.submit 'Bewertung abgeben!', class: 'btn custom-btn' %>
</div>
<% end %>
<% end %>
