<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div class="head">
	<h1>Hier ist <%= @admin == @turn.user ? 'deine' : @turn.user.fname + "'s" %> Bewertung!</h1>
</div>
<div class="middle">
	<% if @turn.user.avatar? %>
		<%= image_tag @turn.user.avatar.url, class: 'custom-border pulse' %>
	<% else %>
		<div class="circle custom-border pulse"><%= @turn.user.fname[0].capitalize %><%= @turn.user.lname[0].capitalize %></div>
	<% end %>
</div>
<div class="bottom">
	<% if @admin.role != 'user' && @admin.role != 'inactive' %>
		<%= link_to 'Pitch wiederholen', gm_repeat_turn_path, class: 'btn inverted', data: {confirm: "Bist du sicher, dass du den Pitch wiederholen möchtest?"} %>
		<% if @pitch.task_orders.find_by(order: @game.current_task + 1) %>
			<%= link_to 'weiter', gm_set_slide_path(@game.current_task + 1), class: 'btn custom-btn' %>
		<% else %>
			<%= link_to 'zur Bestenliste', gm_set_state_path(state: 'bestlist'), class: 'btn custom-btn' %>
		<% end %>
	<% end %>
</div>
