<div class="head">
	<h1>Die letzte Aufgabe wiederholen</h1>
</div>
<div class="middle">
	<% if @turn.user.avatar? %>
		<%= image_tag @turn.user.avatar.url, class: 'custom-border pulse' %>
	<% else %>
		<div class="circle custom-border pulse"><%= @turn.user.fname[0].capitalize %><%= @turn.user.lname[0].capitalize %></div>
	<% end %>
</div>
<div class="bottom big">
		<%= link_to @turn.user.fname + ' pitcht', gm_repeat_turn_copy_path, class: 'btn inverted' %>
		<%= link_to 'Anderer Nutzer pitcht', gm_set_state_path(state: 'show_task'), class: 'btn'%>
</div>
