<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div class="head">
	<h1>Pitch läuft...</h1>
</div>
<div class="middle">
	<% if @admin.avatar? %>
	  <%= image_tag @admin.avatar.url, class: 'custom-border pulse' %>
	<% else %>
	  <div class="circle custom-border pulse"><%= @admin.fname[0].capitalize %><%= @admin.lname[0].capitalize %></div>
	<% end %>
</div>
<div class="bottom">
	<% if @admin.role != 'user' && @admin.role != 'inactive' %>
	<%= link_to 'weiter', gm_set_state_path('', state: 'slide', slide: @game.current_task + 1), class: 'btn custom-btn' %>
	<% end %>
</div>