<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div class="head">
	<h1><%= @turn.user.fname %><%= @turn.user == @admin ? ', du bist dran!' : ' ist dran!' %></h1>
</div>
<% if @admin == @game.user %>
<%= form_for(:turn, url: turn_record_path(@turn)) do |f| %>
<div class="middle">
    <% if @turn.user.avatar? %>
    	<%= image_tag @turn.user.avatar.url, class: 'custom-border pulse' %>
    <% else %>
    	<div class="circle custom-border pulse"><%= @turn.user.fname[0].capitalize %><%= @turn.user.lname[0].capitalize %></div>
    <% end %>
    <div class="switch">
    	<%= f.check_box :record_pitch, checked: false %>
    	<label for="turn_record_pitch">
    		<div class="checkbox"><div class="dot"></div></div>
    		<div class="text" style="line-height: 5vh !important;">Pitch als Video aufnehmen</div>
    	</label>
    </div>
</div>
<div class="bottom">
	<%= f.submit 'Pitch starten', class: 'btn custom-btn' %>
</div>
<% end %>
<% else %>
<div class="middle">
	<% if @turn.user.avatar? %>
    	<%= image_tag @turn.user.avatar.url, class: 'custom-border pulse' %>
    <% else %>
    	<div class="circle custom-border pulse"><%= @turn.user.fname[0].capitalize %><%= @turn.user.lname[0].capitalize %></div>
    <% end %>
</div>
<% end %>
