<% content_for :title, "Peter Pitch - Dein digitales Trainingstool" %>
<% content_for :description, 'Peter Pitch ist das digitale Trainingstool für Kommukation und Vertrieb.'%>
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<% if cookies[:accepted] == 'true' %>
<!-- Crisp Chat -->
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="f6188c63-197c-473a-9f22-0414029984a4";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<!-- END Crisp Chat -->
<% end %>
<section id="navbar">
    <%= link_to image_tag('landing/logo.png', alt: 'Peter Pitch Logo'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
       	<div class="link">
       		<%= link_to 'Produkt', product_path %>
       		<div class="line"></div>
       	</div>
        <div class="link">
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Blog', blog_path %>
            <div class="line"></div>
        </div>
        <div class="link">
          	<i class="login-link" onclick="showLoginModal()">Login</i>
        </div>
        <div class="link">
            <%= link_to 'Demo vereinbaren', contact_path("", subject: "demo"), class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
        <i class="login-link" onclick="showLoginModal()">Login</i>
        <%= link_to 'Demo vereinbaren', contact_path("", subject: "demo"), class: 'btn btn-white' %>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<section id="content">
    <div class="head animated fadeIn">
        <div class="left">
            <div class="heading-big" id='typed'></div>
            <div id="typed-strings">
                <span>Peter Pitch</span>
                <p>ZurückBlitzer</p>
                <p>ChefTrampolin</p>
                <p>NotrufSocke</p>
            </div>
            <div class="heading-small">Das digitale Trainingstool für <br> Kommunikation und Vertrieb.</div>
            <div class="points">
                <div class="point">
                    <%= image_tag 'landing/training.png', alt: 'Training' %>
                    <h2>Training</h2>
                    <h5>Interaktiv und Digital</h5>
                </div>
                <div class="point">
                    <%= image_tag 'landing/analyse.png', alt: 'Analyse' %>
                    <h2>Analyse</h2>
                    <h5>Macht Softskills messbar</h5>
                </div>
                <div class="point">
                    <%= image_tag 'landing/rec.png', alt: 'Recruiting' %>
                    <h2>Recruiting</h2>
                    <h5>Testet Bewerber</h5>
                </div>
                <div class="point">
                    <%= image_tag 'landing/event.png', alt: 'Event' %>
                    <h2>Event</h2>
                    <h5>100% Entertainmentgarantie</h5>
                </div>
            </div>
            <div class="cta">
                <%= link_to 'kostenlos testen', contact_path, class: 'btn btn-green' %>
            </div>
        </div>
        <div class="right">
            <%= image_tag 'landing/PeterPitchIsometric.png', alt: 'Vertriebstraining' %>     
        </div>
    </div>
    <%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape1', alt: '' %>
    <%= image_tag 'landing/shape.svg', class: 'shape s153', id: 'shape2', alt: '' %>
    
    
    <div class="wie-geil-ist-das animated fadeIn" data-wow-delay=".2s">
        <h2>Wie geil ist das denn?</h2>
        <h5>Nimm den Spaß in deinem Unternehmen ernst und verwandel deine Meetings in wahre Performance-Booster. Mit Peter Pitch treibst du das Mitarbeiter-Rudel zusammen und machst sogar aus den wackeligsten Welpen wahre Wölfe. Stage is yours!</h5>
        <div class="video" onclick="playVideo()">
        	<%= image_tag 'landing/video-bg.png', id: 'picVideo', alt: 'Spaß am Training' %>
        	<%= video_tag 'landing.mp4', id: 'vidVideo', controls: true, preload: 'auto' %>
        	<i class="far fa-play-circle" id="playVideo"></i>
        </div>
    </div>
    <%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape3', alt: '' %>
    <%= image_tag 'landing/shape.svg', class: 'shape s87 right219', id: 'shape4', alt: '' %>
    
    <div class="dots">
        <div class="dot blue wow fadeIn"></div>
        <div class="dot green wow fadeIn" data-wow-delay=".2s"></div>
        <div class="dot wow fadeIn" data-wow-delay=".4s"></div>
    </div>
    
    <section id="hiw">
        <h2 class="wow fadeIn" data-wow-delay=".2s">So funktioniert's</h2>
        <div class="categories wow fadeInUp" data-wow-delay=".2s">
        <div class="rudel" onmouseover="startRudel()" onmouseout="stopRudel()" ontouchstart="startRudel()" ontouchend="stopRudel()">
           	<div id="rudel"></div>
           	<script>
				var params = {
					container: document.getElementById('rudel'),
					renderer: 'svg',
					loop: true,
					autoplay: false,
					path: "<%= asset_url('landing/animRudel.json') %>",
				};
				var animRudel;
				animRudel = bodymovin.loadAnimation(params);
				function startRudel() {animRudel.play()}
				function stopRudel() {animRudel.pause()}
			</script>
            <div class="text">
                <h2>Rudelbildung</h2>
                Du trommelst das Rudel zusammen und erstellst online eine Pitchgruppe. Sind alle Wölfe mit ihren Smartphones beigetreten? Dann kann es losgehen!
            </div>
        </div>
        <%= image_tag 'landing/line1.png', id: 'line1', alt: '' %>
        <div class="pitch" onmouseover="startPitchit()" onmouseout="stopPitchit()" ontouchstart="startPitchit()" ontouchend="stopPitchit()">
           	<div id="pitchit"></div>
           	<script>
				var params = {
					container: document.getElementById('pitchit'),
					renderer: 'svg',
					loop: true,
					autoplay: false,
					path: "<%= asset_url('landing/animPitchit.json') %>",
				}
				var animPitchit;
				animPitchit = bodymovin.loadAnimation(params);
				function startPitchit() {animPitchit.play()}
				function stopPitchit() {animPitchit.pause()}
			</script>
            <div class="text">
                <h2>Pitch It</h2>
                Jetzt wird es spannend! Das Voting entscheidet wer pitcht. Ab nach vorne um dem Team ein Catchword zu verkaufen… Produkt oder Dienstleistung?
            </div>
        </div>
        <%= image_tag 'landing/line2.png', id: 'line2', alt: '' %>
        <div class="rating" onmouseover="startRating()" onmouseout="stopRating()" ontouchstart="startRating()" ontouchend="stopRating()">
            <div id="rating"></div>
            <script>
				var params = {
					container: document.getElementById('rating'),
					renderer: 'svg',
					loop: true,
					autoplay: false,
					path: "<%= asset_url('landing/animRating.json') %>",
				}
				var animRating;
				animRating = bodymovin.loadAnimation(params);
				function startRating() {animRating.play()}
				function stopRating() {animRating.pause()}
			</script>
            <div class="text">
                <h2>Rating</h2>
                Das Publikum bewertet den Pitch anschließend mit dem Smartphone in 4 Kategorien. Direktes Feedback und Interaktion auf ganzer Linie.
            </div>
        </div>
        </div>
    </section>
    <div class="references wow fadeIn">
        <h2 class="mobilehead">Referenzen</h2>
        <h2 class="desktophead"><div class="line1"></div>Du befindest dich in bester Gesellschaft <div class="line2"></div></h2>
        <div class="logo-wheel">
            <%= image_tag 'logos/lensing.png', alt: 'LensingMedia' %>
            <%= image_tag 'logos/mysecondear.png', alt: 'MySecondEar' %>
            <%= image_tag 'logos/ergo.svg', alt: 'Ergo' %>
            <%= image_tag 'logos/tremonia.png', alt: 'TremoniaMedia' %>
        </div>
    </div>
    
    <section id="product">
    <div class="image-text left" onmouseover="startGami()" onmouseout="stopGami()" ontouchstart="startGami()" ontouchend="stopGami()">
        <div class="image wow fadeInLeft" data-wow-delay=".2s" >
       		<div id="gamification"></div>
       		<script>
				var params = {
					container: document.getElementById('gamification'),
					renderer: 'svg',
					loop: true,
					autoplay: false,
					path: "<%= asset_url('landing/animGamification.json') %>",
				};
				var animGami;
				animGami = bodymovin.loadAnimation(params);
				function startGami() {animGami.play()}
				function stopGami() {animGami.pause()}
			</script>
        </div>
        <div class="text wow fadeInRight" data-wow-delay=".2s">
            <div class="blue">Stage is yours</div>
            <div class="heading"><span class="green">Gamification</span> - Pitch It!</div>
            <div class="content">Gamification bedeutet Spaß in spielfremde &amp; theoretische Situationen einzubringen, wie beispielsweise in Vertriebsschulungen. Mit unserem digitalen Trainingstool und kreativen Catchwords kommen bei deinen Mitarbeitern ungeahnte Potentiale zum Vorschein. <br>
            <%= link_to 'Jetzt anmelden', contact_path , class: 'btn btn-green' %>
            </div>
        </div>
        <div class="paw1">
            <div class="paw1 wow fadeIn"></div>
            <div class="paw2 wow fadeIn06" data-wow-delay=".2s"></div>
            <div class="paw3 wow fadeIn06" data-wow-delay=".4s"></div>
            <div class="paw4 wow fadeIn04" data-wow-delay=".6s"></div>
        </div>
    </div>
    <%= image_tag 'landing/shape.svg', class: 'shape s87', id: 'shape5', alt: '' %>
    <div class="image-text right" onmouseover="startInter()" onmouseout="stopInter()" ontouchstart="startInter()" ontouchend="stopInter()" >
       <div class="image wow fadeInRight" data-wow-delay=".2s">
            <div id="interaction"></div>
            <script>
				var params = {
					container: document.getElementById('interaction'),
					renderer: 'svg',
					loop: true,
					autoplay: false,
					path: "<%= asset_url('landing/animInteraction.json') %>",
				};
				var animInter;
				animInter = bodymovin.loadAnimation(params);
				function startInter() {animInter.play()}
				function stopInter() {animInter.pause()}
			</script>
        </div>
        <div class="text wow fadeInLeft" data-wow-delay=".2s">
            <div class="blue">Rate now</div>
            <div class="heading"><span class="green">Interaktion</span> - par excellence</div>
            <div class="content">Frontpräsentationen waren gestern. Durch die interaktive Bewertung jedes Einzelnen, sind alle Mitarbeiter eingebunden und verbessern nicht nur sich selbst, sondern auch das Teamwork. Die Kollegen helfen spielerisch bei der Einschätzung der Fremdwahrnehmung und hieven das Team auf ein neues Level. <br>
            <%= link_to 'Zugang anfordern', contact_path, class: 'btn btn-white' %>
            </div>
        </div>
        <div class="paw2">
            <div class="paw1 wow fadeIn"></div>
            <div class="paw2 wow fadeIn06" data-wow-delay=".2s"></div>
            <div class="paw3 wow fadeIn06" data-wow-delay=".4s"></div>
            <div class="paw4 wow fadeIn04" data-wow-delay=".6s"></div>
        </div>
    </div>
    <%= image_tag 'landing/shape.svg', class: 'shape s153', id: 'shape6', alt: '' %>
    <%= image_tag 'landing/shape.svg', class: 'shape s87', id: 'shape7', alt: '' %>
    <div class="image-text left" onmouseover="startPerf()" onmouseout="stopPerf()" ontouchstart="startPerf()" ontouchend="stopPerf()">
        <div class="image wow fadeInLeft" data-wow-delay=".2s">
       		<div id="performance"></div>
       		<script>
				var params = {
					container: document.getElementById('performance'),
					renderer: 'svg',
					loop: true,
					autoplay: false,
					path: "<%= asset_url('landing/animPerformance.json') %>"
				};
				var animPerf;
				animPerf = bodymovin.loadAnimation(params);
				
				function startPerf() {animPerf.play()}
				function stopPerf() {animPerf.pause()}
			</script>
        </div>
        <div class="text wow fadeInRight" data-wow-delay=".2s">
            <div class="blue">Performance-boost!</div>
            <div class="heading"><span class="green">Controlling</span> - maximale Transparenz</div>
            <div class="content">Wir machen Softskills erstmals messbar. Du behältst den Lernfortschritt deiner Mitarbeiter genau im Auge. Jede Pitch-Performance wird gespeichert und ist jederzeit abrufbar. Erkenne die Stärken und Schwächen und arbeite gezielt an den Fähigkeiten deines Teams. <br>
            <%= link_to 'Kostenlos testen', contact_path, class: 'btn btn-green' %>
            </div>
        </div>
    </div>
    </section>
    <div class="dots margin-top">
        <div class="dot blue wow fadeIn"></div>
        <div class="dot green wow fadeIn" data-wow-delay=".2s"></div>
        <div class="dot wow fadeIn" data-wow-delay=".4s"></div>
    </div>
    <section id="smartphone" onmouseover="startKI()" onmouseout="stopKI()" ontouchstart="startKI()" ontouchend="stopKI()">
    	<div class="head wow fadeIn">KI Videoanalyse</div>
    	<div class="head-text wow fadeIn">
    		Der beste Ausgangspunkt für eine kommunikative Entwicklung ist unsere KI Videonalyse. Stärken und Schwächen werden sicht- und hörbar aufgedeckt, sodass die individuellen Fähigkeiten gezielt trainiert und verbessert werden.
    	</div>
    	<div class="image wow fadeIn">
   			<div id="ki"></div>
   		<script>
			var params = {
        		container: document.getElementById('ki'),
        		renderer: 'svg',
        		loop: true,
        		autoplay: false,
        		path: '<%= asset_url("landing/animKI.json") %>'
    		};
    		var animKI;
    		animKI = bodymovin.loadAnimation(params);
			function startKI() {animKI.play()}
			function stopKI() {animKI.pause()}
		</script>
    	</div>
    	<div class="left wow fadeInLeft">
    		<div class="text">
				<h5>Speech To Text</h5>
    			Durch unsere KI basierte Spracherkennung wird jeder Pitch automatisch transkribiert und ausgewertet.
    		</div>
    		<div class="line"><div class="dot"></div></div>
    		<div class="shadow"></div>
    	</div>
    	
    	<div class="right wow fadeInRight">
    		<div class="text">
    			<h5>Corporate Wording</h5>
    			Definiere die eigene Sprachkultur durch die Festlegung von Do <br> und Don't Wörtern.
    		</div>
    		<div class="line"><div class="dot"></div></div>
    		<div class="shadow"></div>
    	</div>
    </section>
    <div class="dots">
        <div class="dot blue wow fadeIn"></div>
        <div class="dot green wow fadeIn" data-wow-delay=".2s"></div>
        <div class="dot wow fadeIn" data-wow-delay=".4s"></div>
    </div>
    
    <%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape8', alt: '' %>
    <div class="testimonials wow fadeIn" data-wow-delay=".2s">
       <div class="heading">
           Wir lieben Peter
       </div>
        <div class="swiper-container">
        	<div class="swiper-wrapper">
        		<div class="swiper-slide">
					<div class="card" id="card1">
						<div class="text">
							"Die Mitarbeiter lieben es - unsere Schulungen avancieren mit diesem Tool zu echten Highlights."
						</div>
						<div class="people">
							<%= image_tag 'people/stechert.png', alt: 'Julian Stechert' %>
							<div class="name">Julian Stechert</div>
							<div class="reference">MySecondEar</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card" id="card2">
						<div class="text">
							"Kreative und nachhaltige Lernmethoden sind ein wichtiger Bestandteil unserer DNA. Als Gründungspartner von Peter Pitch profitieren wir von einem hoch innovativen, digitalen Trainingstool."
						</div>
						<div class="people">
							<%= image_tag 'people/michallik.png', alt: 'Sabrina Michallik' %>
							<div class="name">Sabrina Michallik</div>
							<div class="reference">Lensing Media</div>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="card" id="card3">
						<div class="text">
							"Spaß und Vertrieb gehören zusammen. Peter Pitch trägt einen großen Teil zu unserer erfolgreichen Lernkultur bei."
						</div>
						<div class="people">
							<%= image_tag 'people/storms.jpg', alt: 'Julian Storms' %>
							<div class="name">Julian Storms</div>
							<div class="reference">Ergo Group</div>
						</div>
					</div>
				</div>
        	</div>
        	<div class="swiper-pagination"></div>
        </div>
    </div>
    <%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape9', alt: '' %>
<section id="faq">
    <div class="faq wow fadeIn">
        <div class="heading">Häufige Fragen</div>
        <div class="question-section">
            <div class="question">
                <div class="q" onclick="showFAQ('q1')">
                    Warum sollte ich Peter Pitch nutzen? 
                    <i class="fas fa-plus" id="plus1"></i>
                    <i class="fas fa-minus" id="minus1"></i>
                </div>
                <div class="text fadeIn" id="q1">
                    Als erstes Blended-Learning Tool für Kommunikation und Vertrieb verbindet Peter Pitch die Vorteile digitaler und analoger Lernwelten. Durch den praktischen Trainingsansatz deckt Peter Pitch deine kommunikativen Stärken und Schwächen auf und verbessert durch detailiertes Feedback deine Beratungs- und Verkaufskompetenzen.
                </div>
            </div>
            <div class="question">
                <div class="q" onclick="showFAQ('q2')">
                    Muss ich mir eine Software herunterladen?
                    <i class="fas fa-plus" id="plus2"></i>
                    <i class="fas fa-minus" id="minus2"></i>
                </div>
                <div class="text fadeIn" id="q2">
                    Nein, es muss kein Programm auf den jeweiligen Endgeräten installiert werden. Peter Pitch ist zu 100% browserbasiert und ohne das Herunterladen von Software direkt einsatzbereit.
                </div>
            </div>
            <div class="question">
                <div class="q" onclick="showFAQ('q3')">
                    Kann ich Peter Pitch individualisieren?
                    <i class="fas fa-plus" id="plus3"></i>
                    <i class="fas fa-minus" id="minus3"></i>
                </div>
                <div class="text fadeIn" id="q3">
                    Peter Pitch kann im Handumdrehen auf deine Bedürfnisse und individuellen Anforderungen angepasst werden. Neben den angebotenen Catchwords kannst du reale Produkt- und Dienstleistungsnamen in dein Pitch Training integrieren. Darüberhinaus hast du die Möglichkeit das Zeitfenster anzupassen und eigene Einwände zu verfassen.
                </div>
            </div>
            <div class="question">
                <div class="q" onclick="showFAQ('q4')">
                    Ist Peter Pitch ein E-Learning Tool?
                    <i class="fas fa-plus" id="plus4"></i>
                    <i class="fas fa-minus" id="minus4"></i>
                </div>
                <div class="text fadeIn" id="q4">
                    Jein. Es gibt Kompetenzen die in der reinen Theorie nur schwer vermittelbar sind und umso mehr in der Praxis trainiert werden müssen. Peter Pitch vereint die digitalen UND analogen Lernwelten. Das Lehrziel deiner Schulungsmaßnahme wird so möglichst effizient und effektiv erreicht.
                </div>
            </div>
            <div class="question">
                <div class="q" onclick="showFAQ('q5')">
                    Was kostet Peter Pitch
                    <i class="fas fa-plus" id="plus5"></i>
                    <i class="fas fa-minus" id="minus5"></i>
                </div>
                <div class="text fadeIn" id="q5">
                    Kontaktiere das Peter Pitch-Team für dein individuelles 
                    <%= link_to 'Angebot.', contact_path %>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="startnow wow fadeIn">
    Jetzt mit Peter Pitch durchstarten!
    <%= link_to "Demo vereinbaren", contact_path("", subject: "demo"), class: 'btn btn-white' %>
</div>
<section id="secure" class='wow fadeIn'>
    <div class="heading">Sicherheit &#38; Datenschutz</div>
    <div class="text">
        Wir nehmen unsere Verantwortung zum Schutz deiner Daten sehr ernst. Peter Pitch ist eine komplett inhouse programmierte Software aus Deutschland und wird auch dort gehosted. Zudem verwenden wir ausschließlich höchste Industriestandarts, um Datenschutz und Vertraulichkeit sicherzustellen.
    </div>
    <div class="content">
    <div class="hosted">
        <%= image_tag 'landing/germany.png', alt: 'Deutschland' %>
        <h2>Datenschutz made in Germany</h2>
        <div class="text">
            Unsere Server stehen in Deutschland und Peter Pitch wurde auch dort entwickelt. Deine Daten sind in Rechenzentren gespeichert die nach den höchsten Industrienormen PCI DSS Level 1 und ISO 9001/ISO 27001 zertifiziert sind.
        </div>
    </div>
    
    <div class="ssl">
        <%= image_tag 'landing/ssl.png', alt: 'SSL' %>
        <h2>SSL Zertifizierung</h2>
        <div class="text">
            Peter Pitch ist SSL-zertifiziert und operiert ausschließlich über sichere SSL verschlüsselte Verbindungen, um den Schutz deiner Daten sicherzustellen.
        </div>
    </div>
    <div class="daten">
        <%= image_tag 'landing/gdpr.png', alt: 'Datenschutz' %>
        <h2>Datenschutz auf Onlinebanking Niveau</h2>
        <div class="text">
            Peter Pitch ist DSGVO konform! Unsere Kundendaten und User Informationen werden mit den besten Verschlüsselungsalgorithmen übertragen, die derzeit verfügbar sind.  
        </div>
    </div>
    </div>
</section>
</section>

<section id="footer" class="wow fadeIn">
    <div class="logo">
        <%= image_tag 'landing/logo.png', alt: 'Peter Pitch Logo' %>
    </div>
    <div class="company">
        <div class="heading">Unternehmen</div>
        <div class="links">
            <%= link_to 'Registrieren', contact_path %>
            <%= link_to 'Preise', contact_path %>
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <%= link_to 'Login', '#login', onclick: 'showLoginModal()' %>
        </div>
    </div>
    <div class="legal">
        <div class="heading">Rechtliches</div>
        <div class="links">
            <%= link_to 'Impressum', impressum_path %>
            <%= link_to 'Datenschutz', datenschutz_path %>
        </div>
    </div>
    <div class="social">
        <%= link_to '', 'https://www.instagram.com/peterpitchcom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-instagram" %>
        <%= link_to '', 'https://www.youtube.com/channel/UCN7MeKNNdXK28uIiJjJ4Fdg', target: "_blank", rel: "noopener noreferrer", class: "fab fa-youtube" %>
        <%= link_to '', 'https://www.facebook.com/PeterPitchCom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-facebook-f" %>
    </div>
</section>
<% if cookies[:accepted] != 'true' %>
	<div class="cookie-pop-up">
		<div class="text">
			Wir nutzen Cookies um die Benutzerfreundlichkeit und Qualität unserer Webseite stetig zu verbessern. Durch die weitere Nutzung unserer Webseite stimmst du unserer Verwendung von Cookies zu.
		</div>
		<%= link_to 'Schließen', accept_cookies_path, class: 'cookie-btn' %>
	</div>
<% end %>
<% if flash[:thanks_for_register] %>
<div class="register-pop-up">
	<div class="karte">
	<h2>Anfrage erhalten</h2>
	<div class="text"><%= flash[:thanks_for_register] %></div>
	</div>
</div>
<% end %>
<% if flash[:admin_email] %>
<div class="register-pop-up">
	<div class="karte">
	<h2>E-Mail Adresse Vergeben!</h2>
	<div class="text"><%= flash[:admin_email] %></div>
	</div>
</div>
<% end %>
<% if flash[:activated] %>
<div class="register-pop-up">
	<div class="karte">
		<h2>Noch nicht akzeptiert!</h2>
		<div class="text"><%= flash[:activated] %></div>
	</div>
</div>
<% end %>
<div class="fullscreen-modal" id="loginModal">
    
    <div class="close"><i class="fas fa-times" onclick="showLoginModal()"></i></div>
    <div class="card">
    <%= form_for(:user, as: User, url: session_path(User)) do |f| %>
        <h2>Login</h2>
        <div class="form-group ">
            <label for="">Email</label>
            <%= f.email_field :email, class: 'form-field', id: 'loginEmail', required: true  %>
        </div>
        <div class="form-group">
            <label for="">Passwort</label>
            <div class="right"><%= link_to "Passwort vergessen?", forget_password_path %></div>
            <%= f.password_field :password, class: 'form-field',id: 'loginPassword', required: true  %>
            <br>
        </div>
        <div class="form-group center">
            <%= f.submit 'Login', class: 'btn btn-green', id: "loginButton" %>
        </div>
    <% end %>
    </div>
</div>
<div class="fullscreen-modal" id="dontLeaveModal">
	<div class="close" onclick="hideDontLeaveModal()"><i class="fas fa-times"></i></div>
	<div class="card">
	<h3>Verlass uns noch nicht.</h3>
	<div class="text">Erhalte eine kostenlose Demo mit nur einem Klick.</div>
	<div class="form-group center">
	<%= link_to 'Zur Demo', contact_path("", subject: "demo"), class: 'btn btn-green' %>
	</div>
	</div>
</div>
<script>
	setTimeout(function(){
		$('body').on('mouseleave', function() {
			if($('#loginModal').is(':hidden')) {
				$('#dontLeaveModal').show();
			  	$('body').off('mouseleave');	
			}
		})
	}, 20000)
	function hideDontLeaveModal() {
		$('#dontLeaveModal').hide();
	}
	<% if flash[:thanks_for_register] || flash[:admin_email] %>
		setTimeout(function(){$('.register-pop-up').hide();}, 5100);
	<% end %>
	if(window.location.hash == '#login') {
		showLoginModal();
	}
    if($(window).width() <= '900') {
		var mySwiper = new Swiper ('.swiper-container', {
    		// Optional parameters
    		direction: 'horizontal',
    		loop: true,
			initialSlide: 1,
			centeredSlides: true,

    		// If we need pagination
    		pagination: {
      			el: '.swiper-pagination',
    		},
  		})	
	}
  	
  
    function playVideo() {
		$('#picVideo').hide();
		$('#vidVideo').show();
		$('#playVideo').hide();
		$('#vidVideo').trigger('play');
		$('#vidVideo').on('ended', function() {
			$('#picVideo').show();
			$('#vidVideo').hide();
			$('#playVideo').show();
		})
		$('#vidVideo').on('pause', function() {
			$('#picVideo').show();
			$('#vidVideo').hide();
			$('#playVideo').show();
		})
    }
    function showLoginModal() {
        $('#loginModal').toggle();
    }
    function showNavLinks() {
        if($('#navLinks').is(":hidden")) {
            $('#navLinks').show();   
        } else {
            $('#navLinks').hide();
        }
    }
    function showFAQ(qid) {
        if(qid == 'q1') {
            $('#q1').toggle();
            $('#q1').addClass('animated');
            $('#plus1').toggle();
            $('#minus1').toggle();
        } else if(qid == 'q2') {
            $('#q2').toggle();
            $('#q2').addClass('animated');
            $('#plus2').toggle();
            $('#minus2').toggle();
        } else if(qid == 'q3') {
            $('#q3').toggle();
            $('#q3').addClass('animated');
            $('#plus3').toggle();
            $('#minus3').toggle();
        } else if(qid == 'q4') {
            $('#q4').toggle();
            $('#q4').addClass('animated');
            $('#plus4').toggle();
            $('#minus4').toggle();
        } else if(qid == 'q5') {
            $('#q5').toggle();
            $('#q5').addClass('animated');
            $('#plus5').toggle();
            $('#minus5').toggle();
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var typed = new Typed('#typed', {
            contentType: 'html',
            stringsElement: '#typed-strings',
            startDelay: 300,
            typeSpeed: 100,
            backSpeed: 20,
            backDelay: 700,
            loop: true,
            loopCount: Infinity,
        })

        WOW.prototype.addBox = function(element) {
            this.boxes.push(element);
        };

        // Init WOW.js and get instance
        var wow = new WOW();
        wow.init();

        $('.wow.add-anim').on('scrollSpy:exit', function() {
            $(this).css({
                'visibility': 'hidden',
                'animation-name': 'none'
            }).removeClass('animated');
            wow.addBox(this);
        }).scrollSpy();
    })
</script>