<% content_for :title, "Peter Pitch - Password vergessen?" %>
<% content_for :description, 'Peter Pitch ist das digitale Trainingstool für Kommunication und Vertrieb.'%>
<section id="navbar">
    <%= link_to image_tag('landing/logo.png', alt: 'Peter Pitch Logo'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
       	<div class="link">
       		<%= link_to 'Produkt', product_path %>
       		<div class="line"></div>
       	</div>
        <div class="link">
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
            <div class="line"></div>
        </div>
        <div class="link">
          	<i class="login-link" onclick="showLoginModal()">Login</i>
        </div>
        <div class="link">
            <%= link_to 'Demo vereinbaren', contact_path("", subject: "demo"), class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
       	<i class="login-link" onclick="showLoginModal()">Login</i>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>

<section id="devise_form">
<%= form_for(:user, url: user_new_password_path) do |f| %>
<h2>Password vergessen?</h2>
<div class="form-group">
	<%= f.email_field :email, placeholder: 'E-Mail Adresse eingeben', class: 'form-field' %>
</div>
<div class="form-group">
<%= f.submit 'neues Password erhalten', class: 'btn btn-green' %>
</div>
<% end %>
</section>

<div class="fullscreen-modal" id="loginModal">

    <div class="close" onclick="showLoginModal()"><%= image_tag 'icons/close.svg' %></div>
    <div class="card">
    <%= form_for(:user, as: User, url: session_path(User)) do |f| %>
        <h2>Login</h2>
        <div class="form-group ">
            <label for="">Email</label>
            <%= f.email_field :email, class: 'form-field', id: 'loginEmail', required: true  %>
        </div>
        <div class="form-group">
            <label for="">Passwort</label>
            <div class="right"><%= link_to "Passwort vergessen?", forget_password_path %></div>
            <%= f.password_field :password, class: 'form-field',id: 'loginPassword', required: true  %>
            <br>
        </div>
        <div class="form-group center">
            <%= f.submit 'Login', class: 'btn btn-green', id: "loginButton" %>
        </div>
    <% end %>
    </div>
</div>


<script>
	function showLoginModal() {
        $('#loginModal').toggle();
    }
</script>
