<div class="left">
	<div class="search">
		<i class="fas fa-search"></i>
		<input type="text" placeholder="Unternehmen suchen" id="searchCompanies" class="form-field">
		<button class="btn btn-green" onclick="toggleCompany()">Unternehmen anlegen</button>
	</div>
	<div class="card" id="company" style="<%= @company && !@company.activated || params[:edit] ? 'display: none' : '' %>">
	<h3>Unternehmen</h3>
	<div class="table" id="company-table">
	  <table>
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Nutzer</th>
	        <th>Pitches</th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @companies.each do |c| %>
	      <tr class="<%= @company && @company == c ? 'highlighted' : '' %>">
	        <td onclick="redirect('<%= backoffice_company_url(c.id) %>')"><%= c.name %></td>
	        <td onclick="redirect('<%= backoffice_company_url(c.id) %>')"><%= c.users.count %></td>
	        <td onclick="redirect('<%= backoffice_company_url(c.id) %>')"><%= c.games.count %></td>
	        <td class="edit"><%= link_to '', backoffice_company_path(c.id, edit: ''), class: 'far fa-edit' %></td>
	        <td class="remove"><%= link_to '', destroy_company_path(c.id, site: 'backoffice_company'), class: 'far fa-trash-alt', data: {confirm: 'Bist du sicher das du dieses Unternehmen löschen möchtest?'} %></td>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
	</div>
	<script>
	  function redirect(cID) {
	    var url = cID;
	    location.replace(url);
	  }
	</script>
</div>
<div class="right">
	<div class="search">
		<i class="fas fa-search"></i>
		<input type="text" placeholder="User suchen" id="searchUsers" class="form-field">
	</div>
	<div class="card" id='inactive-company'>
	  <h3>Inactive Unternehmen</h3>

	  <div class="table" id="inactive-company-table">
	  <table>
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>E-Mail</th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @unactivated_companies.each do |c| %>
	        <tr class="red <%= c == @company ? 'highlighted' : '' %>">
	          <td onclick="redirect('<%= backoffice_company_url(c.id) %>')"><%= c.name %></td>
	          <td onclick="redirect('<%= backoffice_company_url(c.id) %>')"><%= c.users.first.email %></td>
	          <td class="accept"><%= link_to '', accept_company_path(c.id), class: 'far fa-check-circle' %></td>
	          <td class="remove"><%= link_to '', destroy_company_path(c.id, site: 'backoffice_company'), class: 'far fa-trash-alt', data: {confirm: 'Bist du sicher das du dieses Unternehmen löschen möchtest?'} %></td>
	        </tr>
	        <% end %>
	    </tbody>
	  </table>
	  </div>
	</div>
</div>
