<div class="card" id="content_card">
  <div class="head">
    <% if @team %>
      <h3><span onclick="redirectTeam('bo_teams')"><%= @company.name + "'s Teams" %></span> <i class="fas fa-caret-right"></i> <span><%= @team.name %></span></h3>
    <% else %>
      <h3><span onclick="redirectTeam('bo_teams')"><%= @company.name + "'s Teams" %></span></h3>
      <div class="search">
        <%= image_tag 'dash/new_icons/search.svg', class: 'search-img' %>
  			<input type="text" placeholder="Content durchsuchen" id="searchTeams" class="form-field">
      </div>
    <% end %>
    <span onclick="toggleNew()">
			<%= inline_svg_tag "dash/new_icons/plus_button.svg", class: 'icon add plus-cust-icon' %>
		</span>
  </div>

  <div class="" id="scrollcontent">
    <%= render 'backoffice/company/teams.html.erb' %>
    <%= render 'backoffice/company/users.html.erb' %>
  </div>

</div>

<script type="text/javascript">
  function redirectTeam(type) {
    if( type == 'bo_teams') {
      var URL = '<%= backoffice_company_teams_path(@company) %>';
    } else {
      var URL = '?team=' + type;
    }
    location.replace(URL);
  }
  function toggleNew() {

  }
  function toggleDropdownContent(e) {
  	if( $(e).siblings('.dropdown-Menu').is(":visible") ) {
  		$('.dropdown-Menu').hide();
  	} else {
  		$('.dropdownMenu').hide();
  		$(e).siblings('.dropdown-Menu').show();
  	}
  }
</script>
