<% if @liste %>
<div class="background-blur" id="editList">
  <div class="content-popup">
    <%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeListPopup()' %>
    <% if can? :edit, @liste %>
      <% if @listType == 'catchword'%>
        <h3>Textliste bearbeiten</h3>
      <% else %>
        <h3>Einwandliste bearbeiten</h3>
      <% end %>

      <%= form_for :list, url: edit_list_path(@liste), html: {id: 'editListForm'} do |f| %>
        <%= f.hidden_field :type, value: @listType %>
        <div class="form-group list-table">
          <label for="">Name der Liste bearbeiten</label>
          <%= f.text_field :name, value: @liste.name, placeholder: 'Titel eingeben', class: 'form-field' %>
        </div>
      <% end %>
      <%= form_for :list, url: list_add_entry_path(@liste), html: {id: 'addEntryForm'} do |f| %>
        <%= f.hidden_field :type, value: @listType %>
        <div class="form-group list-table">
          <% if @listType == 'catchword' %>
            <label for="">Text hinzufügen</label>
            <%= f.text_field :name, placeholder: 'Text hier eingeben', class: 'form-field shortened' %>
            <svg class="icon add" onclick="submitEntryForm()" viewbox="0 0 144 144"><use xlink:href="#addIcon" /></svg>
          <% else %>
            <label for="">Einwand hinzufügen</label>
            <%= f.text_field :name, placeholder: 'Einwand hier eingeben', class: 'form-field shortened' %>
            <svg class="icon add" onclick="submitEntryForm()" viewbox="0 0 144 144"><use xlink:href="#addIcon" /></svg>
          <% end %>
        </div>
      <% end %>
      <% if can? :manage, :all %>
      <%= form_for :list, url: list_add_sounds_path(@liste), html: {id: "addSoundForm"} do |f| %>
        <%= f.hidden_field :type, value: @listType %>
        <label for="list_sounds" class="btn">Upload</label>
        <%= f.file_field :sounds, multiple: true %>
      <% end %>
      <% end %>
    <% else %>
      <h3><%= @liste.name %></h3>
    <% end %>
    <div class="entries">
      <% if @listType == 'catchword' %>
        <table>
          <thead>
            <tr>
              <th class='name'>Name</th>
              <th class="icon"></th>

              <% if can? :edit, @liste %>
              <th class="icon"></th>
              <th class="icon"></th>
              <% end %>

            </tr>
          </thead>
          <tbody>
            <% @liste.catchwords.each do |c| %>
              <tr id="entry_<%= c.id %>">
                <td class='name'><%= c.name %></td>
                <td class="icon"><i class="far fa-play-circle play <%= c.sound? ? '' : 'disabled' %>" data-id="<%= c.id %>" onclick="playSound(this)"></i></td>
                <% if can? :edit, @liste %>
                <td class="icon"><i class="far fa-dot-circle record" data-id="<%= c.id %>" onclick="recordSound(this)"></i></td>
                <td class="icon"><label for="sound_upload_field_<%= c.id %>" class="fas fa-upload upload" ></label></td>
                <input type="file" name="" value="" id="sound_upload_field_<%= c.id %>" onchange="handleSound('<%= c.id %>')">
                <td class="icon" data-id="<%= c.id %>" onclick="deleteEntry(this)">
                  <span>
                    <%= inline_svg_tag 'dash/new_icons/trash.svg', class: 'remove trash-icon customize-trash-icon' %>
                  </span>
                </td>
                <% end %>
              </tr>
              <% if c.sound? %>
                <%= audio_tag c.sound.url, id: 'sound_' + c.id.to_s %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
      <table>
        <thead>
          <tr>
            <th class='name'>Name</th>
            <th class="icon"></th>
            <% if can? :edit, @liste %>
            <th class="icon"></th>
            <th class="icon"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @liste.objections.each do |o| %>
          <tr id="entry_<%= o.id %>">
            <td class='name'><%= o.name %></td>
            <td class="icon"><i class="far fa-play-circle play <%= o.sound? ? '' : 'disabled' %>" data-id="<%= o.id %>" onclick="playSound(this)"></i></td>
            <% if can? :edit, @liste %>
            <td class="icon"><i class="far fa-dot-circle record" data-id="<%= o.id %>" onclick="recordSound(this)"></i></td>
            <td class="icon"><label for="sound_upload_field_<%= o.id %>" class="fas fa-upload upload" ></label></td>
            <input type="file" name="" value="" id="sound_upload_field_<%= o.id %>" onchange="handleSound('<%= o.id %>')">
            <td class="icon" data-id="<%= o.id %>" onclick="deleteEntry(this)">
              <span>
                <%= inline_svg_tag 'dash/new_icons/trash.svg', class: 'remove trash-icon customize-trash-icon' %>
              </span>
            </td>
            <% end %>
          </tr>
          <% if o.sound? %>
            <%= audio_tag o.sound.url, id: 'sound_' + o.id.to_s %>
          <% end %>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
    <% if can? :edit, @liste %>
    <div class="btns">
      <div class="btn inverted" onclick="closeListPopup()">Abbrechen</div>
      <div class="btn" onclick="submitListForm()">speichern</div>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  function handleSound(entryID) {
    var file = $("#sound_upload_field_" + entryID)[0].files[0];
    var globalForm = new FormData();
    globalForm.append('sound', file);
    globalForm.append('type', "<%= @listType %>" );
    globalForm.append('entry', entryID );
    uploadSound(globalForm);
  }
  new PerfectScrollbar('.entries');
  function closeListPopup() {
    $('#editList').hide();
  }
  function submitListForm() {
    $('#editListForm').submit();
  }
  $('#editListForm').on('submit', function(e) {
    e.preventDefault();
    var URL = '<%= edit_list_path(@liste) %>';
    var formData = new FormData(document.getElementById('editListForm'));
    $.ajax({
      url: URL,
      type: "post",
      cache: false,
      async: true,
      contentType: false,
      processData: false,
      data: formData,
      beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
      success: function (res) {
        <% if params[:folder_id] %>
          location.replace("<%= dashboard_my_content_url(folder_id: params[:folder_id]) %>");
        <% else %>
          location.replace("<%= dashboard_my_content_url %>");
        <% end %>
      }
    })
  })
  function submitEntryForm() {
    $('#addEntryForm').submit();
  }
  $('#addEntryForm').on('submit', function(e) {
    e.preventDefault();
    var URL = '<%= list_add_entry_path(@liste) %>';
    var formData = new FormData(document.getElementById('addEntryForm'))
    $.ajax({
      url: URL,
      type: "post",
      cache: false,
      async: true,
      contentType: false,
      processData: false,
      data: formData,
      beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
      success: function (res) {
        $('#addEntryForm #list_name').val('');
        if( res.entry != 'exists') {
          var userDiv = '<tr id="entry_' + res.id + '">';
          userDiv += '<td class="name">'+ res.name +'</td>'
          userDiv += '<td class="icon"><i class="far fa-play-circle play disabled" data-id="'+ res.id +'" onclick="playSound(this)"></i></td>'
          <% if can? :edit, @liste %>
            userDiv += '<td class="icon"><i class="far fa-dot-circle record" data-id="'+ res.id +'" onclick="recordSound(this)"></i></td>'
            userDiv += '<td class="icon"><label for="sound_upload_field_'+ res.id +'" class="fas fa-upload upload" ></label></td>'
            inputDiv = '<input type="file" name="" value="" id="sound_upload_field_'+ res.id +'" onchange="handleSound('+ res.id +')">'
            userDiv += '<td class="icon" data-id="'+ res.id +'" onclick="deleteEntry(this)">'
            userDiv += '<span><%= image_tag "dash/new_icons/trash.svg", class: "remove trash-icon customize-trash-icon" %></span></td>'
            $('.entries').prepend(inputDiv);
          <% end %>
          userDiv += '</tr>'
          $('.entries table tbody').prepend(userDiv);
        }
        if( res.sound ) {
          if( $('#entry_' + res.id + ' .play').hasClass('disabled') ) {
            const audio = new Audio(res.sound);
            audio.id = "sound_" + res.id;
            $('#entry_' + res.id).append(audio);
            $('#entry_' + res.id + ' .play').removeClass("disabled");
          } else {
            $('#sound_' + res.id).attr("src", res.sound);
          }
        }
      }
    })
  })
  function playSound(elem) {
    var eID = $(elem).attr('data-id');
    if( $(elem).hasClass('disabled') ) {
      return;
    } else if( $(elem).hasClass('fa-play-circle') ) {
      $(elem).removeClass('fa-play-circle').addClass('fa-pause-circle');
      document.getElementById("sound_" + eID).play();
      $('#sound_' + eID).on('ended', function() {
        $(elem).removeClass('fa-pause-circle').addClass('fa-play-circle');
      })
    } else {
      $(elem).removeClass('fa-pause-circle').addClass('fa-play-circle');
      document.getElementById("sound_" + eID).pause();
    }
  }
  function recordSound(elem) {
    var eID = $(elem).attr('data-id');
    if( $(elem).hasClass('fa-dot-circle') ) {
      $(elem).removeClass('fa-dot-circle').addClass('fa-stop-circle');
      navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
        const mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.start();
        const audioChunks = [];
        mediaRecorder.addEventListener("dataavailable", event => {
          audioChunks.push(event.data);
        });
        $(elem).on('click', function() {
          mediaRecorder.stop();
        })
        mediaRecorder.addEventListener('stop', () => {
          const audioBlob = new Blob(audioChunks);
          const audioUrl = URL.createObjectURL(audioBlob);
          if( $('#entry_' + eID + ' .play').hasClass('disabled') ) {
            const audio = new Audio(audioUrl);
            audio.id = "sound_" + eID;
            $('#entry_' + eID).append(audio);
            $('#entry_' + eID + ' .play').removeClass("disabled");
          } else {
            $('#sound_' + eID).attr("src", audioUrl);
          }
          var file = new window.File([audioBlob], ["sound", (new Date() + '').slice(4, 28), '.mp3'].join(''))
          var globalForm = new FormData();
          globalForm.append('sound', file);
          globalForm.append('type', "<%= @listType %>" );
          globalForm.append('entry', eID );
          uploadSound(globalForm);
          $(elem).removeClass('fa-stop-circle').addClass('fa-dot-circle');
        })
      });
    }
  }
  function uploadSound(sound) {
    var URL = "<%= edit_entry_path %>";
    $.ajax({
      url: URL,
      type: "post",
      cache: false,
      async: true,
      contentType: false,
      processData: false,
      data: sound,
      beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
      success: function (res) {
        $('#addEntryForm #list_name').val('');
        if( res.sound ) {
          if( $('#entry_' + res.id + ' .play').hasClass('disabled') ) {
            const audio = new Audio(res.sound);
            audio.id = "sound_" + res.id;
            $('#entry_' + res.id).append(audio);
            $('#entry_' + res.id + ' .play').removeClass("disabled");
          } else {
            $('#sound_' + res.id).attr("src", res.sound);
          }
        }
      }
    })
  }
  function deleteEntry(elem) {
    var eID = $(elem).attr('data-id');
    <% if params[:objection] %>
    var URL = '/lists/objection/<%= @liste.id %>/entry/' + eID;
    <% elsif params[:catchword] %>
    var URL = '/lists/catchword/<%= @liste.id %>/entry/' + eID;
    <% end %>
    $.ajax({
      url: URL,
      type: "post",
      cache: false,
      async: true,
      contentType: false,
      processData: false,
      beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
      success: function (res) {
        $('#entry_' + res.id).remove();
      }
    })
  }
  $('#list_sounds').on('change', function() {
    $('#addSoundForm').submit();
  })
  $('#addSoundForm').on('submit', function(e) {
    e.preventDefault();
    var URL = '<%= list_add_sounds_path(@liste) %>';
    var formData = new FormData(document.getElementById('addSoundForm'));
    $.ajax({
      url: URL,
      type: "post",
      cache: false,
      async: true,
      contentType: false,
      processData: false,
      data: formData,
      beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
      success: function (res) {
        <% if params[:folder_id] %>
          location.replace("<%= dashboard_my_content_url(folder_id: params[:folder_id]) %>&" + res.type + '=' + res.id);
        <% else %>
          location.replace("<%= dashboard_my_content_url %>?" + res.type + '=' + res.id);
        <% end %>
      }
    })
  });
</script>
<% end %>
