<% if @folders.count != 0 %>
<div class="folders">
  <h3>Ordner</h3>
  <% @folders.each do |f| %>
    <div class="card" id="folder_<%= f.id %>">
      <% if can? :edit, f %>
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-icon" aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
        <div class="dropdown-Menu">
          <div class="point" data-type="edit_folder" data-id="<%= f.id %>" onclick="showMedia(this)">
            <i class="fa fa-pencil-alt"></i>Bearbeiten
          </div>
          <% if controller.controller_name != "backoffice" %>
          <div class="point" data-id="<%= f.id %>" onclick="shareFolder(this)">
            <i class="fa fa-share-alt"></i>Freigeben
          </div>
          <% end %>
          <div class="point" data-id="<%= f.id %>" onclick="deleteFolder(this)">
            <%= image_tag 'dash/new_icons/trash.svg', class: 'delete' %>Löschen
          </div>
        </div>
      </div>
      <% end %>
      <div class="folder-redirect" onclick="redirectFolder('<%= f.id %>')"></div>
      <img src="<%= asset_path 'dash/icons/folder.svg' %>" alt="">
      <div class="title" id="title_<%= f.id %>"><%= f.name %><div class="ellipsis">...</div></div>
      <% if f.user %>
      <div class="author"><%= image_tag f.user.avatar.url %><%= f.user.fname[0] + '. ' + f.user.lname %></div>
      <% end %>
    </div>
  <% end %>
  <script type="text/javascript">
    <% @folders.each do |f| %>
      checkOverflow('title_<%= f.id %>');
    <% end %>
  </script>
</div>
<% end %>
<script type="text/javascript">
  function redirectFolder(fID) {
		if ( fID == 'libary' ) {
			var URL = "<%= dashboard_content_path %>";
    } else if ( fID == 'my_content' ) {
      var URL = "<%= dashboard_my_content_path %>";
    } else if ( fID == 'shared_content') {
      var URL = "<%= dashboard_shared_content_path %>";
    } else if ( fID == 'bo_libary' ) {
      <% if @company %>
      var URL = "<%= backoffice_company_content_path(@company) %>";
      <% end %>
		} else if (fID == 'bo_content') {
      var URL = "<%= backoffice_content_path %>";
    } else {
			var URL = "?folder_id=" + fID;
		}
		location.replace(URL);
	}
  function shareFolder(e) {
    var mediaID = $(e).attr('data-id');
    <% if params[:folder_id] %>
      location.replace('?folder_id=<%= params[:folder_id] %>&share_content='+mediaID);
    <% else %>
    location.replace('?share_folder='+mediaID);
    <% end %>
  }
  function deleteFolder(e) {
		var mediaID = $(e).attr('data-id');
		var URL = '/content_folder/'+mediaID+'/delete';
		$.ajax({
			url: URL,
			type: 'put',
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				if( res.id ) {
					$('#folder_' + res.id).hide();
				} else if (res.error) {
					var userDiv = '<div class="modal-blur"><div class="modal card"><div class="close" onclick="toggleModal()"><%= image_tag 'icons/close.svg' %></div><h3>Ups, da gabe es einen Fehler!</h3>'+res.error+'</div></div>'
					$('body').append(userDiv);
				}
			}
		})
	}
</script>
