<div class="lists" style="<%= @lists.count == 0 ? 'display: none' : 'display: block' %>">
  <h3>Listen</h3>
  <% @lists.each do |f| %>
    <div class="card" id='list_<%= f[:id] %>')">
      <% if can? :edit, f %>
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-icon" aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
        <div class="dropdown-Menu">
          <div class="point" data-type="<%= f[:type] %>" data-id="<%= f[:id] %>" onclick="showMedia(this)">
            Edit
          </div>
          <div class="point" data-type="<%= f[:type] %>" data-id="<%= f[:id] %>" onclick="shareList(this)">
            Share
          </div>
          <div class="point" data-type="<%= f[:type] %>" data-id="<%= f[:id] %>" onclick="deleteList(this)">
            Löschen
          </div>
        </div>
      </div>
      <% end %>
      <div class="thumb" data-type="<%= f[:type] %>" data-id="<%= f[:id] %>" onclick="showMedia(this)">
          <div class="list-icon">
            <% if f[:type] == 'catchword' %>
            <%= image_tag 'dash/no-image-icon.png' %>
            <% else %>
            <svg class="icon add" viewbox="0 0 144 144" onclick="toggleNewContent()"><use xlink:href="#handIcon" /></svg>
            <% end %>
          </div>
          <%= image_tag 'dash/placeholder.png', class: 'image' %>
      </div>
      <div class="text">
          <div class="title" id="media_title_<%= f[:id] %>"><%= f[:name] %><div class="ellipsis">...</div></div>
          <div class="time"><%= image_tag 'dash/no-image-icon.png' %><%= f[:user_name] %></div>
      </div>

    </div>
    <script type="text/javascript">
      checkOverflow('media_title_<%= f[:id] %>');
    </script>
  <% end %>
</div>
<script type="text/javascript">
  function shareList(e) {
    var type = $(e).attr('data-type');
		var mediaID = $(e).attr('data-id');
    <% if params[:folder_id] %>
      location.replace('?folder_id=<%= params[:folder_id] %>&share_list='+mediaID+'&type='+type);
    <% else %>
    location.replace('?share_list='+mediaID+'&type='+type);
    <% end %>
  }
  function deleteList(e) {
		var type = $(e).attr('data-type');
		var mediaID = $(e).attr('data-id');
		var URL = '/lists/'+type + '/' +mediaID+'/delete';
		$.ajax({
			url: URL,
			type: 'put',
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				if( res.id ) {
					$('#list_' + res.id).hide();
				} else if (res.error) {
					var userDiv = '<div class="modal-blur"><div class="modal card"><div class="close" onclick="toggleModal()"><i class="fas fa-times"></i></div><h3>Ups, da gabe es einen Fehler!</h3>'+res.error+'</div></div>'
					$('body').append(userDiv);
				}
			}
		})
	}
</script>
