<div class="lists" style="<%= @lists.count == 0 ? 'display: none' : 'display: block' %>">
  <h3>Listen</h3>
  <% @lists.each do |list| %>
    <div class="card" id='list_<%= list.id %>')">
      <% if (can? :edit, list) %>
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-icon" aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
        <div class="dropdown-Menu">
          <div class="point" data-type="list" data-id="<%= list.id %>" onclick="showMedia(this)">
            <i class="fa fa-pencil-alt"></i>Bearbeiten
          </div>
          <% if controller.controller_name != "backoffice" %>
          <div class="point" data-id="<%= list.id %>" onclick="shareList(this)">
            <i class="fa fa-share-alt"></i>Freigeben
          </div>
          <% end %>
          <div class="point" data-id="<%= list.id %>" onclick="deleteList(this)">
            <%= image_tag 'dash/new_icons/trash.svg', class: 'delete' %>Löschen
          </div>
        </div>
      </div>
      <% end %>
      <div class="thumb" data-type="list" data-id="<%= list.id %>" onclick="showMedia(this)">
          <div class="list-icon">
            <%= image_tag 'dash/no-image-icon.png' %>
          </div>
          <%= image_tag 'dash/placeholder.png', class: 'image' %>
      </div>
      <div class="text">
          <div class="title" id="media_title_<%= list.id %>"><%= list.name %><div class="ellipsis">...</div></div>
          <div class="time"><%= image_tag 'dash/no-image-icon.png' %><%= list.user.fname[0] %>. <%= list.user.lname %></div>
      </div>

    </div>
    <script type="text/javascript">
      checkOverflow('media_title_<%= list.id %>');
    </script>
  <% end %>
</div>
<script type="text/javascript">
  function shareList(e) {
		var mediaID = $(e).attr('data-id');
    <% if params[:folder_id] %>
      location.replace('?folder_id=<%= params[:folder_id] %>&share_list='+mediaID);
    <% else %>
    location.replace('?share_list='+mediaID);
    <% end %>
  }
  function deleteList(e) {
		var mediaID = $(e).attr('data-id');
		var URL = '/lists/' + mediaID + '/delete';
		$.ajax({
			url: URL,
			type: 'put',
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				if( res.success ) {
					$('#list_' + mediaID).hide();
				} else if (res.error) {
					var userDiv = '<div class="modal-blur"><div class="modal card"><div class="close" onclick="toggleModal()"><%= image_tag 'icons/close.svg' %></div><h3>Ups, da gabe es einen Fehler!</h3>'+res.error+'</div></div>'
					$('body').append(userDiv);
				}
			}
		})
	}
</script>
