<div class="background-blur" id="new-folder">
  <div class="content-popup">
    <%= image_tag 'icons/close.svg', class: 'close', onclick: 'newFolder()' %>
    <h3>Ordner erstellen</h3>
    <%= form_for :content_folder, url: new_folder_path, html: {id: 'new_folder-form'} do |f| %>
      <div class="audio">
        <%= image_tag 'dash/icons/folder.svg' %>
      </div>
      <% if @folder %>
        <%= f.hidden_field :content_folder_id, value: @folder.id %>
      <% end %>
      <div class="form-group">
        <%= f.text_field :name, value: '', placeholder: 'Ordnernamen eingeben', class: 'form-field' %>
      </div>
      <div class="btns">
				<div class="btn inverted" onclick='closeContentPopup()'>Abbrechen</div>
        <div class="btn" onclick='submitFolder()'>speichern</div>
			</div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  function newFolder() {
    $('#new-folder').toggle();
  }
  $('#new_folder-form').on('submit', function(e) {
    e.preventDefault();
    submitFolder();
  })
  function submitFolder() {
    var URL = '<%= new_folder_path %>';
    var formData = new FormData(document.getElementById('new_folder-form'));
    if( $('#content_folder_name').val() == '' ) {
      $('#content_folder_name').css('border-color', 'red');
      return false;
    } else {
      $.ajax({
        url: URL,
        type: "post",
    		cache: false,
    		async: true,
    		contentType: false,
    		processData: false,
        data: formData,
    		beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
    		success: function (res) {
          if( res.error ) {
            $('#content_folder_name').css('border-color', 'red');
            formData = new FormData();
          } else {
            $('#content_folder_name').val('');
            location.reload();
          }
    		}
      })
    }
  }
</script>
