<div class="files" style="<%= @pdfs.count == 0 ? 'display: none' : 'display: block' %>">
  <h3>PDFs</h3>

  <% @pdfs.each do |f| %>
    <div class="background-blur file-modal file-modal-bg" id="edit_content<%= f.id %>">
      <div class="content-popup">
        <% content = f %>
        <%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMediaModal()' %>
          <div class="form-group">
            <% if can? :edit, content %>
              <input value="<%= content.name %>" class="form-field title-field" type="text">
            <% else %>
              <h3><%= content.title %></h3>
            <% end %>
          </div>
          <%= image_tag content.task_media.first.image.url %>
          <% if can? :edit, content %>
            <div class="btns">
              <div class="btn inverted" onclick='closeMediaModal()'>Cancel</div>
              <input type="submit" name="commit" value="speichern" class="btn submit-btn" data-disable-with="speichern">
            </div>
          <% end %>
      </div>
    </div>

    <div class="card" id='media_<%= f.id %>'>
      <% if (can? :edit, f) && !current_page?(dashboard_peters_content_path) %>
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-icon" aria-hidden="true" onclick="toggleDropdownContent(this)"></i>
        <div class="dropdown-Menu">
          <div class="point" data-type="pdf" data-id="<%= f.id %>" onclick="showMediaPdf(this)">
            <i class="fa fa-pencil-alt"></i>Bearbeiten
          </div>
          <% if controller.controller_name != "backoffice" %>
          <div class="point" data-type="pdf" data-id="<%= f.id %>" onclick="sharePDF(this)">
            <i class="fa fa-share-alt"></i>Freigeben
          </div>
          <% end %>
          <div class="point" data-type="pdf" data-id="<%= f.id %>" onclick="deletePdf(this)">
            <%= image_tag 'dash/new_icons/trash.svg', class: 'delete' %>Löschen
          </div>
        </div>
      </div>

      <div class="thumb" data-type="pdf" data-id="<%= f.id %>" onclick="showMediaPdf(this)">
          <div class="list-icon">
            <%= image_tag 'dash/import-PDF.png' %>
          </div>
          <%= image_tag 'dash/placeholder.png', class: 'image' %>
      </div>
      <div class="text">
          <div class="title" id="media_title_<%= f.id %>"><%= f.name %><div class="ellipsis">...</div></div>
          <div class="time"><%= image_tag 'dash/import-PDF.png' %><%= f.user ? f.user.fname[0] + '. ' + f.user.lname : 'Gelöschter Nutzer' %></div>
      </div>

    </div>
    <script type="text/javascript">
      checkOverflow('media_title_<%= f.id %>');
    </script>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  function showMediaPdf(e) {
  		var mediaID = $(e).attr('data-id');
  		<% if params[:folder_id] %>
  		location.replace('?folder_id=<%= params[:folder_id] %>&pdf=' + mediaID + '&slide=1');
  		<% else %>
  		location.replace('?pdf=' + mediaID + '&slide=1');
  		<% end  %>
  	}
  function sharePDF(e) {
    var type = $(e).attr('data-type');
		var mediaID = $(e).attr('data-id');
    <% if params[:folder_id] %>
      location.replace('?folder_id=<%= params[:folder_id] %>&share_pdf='+mediaID);
    <% else %>
    location.replace('?share_pdf='+mediaID);
    <% end %>
  }
  function deletePdf(e) {
		var type = $(e).attr('data-type');
		var mediaID = $(e).attr('data-id');
    var URL = '/task_pdf/'+mediaID+'/delete';
		$.ajax({
			url: URL,
			type: 'put',
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				if( res.id ) {
					$('#media_' + res.id).hide();
				} else if (res.error) {
          $('.dropdown-Menu').hide();
          if ( $('.modal-blur').length > 0 ) {
            $('.modal-blur').remove();
          }
					var userDiv = '<div class="modal-blur"><div class="modal card"><div class="close" onclick="toggleModal()"><%= image_tag 'icons/close.svg' %></div><h3>Aufgepasst...</h3>'+res.error;
          userDiv += '<div class="btns"><div class="btn" onclick="toggleModal()">Abbrechen</div><div class="btn" data-type="'+type+'" data-id="'+mediaID+'" onclick="deleteforcePdf(this)">Löschen</div></div></div></div>';
					$('body').append(userDiv);
				}
			}
		})
	}
  function deleteforcePdf(e) {
		var type = $(e).attr('data-type');
		var mediaID = $(e).attr('data-id');
    var URL = '/task_pdf/'+mediaID+'/delete_force';
		$.ajax({
			url: URL,
			type: 'put',
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				if( res.id ) {
					$('#media_' + res.id).hide();
          $('.modal-blur').remove();
				}
			}
		})
	}
</script>
