<% if params[:share_folder] %>
<% this_folder = ContentFolder.find(params[:share_folder]) %>
<div class="background-blur" id="shareFolder" style="display: block">
  <div class="content-popup">
    <%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeShareFolder()' %>
    <h3>Ordner teilen mit:</h3>
    <%= form_for :folder, url: share_folder_path(this_folder), html: {id: 'shareForm'} do |f| %>
    <%= f.hidden_field :team_id, value: this_folder.team_id %>
    <%= f.hidden_field :available_for, value: this_folder.available_for %>
    <%= f.hidden_field :department_id, value: this_folder.department_id %>
    <div class="form-group list-table">
      <label for="">E-Mail eingeben</label>
      <%= f.text_field :email, placeholder: 'E-Mail eingeben', class: 'form-field' %>
    </div>
    <div class="form-group list-table">
      <label for="">Gruppe auswählen</label>
      <div class="dropdown" id="ability-dropdown">
        <div class="dropdown-text" onclick="showDropdown()"><span><%= this_folder.available_for == 'user' ? "Teilen mit: " : this_folder.available_for == 'team' ? "Geteilt mit Team: " + Team.find(this_folder.team_id).name : 'Geteilt mit Company' %></span><i class="fas fa-caret-down"></i></div>
        <div class="dropdown-menu" id="userDropdown">
          <% if @admin.bo_role == 'root' %>
            <div class="link" onclick="shareBig('global')">
              Global
            </div>
          <% end %>
          <div class="link" onclick="shareBig('company')">
            Company
          </div>
          <div class="link">
            Team
            <div class="teams">
              <% @admin.teams.each do |t| %>
              <div class="link" onclick="shareTeam('<%= t.id %>', '<%= t.name %>')">
                <%= t.name %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btns">
      <div class="btn inverted" onclick='closeShareFolder()'>Cancel</div>
      <%= f.submit 'teilen', class: 'btn' %>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  function showDropdown() {
    $('#userDropdown').toggle();
  }
  function shareBig(type) {
    $('#folder_available_for').val(type);
    $('.dropdown-text span').text(type);
    $('#userDropdown').toggle();
  }
  function shareTeam(teamID, teamName) {
    $('#folder_available_for').val('team');
    $('#folder_team_id').val(teamID);
    $('.dropdown-text span').text("Team: "+teamName);
    $('#userDropdown').toggle();
  }
  function closeShareFolder() {
    $('#shareFolder').hide();
  }
  $('#shareForm').on('submit', function(e) {
    e.preventDefault();
    var URL = '<%= share_folder_path(this_folder) %>';
    var userData = new FormData(document.getElementById('shareForm'));
    $.ajax({
      url: URL,
      type: 'post',
      cache: false,
    	async: true,
    	contentType: false,
    	processData: false,
      data: userData,
    	beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
    	success: function (res) {
        if( res.success ) {
          alert(res.success);
          closeShareFolder();
        } else if ( res.new_users ) {
          location.replace('?new_users=true')
        } else if ( res.error ){
          alert(res.error);
        }
  		}
    })
})
</script>
<% end %>
