<% if params[:share_content] %>
<% this_media = TaskMedium.find(params[:share_content]) %>
<div class="background-blur" id="shareContent" style="display: block">
  <div class="content-popup">
    <%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeShareContent()' %>
    <h3>Content teilen mit:</h3>
    <%= form_for :content, url: share_content_path(this_media), html: {id: 'shareForm'} do |f| %>
    <%= f.hidden_field :available_for, value: this_media.available_for %>
    <%= f.hidden_field :team_id, value: this_media.team_id %>
    <div class="form-group list-table">
      <label for="">E-Mail eingeben. (Um mehrere E-Mail Adressen einzugeben, trenne sie durch Leerzeichen)</label>
      <%= f.text_field :email, placeholder: 'mustermann@peterpitch.com', class: 'form-field' %>
    </div>
    <div class="form-group list-table">
      <label for="">oder freigeben für</label>
      <div class="dropdown" id="ability-dropdown">
        <div class="dropdown-text" onclick="showDropdown()"><span><%= this_media.available_for == 'user' ? "Teilen mit: " : this_media.available_for == 'team' ? "Geteilt mit Team: " + Team.find(this_media.team_id).name : this_media.available_for == 'company' ? 'Geteilt mit Company' : 'Global Content' %></span><i class="fas fa-caret-down"></i></div>
        <div class="dropdown-menu" id="userDropdown">
          <% if @admin.bo_role == 'root' %>
            <div class="link" onclick="shareBig('global_hidden')">
              Global hidden
            </div>
            <div class="link" onclick="shareBig('global')">
              Global
            </div>
          <% end %>
          <div class="link" onclick="shareBig('company')">
            <%= @company.name %>
          </div>
          <div class="link">
            Team
            <div class="teams">
              <% @admin.teams.each do |t| %>
              <div class="link" onclick="shareTeam('<%= t.id %>', '<%= t.name %>')">
                <%= t.name %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btns">
      <div class="btn inverted" onclick='closeShareContent()'>Abbrechen</div>
      <%= f.submit 'teilen', class: 'btn' %>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  function showDropdown() {
    $('#userDropdown').toggle();
  }
  function shareBig(type) {
    $('#content_available_for').val(type);
    if( type == 'company' ) {
      $('.dropdown-text span').text("<%= @company.name %>");
    } else if (type == 'global_hidden') {
      $('.dropdown-text span').text("Globaler Hidden Content");
    } else if (type == 'global') {
      $('.dropdown-text span').text("Globaler Content");
    }
    $('#userDropdown').toggle();
  }
  function shareTeam(teamID, teamName) {
    $('#content_available_for').val('team');
    $('#content_team_id').val(teamID);
    $('.dropdown-text span').text("Team: "+teamName);
    $('#userDropdown').toggle();
  }
  function closeShareContent() {
    $('#shareContent').hide();
  }
  $('#shareForm').on('submit', function(e) {
    e.preventDefault();
    var URL = '<%= share_content_path(this_media) %>';
    var userData = new FormData(document.getElementById('shareForm'));
    $.ajax({
      url: URL,
      type: 'post',
      cache: false,
    	async: true,
    	contentType: false,
    	processData: false,
      data: userData,
    	beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
    	success: function (res) {
        if( res.success ) {
          alert(res.success);
          closeShareContent();
        } else if ( res.new_users ) {
          location.replace('?new_users=true')
        } else if ( res.error ){
          alert(res.error);
        }
  		}
    })
  })
</script>
<% end %>
<% if params[:new_users] %>
<% new_users = @company.users.where(fname: nil) %>
<% if new_users.count != 0 %>
<div class="background-blur" id="newUser" style="display: block">
  <div class="content-popup">
    <%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeNewUser()' %>
    <h3>Nutzer existieren nicht.</h3>
    <h5>Diese E-Mail Adressen haben noch keinen Peter Pitch Account. Gebe Vor-und Nachnamen ein, um sie deinem Dashboard hinzuzufügen.</h5>
    <form class="" action="index.html" method="post" id="newUserForm">
    <table>
      <thead>
        <tr>
          <th>E-Mail</th>
          <th>Vorname</th>
          <th>Nachname</th>
        </tr>
      </thead>
    <% new_users.each do |nu| %>
      <tbody>
        <tr id="new_user_<%= nu.id %>">
          <td><%= nu.email %></td>
          <td><input type="text" id="user_fname_<%= nu.id %>" name="users[<%= nu.id %>][fname]" value="" placeholder="Vornamen eingeben" class="form-field"></td>
          <td><input type="text" id="user_lname_<%= nu.id %>" name="users[<%= nu.id %>][lname]" value="" placeholder="Nachnamen eingeben" class="form-field"></td>
          <td class="remove" onclick="deleteUser(this)" data-id="<%= nu.id %>"><%= inline_svg_tag 'icons/trash.svg' %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
    <div class="form-group">
      <div class="btn" onclick="submitNewUser()">speichern</div>
    </div>
    </form>
  </div>
</div>
<% end %>
<script type="text/javascript">
  function closeNewUser() {

  }
  function deleteUser(e) {
    var userID = $(e).attr('data-id')
    $('#new_user_' + userID).hide();
  }

  function submitNewUser() {
    var formVal = true;
    <% new_users.each do |user| %>
      if( $("#new_user_<%= user.id %>").is(':visible') ) {
      if ( $('#user_fname_<%= user.id %>').val() == '' || $('#user_lname_<%= user.id %>').val() == '' ) {
        formVal = false;
        if( $('#user_fname_<%= user.id %>').val() == '' ) {
            $('#user_fname_<%= user.id %>').css("border-color", "red")
        }
        if( $('#user_lname_<%= user.id %>').val() == '' ) {
            $('#user_lname_<%= user.id %>').css("border-color", "red")
        }
      }
      }
    <% end %>
    if( formVal ) {
      $('#newUserForm').submit();
    }
  }
  $('#newUserForm').on('submit', function(ev) {
    ev.preventDefault();
    var user_url = '/share/users/update_name';
    formData = new FormData(document.getElementById('newUserForm'));
    $.ajax({
      url: user_url,
      type: 'post',
      cache: false,
      async: true,
      contentType: false,
      processData: false,
      data: formData,
      beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
      success: function(res) {
        location.replace('?');
      }
    })
  })
</script>
<% end %>
