<% if @teaser %>
<div class="background-blur" id="edit_teaser" style="display: block">
  <div class="content-popup">
    <%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeTeaserPopup()' %>
    <h3>Edit Teaser</h3>
    <%= form_for :teaser, url: edit_teaser_path(@teaser), html: {id: 'editTeaserForm'} do |f| %>
      <div class="form-group logo">
        <label for="teaser_logo">
        <% if @teaser.logo? %>
          <%= image_tag @teaser.logo.url, id: 'logo' %>
        <% else %>
          <%= image_tag '', id: 'logo', style: 'display: none' %>
          Logo hinzufügen
        <% end %>
        <div class="hover"><i class="fas fa-plus"></i></div>
        </label>
        <%= f.file_field :logo %>
      </div>
      <div class="form-group">
        <label for="">Teaser-URL</label>
        <div class="form-field">
            <div class="text">peterpitch.com/teaser/</div>
            <%= f.text_field :password, class: 'custom-url-field' %>
        </div>
      </div>
      <div class="form-group half-left">
        <label for="">Vorname / Anrede</label>
        <%= f.text_field :fname, class: 'form-field' %>
      </div>
      <div class="form-group half-right">
        <label for="">Nachname</label>
        <%= f.text_field :lname, class: 'form-field' %>
      </div>

      <div class="form-group color">
        <%= f.hidden_field :teaser_color, value: 0 %>
    		<label for="">Markenfarbe auswählen</label> <br>
    		<%= f.color_field :color_hex, class: 'form-field' %>
    	</div>
      <%= f.submit 'speichern!', class: 'btn btn-green' %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  function closeTeaserPopup() {
    $('#edit_teaser').hide();
  }
  $('#teaser_color_hex').on('change', function() {
    $('#teaser_teaser_color').attr('value', 1);
  })
  $('#editTeaserForm').on('submit', function(event) {
    event.preventDefault();
    var url = "<%= edit_teaser_path(@teaser) %>";
    var formData = new FormData(document.getElementById('editTeaserForm'));
    $.ajax({
      url: url,
      type: 'post',
      cache: 'false',
      async: true,
			contentType: false,
			processData: false,
			data: formData,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
      success:function(res) {
        location.replace("<%= backoffice_teaser_path %>");
      }
    })
  })
</script>
<% end %>
