<div id="pitches" class="browse-tasks-partial">
    <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search for pitches tasks" id="searchPitch" class="form-field">
    </div>
    <h3>Pitches</h3>
    <h5>Hier ist eine Liste deiner Pitchvorlagen</h5>
    <div class="pitches pitch-list">
        <% pitches.each do |pitch| %>
        <div class="card">
            <div class="thumb">
                <% if pitch.image? %>
                <%= image_tag pitch.image.url %>
                <% else %>
                <%= image_tag 'dash/Image.png' %>
                <% end %>
            </div>
            <div class="title"><%= pitch.title %></div>
            <div class="subtitle">
                Slide: <%= pitch.tasks.where(task_type: 'slide').size %>,
                Tasks: <%= pitch.tasks.where.not(task_type: 'slide').size %>
            </div>
            <div class="buttons">
                <button style="position: relative; top: 2vh;" data-task="pitchTasks<%= pitch.id %>"
                    class="btn reversed browse-tasks">Browse
                    tasks</button>
            </div>
        </div>
        <% end %>
    </div>
    <% pitches.each do |pitch| %>
    <div class="right-side-card hide pitch-tasks-div" id="pitchTasks<%= pitch.id %>">
        <div class="right-tasks">
            <% pitch.tasks.each do |task| %>
            <div class="task-card">
                <div class="thumb">
                    <% if task.task_medium&.image&.present? %>
                    <%= image_tag task.task_medium&.image&.url %>
                    <% else %>
                    <%= image_tag 'dash/Image.png' %>
                    <% end %>
                    <div class="length"><%= task.time %></div>
                </div>
                <div class="title"><%= task.title %></div>
                <div class="sub-title">Rating Criteria</div>
                <div class="rating-criteria">
                    <% task.rating_list&.rating_criteria&.each do |rating| %>
                    <div class="criterium"><%= rating.name %></div>
                    <% end %>
                </div>
                <div class="buttons">
                    <%= link_to 'Use this task', copy_task_path(@pitch, task.id), class: 'btn reversed' %>
                </div>
            </div>
            <%#= render partial: 'browse_task_fields', locals: { task: task, pitch_id: pitch.id } %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>

<script>

    new PerfectScrollbar('.pitch-list');

    $("#searchPitch").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $(".pitch-list .card .title").filter(function () {
            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    $('fake-form').hide();

    $('.browse-tasks').on('click', function (e) {
        let $taskId = $(e.target).attr('data-task');
        $('.pitch-list').hide();
        $(`#${$taskId}`).show();
    });

</script>