<div id="pitches" class="browse-tasks-partial">
    <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search for pitches tasks" id="searchPitch" class="form-field">
    </div>
    <h3>Pitches</h3>
    <h5>Hier ist eine Liste deiner Pitchvorlagen</h5>
    <div class="pitches" id="pitch-list">
        <% @pitches.includes(:tasks).each do |pitch| %>
        <div class="card">
            <div class="thumb">
                <% if pitch.image? %>
                <%= image_tag pitch.image.url %>
                <% else %>
                <%= image_tag 'dash/Image.png' %>
                <% end %>
            </div>
            <div class="title"><%= pitch.title %></div>
            <div class="subtitle">
                Slide: <%= pitch.tasks.where(task_type: 'slide').size %>,
                Tasks: <%= pitch.tasks.where.not(task_type: 'slide').size %>
            </div>
            <div class="buttons">
                <button style="position: relative; top: 2vh;" data-task="pitchTasks<%= pitch.id %>"
                    class="btn reversed browse-tasks">Browse
                    tasks</button>
            </div>
        </div>
        <% end %>
    </div>
    <% pitches.includes(:tasks).each do |pitch| %>
    <div class="right-side-card hide pitch-tasks-div" id="pitchTasks<%= pitch.id %>">
        <div class="right-tasks">
            <% pitch.tasks.each do |task| %>
            <div class="task-card">
                <div class="thumb">
                    <% if task.task_medium&.image&.present? %>
                    <%= image_tag task.task_medium&.image&.url %>
                    <% else %>
                    <%= image_tag 'dash/Image.png' %>
                    <% end %>
                    <div class="length"><%= task.time %></div>
                </div>
                <div class="title"><%= task.title %></div>
                <div class="sub-title">Rating Criteria</div>
                <div class="rating-criteria">
                    <% task.rating_list&.rating_criteria&.each do |rating| %>
                    <div class="criterium"><%= rating.name %></div>
                    <% end %>
                </div>
                <div class="buttons">
                    <a href="javascript:void(0)" class="btn reversed" data-id="<%= pitch.id %><%= task.id %>"
                        onclick="useTaskClicked(event)">Use this task</a>
                </div>
            </div>
            <%#= render partial: 'browse_task_fields', locals: { task: task, pitch_id: pitch.id } %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>

<script>

    $('#fakeForm').hide();

    $('.browse-tasks').on('click', function (e) {
        let $taskId = $(e.target).attr('data-task');
        $('#pitch-list').hide();
        $(`#${$taskId}`).show();
    });

    function useTaskClicked(e) {
        isUsedTaskClicked = true;
        let sourceId = $(e.target).attr('data-id');
        let addFirstTaskBtn = true;
        if (!$('.add-first-task').is(':visible')) {
            $('.add-link').click();
            addFirstTaskBtn = false;
        }
        createTaskCopy(sourceId);
        $('.browse-tasks-partial, #pitch-list, .pitch-tasks-div, .add-first-task').hide();
        $('#new_pitch_form').show();
        if (addFirstTaskBtn) {
            hideAllTasks();
            // showTask(sourceId);
            $('.task-fields:first').removeClass('hide').show();
            $('.card.left .left-card').addClass('selected');
        }
        isUsedTaskClicked = false;
    }
</script>