<div class="card" id="pitches">
    <div class="search">
        <%= image_tag 'dash/new_icons/search.svg', class: 'search-img' %>
        <input type="text" placeholder="Pitch suche" id="searchPitch" class="form-field">
    </div>
    <h3>Pitches</h3>
    <h5>Hier ist eine Liste deiner Pitchvorlagen</h5>
    <div class="pitches" id="pitch-list">
        <% @pitches.each do |pitch| %>
        <div class="card" id="pitch">
          <div class="pitches-title-wrapper">
            <div class="title"><%= pitch.title %></div>
            <% if (can? :edit, pitch) || (can? :create, Pitch) %>
            <div class="custom-dropdown-select">
                <div class="dropdown-div" onclick="openDropdown(this)">
                    <i class="fa fa-ellipsis-v dropdown-icon" aria-hidden="true"></i>
                </div>
                <div class="dropdown-option-wrapper">
                    <div class="dropdown-option">
                        <% if can? :edit, pitch %>
                        <span class="select-name">
                            <a href="<%=  dashboard_edit_pitch_path(pitch) %>" data-turbolinks="false">
                                <i class="fas fa-pencil-alt"></i>Edit
                            </a>
                        </span>
                        <span class="select-name">
                            <a href="?share_pitch=<%= pitch.id %>">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>Share
                            </a>
                        </span>
                        <% end %>
                        <% if can? :create, Pitch %>
                        <span class="select-name">
                            <a href="<%= copy_pitch_path(pitch) %>">
                                <i class="fas fa-copy" aria-hidden="true"></i>Duplicate
                            </a>
                        </span>
                        <% end %>
                        <% if can? :destroy, pitch %>
                        <span class="select-name">
                            <a href="<%= delete_unsave_pitch_path(pitch) %>" data-confirm='Willst du die Aufgabe wirklich löschen?'>
                                <%= image_tag 'dash/new_icons/trash.svg', class: 'delete' %><span class="delete-span">Delete</span>
                                <!-- <i class="far fa-trash-alt" aria-hidden="true"></i> -->
                            </a>
                        </span>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
          </div>
          <div class="thumb">
              <% if pitch.image? %>
              <%= image_tag pitch.image.url, class: 'pitch-placeholder-img' %>
              <% else %>
              <%= image_tag 'dash/pitch_placeholder.png', class: 'pitch-placeholder-img' %>
              <% end %>
            </div>
            <div class="autor">
              <i class="fas fa-user"></i><%= pitch.user.fname[0].capitalize + '. ' + pitch.user.lname %>
            </div>

            <div class="subtitle">
                Slide: <%= pitch.tasks.where(task_type: 'slide').size + pitch.tasks.where.not(task_type: 'slide').size + pitch.tasks.where(task_type: nil).size%>,
                Tasks: <%= pitch.tasks.where.not(task_type: 'slide').size + pitch.tasks.where(task_type: nil).size %>
            </div>
            <div class="pitch-buttons">
                <%#= link_to 'Edit', dashboard_edit_pitch_path(pitch), class: 'btn reversed', data: { turbolinks: false } %>
                <%= link_to 'Pitch', dashboard_pitches_path('', pitch_id: pitch.id), class: 'btn' %>
            </div>
        </div>
        <% end %>
        <!-- </a> -->
        <% if can? :create, Pitch %>
        <div class="card" id="newpitch">
            <% if controller.controller_name == 'dashboard' %>
            <a href="<%= dashboard_new_pitch_path %>">
                <%= inline_svg_tag 'dash/new_icons/plus_button.svg', class: 'add-new-pitch plus-cust-icon' %>
            </a>
            <% elsif current_page?(backoffice_pitches_path) %>
            <a href="<%= dashboard_new_pitch_path(global: true) %>">
                <%= inline_svg_tag 'dash/new_icons/plus_button.svg', class: 'add-new-pitch plus-cust-icon' %>
            </a>
            <% end %>
            <div class="title">Create new Pitch</div>
        </div>
        <% end %>
    </div>
</div>
