<div id="pitchModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="heading">
            <h1>Headline</h1>
        </div>
        <div class="inner-content">
            <div class="left-section">
                <div class="pitch-title">
                    <label for="">Pitch</label>
                    <div class="form-group">
                        <%= pitch.text_field :title, class: 'form-field', placeholder: 'Pitch title', required: true %>
                    </div>
                </div>
                <div class="pitch-description">
                    <label for="">Description</label>
                    <div class="form-group">
                        <%= pitch.text_area :description, class: 'form-field', placeholder: 'Pitch description' %>
                    </div>
                </div>
                <div class="hr-line"></div>
                <div class="checkbox-container">
                    <%= pitch.check_box :show_ratings, { checked: true, id: 'show_ratings' }, pitch.object.show_ratings, pitch.object.show_ratings %>
                    <div class="form-group show-ratings-container">
                        <label for="" class="heading-label">Bewertungsausgabe (nach jedem Pitch)</label>
                        <label class="container">Gesamtbewertung anzeigen
                            <% if pitch.object.show_ratings == 'all' %>
                            <input type="checkbox" checked>
                            <% else %>
                            <input type="checkbox">
                            <% end %>
                            <span class="checkmark" data-value='all'></span>
                        </label>
                        <label class="container">Keine Bewertung anzeigen
                            <% if pitch.object.show_ratings == 'none' %>
                            <input type="checkbox" checked>
                            <% else %>
                            <input type="checkbox">
                            <% end %>
                            <span class="checkmark" data-value='none'></span>
                        </label>
                        <label class="container">Bewertung von einer bestimmten Person anzeigen
                            <% if pitch.object.show_ratings == 'one' %>
                            <input type="checkbox" checked>
                            <% else %>
                            <input type="checkbox">
                            <% end %>
                            <span class="checkmark" data-value='one'></span>
                        </label>
                        <label class="container">Bewertung überspringen
                            <% if pitch.object.show_ratings == 'skip' %>
                            <input type="checkbox" checked>
                            <% else %>
                            <input type="checkbox">
                            <% end %>
                            <span class="checkmark" data-value='skip'></span>
                        </label>
                        <!-- <div class="skip-election-group">
                            <label for="">Gesamtbewertung anzeigen</label>
                            <i class="far fa-check-square" id="ratings_all" onclick="changeShowRating('all')"></i>
                        </div>
                        <div class="skip-election-group">
                            <label for="">Keine Bewertung anzeigen</label>
                            <i class="far fa-square" id="ratings_none" onclick="changeShowRating('none')"></i>
                        </div>
                        <div class="skip-election-group">
                            <label for="">Bewertung von einer bestimmten Person anzeigen</label>
                            <i class="far fa-square" id="ratings_one" onclick="changeShowRating('one')"></i>
                        </div>
                        <div class="skip-election-group">
                            <label for="">Bewertung überspringen</label>
                            <i class="far fa-square" id="ratings_skip" onclick="changeShowRating('skip')"></i>
                        </div> -->
                    </div>
                </div>
                <div class="hr-line"></div>
                <div class="form-group pitch-sound" id="pitch_sound">
                    <label class="container">Pitch sound
                        <!-- <input type="checkbox"> -->
                        <%= pitch.check_box :pitch_sound %>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <!-- <div class="toggle-wrapper toggle-sound">
                    <label for="">Pitch sound</label>
                    <div class="toggle-my-ratings toggle-my-ratings-1">
                        <div class="toggle toggle-game right-side" onclick="soundCheck()">
                            <div class="dot"></div>
                        </div>
                    </div>
                </div> -->
                <div class="hr-line"></div>
                <div class="form-group skip-elections" id="skip_elections">
                    <label class="container">Election of next pitch user
                        <!-- <input type="checkbox"> -->
                        <%= pitch.check_box :skip_elections %>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <!-- <div class="toggle-wrapper toggle-sound">
                    <label for="">Election of next pitch user</label>
                    <div class="toggle-my-ratings toggle-my-ratings-1">
                        <div class="toggle toggle-game right-side" onclick="soundCheck()">
                            <div class="dot"></div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="right-section">
                <div class="picture media-option">
                    <label for="">Pitch image</label>
                    <label for="pitch_image" class="btn upload">Upload</label>
                    <%= pitch.file_field :image, onchange: "loadFile(event)", accept: 'image/*' %>
                    <div class="preview">
                        <div class="remove" onclick="removeMedia(event)">remove</div>
                        <%= image_tag 'dash/Image.png', class: 'media-file' %>
                    </div>
                </div>
                <div class="hr-line"></div>
                <div class="video media-option">
                    <label for="">Pitch video</label>
                    <label for="pitch_video" class="btn upload">Upload</label>
                    <%= pitch.file_field :video, onchange: "loadFile(event, 'video')", accept: 'video/*' %>
                    <div class="preview">
                        <div class="time"></div>
                        <div class="remove" onclick="removeMedia(event, 'video')">remove</div>
                        <video id="video_tag" onloadedmetadata="loadMetaData(event)" style="display: none"
                            type="video/mp4" controls></video>
                        <%#= image_tag 'dash/Image.png' %>
                    </div>
                </div>
                <div class="hr-line"></div>
                <div class="video-form">
                    <label for="">You can also past a link to your video on Youtube or Vimeo</label>
                    <div class="form-group">
                        <input type="text" placeholder="Youtube/Vimeo link" class="form-field">
                        <%= image_tag 'dash/icons/circle-plus-green.svg', class: 'add' %>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <%#= link_to 'Save', dashboard_pitches_path, class: 'btn' %>
                    <%= pitch.submit 'Save', class: 'submit-btn btn' %>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('.show-ratings-container .checkmark').unbind().on('click', (e) => {
        let $that = $(e.target);
        if (!$(e.target).siblings('input[type="checkbox"]').is(":checked")) {
            $('.show-ratings-container input[type="checkbox"]').removeAttr('checked');
            // $that.siblings('input[type="checkbox"]').prop('checked', false);
            let value = $that.attr('data-value')
            $('#show_ratings').attr('value', value);
            $('#show_ratings').siblings('input[type="hidden"]').attr('value', value);
            // $that.siblings('input[type="checkbox"]').prop('checked', true);
            $that.siblings('input[type="checkbox"]').attr("checked", "checked");
        }
    })

</script>
<style>
    /* The container */
    #show_ratings {
        display: none;
    }

    #content .form-group label.container {
        display: block;
        position: relative;
        cursor: pointer;
        margin: 0.2vh 0;
    }

    #content .skip-elections label,
    #content .pitch-sound label {
        font-size: 2vh;
        font-weight: bold;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        right: 0;
        height: 1.6vh;
        width: 1.6vh;
        border: 0.24vh solid rgb(29, 218, 175);
        border-radius: 0.3vh;
        background-color: white;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: white;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: white;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: .5vh;
        top: 0.1vh;
        width: 0.3vh;
        height: 0.8vh;
        border: solid rgb(29, 218, 175);
        border-width: 0 0.3vh 0.3vh 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>