<div id="pitchModal" class="modal hide">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="heading">
            <h1>Headline</h1>
        </div>
        <div class="inner-content">
            <div class="left-section">
                <div class="pitch-title">
                    <label for="">Pitch</label>
                    <div class="form-group">
                        <%= pitch.text_field :title, class: 'form-field', placeholder: 'Pitch title', required: true %>
                    </div>
                </div>
                <div class="pitch-description">
                    <label for="">Description</label>
                    <div class="form-group">
                        <%= pitch.text_area :description, class: 'form-field', placeholder: 'Pitch description' %>
                    </div>
                </div>
                <div class="hr-line"></div>
                <div class="checkbox-container">
                    <%= pitch.hidden_field :show_ratings, value: pitch.object.show_ratings, id: 'show_ratings' %>
                    <div class="form-group show-ratings-container">
                        <label for="" class="heading-label">Bewertungsausgabe (nach jedem Pitch)</label>
                        <label
                            class="container <%= pitch.object.show_ratings == 'all' ? 'rating-container' : '' %>">Gesamtbewertung
                            anzeigen
                            <% if pitch.object.show_ratings == 'all' %>
                            <input type="checkbox" checked>
                            <% else %>
                            <input type="checkbox">
                            <% end %>
                            <span class="checkmark" data-value='all'></span>
                        </label>
                        <label
                            class="container <%= pitch.object.show_ratings == 'none' ? 'rating-container' : '' %>">Keine
                            Bewertung anzeigen
                            <% if pitch.object.show_ratings == 'none' %>
                            <input type="checkbox" checked>
                            <% else %>
                            <input type="checkbox">
                            <% end %>
                            <span class="checkmark" data-value='none'></span>
                        </label>
                        <label
                            class="container <%= pitch.object.show_ratings == 'one' ? 'rating-container' : '' %>">Bewertung
                            von einer bestimmten Person anzeigen
                            <% if pitch.object.show_ratings == 'one' %>
                            <input type="checkbox" checked>
                            <% else %>
                            <input type="checkbox">
                            <% end %>
                            <span class="checkmark" data-value='one'></span>
                        </label>
                        <label
                            class="container <%= pitch.object.show_ratings == 'skip' ? 'rating-container' : '' %>">Bewertung
                            überspringen
                            <% if pitch.object.show_ratings == 'skip' %>
                            <input type="checkbox" checked>
                            <% else %>
                            <input type="checkbox">
                            <% end %>
                            <span class="checkmark" data-value='skip'></span>
                        </label>
                    </div>
                </div>
                <div class="hr-line"></div>
                <div class="form-group pitch-sound" id="pitch_sound">
                    <label class="container common-checkbox">Pitch sound
                        <%= pitch.check_box :pitch_sound %>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="hr-line"></div>
                <div class="form-group skip-elections" id="skip_elections">
                    <label class="container common-checkbox">Election of next pitch user
                        <%= pitch.check_box :skip_elections %>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="right-section">
                <div class="picture media-option">
                    <label for="">Pitch image</label>
                    <label for="pitch_image" class="btn upload">Upload</label>
                    <%= pitch.file_field :image, onchange: "loadFile(event)", accept: 'image/*' %>
                    <div class="preview">
                        <div class="remove" onclick="removeMedia(event)">remove</div>
                        <%= image_tag 'dash/Image.png', class: 'media-file' %>
                    </div>
                </div>
                <div class="hr-line"></div>
                <div class="video media-option">
                    <label for="">Pitch video</label>
                    <label for="pitch_video" class="btn upload">Upload</label>
                    <%= pitch.file_field :video, onchange: "loadFile(event, 'video')", accept: 'video/*' %>
                    <div class="preview">
                        <div class="time"></div>
                        <div class="remove" onclick="removeMedia(event, 'video')">remove</div>
                        <video id="video_tag" onloadedmetadata="loadMetaData(event)" style="display: none"
                            type="video/mp4" controls></video>
                        <%#= image_tag 'dash/Image.png' %>
                    </div>
                </div>
                <div class="hr-line"></div>
                <div class="video-form">
                    <label for="">You can also past a link to your video on Youtube or Vimeo</label>
                    <div class="form-group">
                        <input type="text" placeholder="Youtube/Vimeo link" class="form-field">
                        <%= image_tag 'dash/icons/circle-plus-green.svg', class: 'add' %>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <%#= link_to 'Save', dashboard_pitches_path, class: 'btn' %>
                    <%= pitch.submit 'Save', class: 'submit-btn btn' %>
                </div>
            </div>
        </div>
    </div>
</div>