<div class="card" id="pitches">
    <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Pitch suchen" id="searchPitch" class="form-field">
    </div>
    <h3>Pitches</h3>
    <h5>Hier ist eine Liste deiner Pitchvorlagen</h5>
    <div class="pitches" id="pitch-list">
        <% @pitches.includes(:tasks).each do |pitch| %>
        <!-- <a href="<%= edit_dashboard_pitch_path(pitch) %>" data-turbolinks="false" class="edit-card"> -->
        <div class="card" id="pitch">
            <div class="thumb">
                <% if pitch.image? %>
                <%= image_tag pitch.image.url %>
                <% else %>
                <%= image_tag 'dash/Image.png' %>
                <% end %>
            </div>
            <div class="title"><%= pitch.title %></div>
            <div class="subtitle">Video: <%= pitch.tasks.select{|task| task.video? || task.video_id.present? }.count %>,
                Image:
                <%= pitch.tasks.select{|task| task.image? }.count %>, Tasks: <%= pitch.tasks.size %></div>
            <div class="buttons">
                <%= link_to 'Edit', edit_dashboard_pitch_path(pitch), class: 'btn reversed', data: { turbolinks: false } %>
                <%= link_to 'Pitch', dashboard_pitches_path('', pitch_id: pitch.id), class: 'btn' %>
            </div>
        </div>
        <% end %>
        <!-- </a> -->
        <div class="card" id="newpitch">
            <%= link_to new_dashboard_pitch_path, data: { turbolinks: false } do %>
            <%= image_tag 'dash/icons/circle-plus-green.svg' %>
            <% end %>
            <div class="title">Create new Pitch</div>
        </div>
    </div>
</div>
<% if @pitch %>
<div class="blur">
    <div class="card" id="letspitch">
        <h1>Jetzt Pitch starten!</h1>
        <%= form_for(:game, url: new_game_path) do |f| %>
        <%= f.hidden_field :pitch_id, value: @pitch.id %>
        <div class="form-group">
            <label for="">
                Team
                <% if flash[:team_id] %>
                <span class="right red">
                    <%= flash[:team_id] %>
                </span>
                <% else %>
                <span class="right green" id="createTeam" onclick="showTeam()">
                    Team erstellen!
                </span>
                <% end %>
            </label>
            <select name="game[team_id]" id="game_team_id" class="custom-select <%= flash[:team_id] ? 'red' : '' %>">
                <% if !@team %>
                <option value="" selected disabled>Team wählen!</option>
                <% end %>
                <% @teams.each do |t| %>
                <option value="<%= t.id %>" <%= @team && @team.id == t.id ? 'selected' : '' %>><%= t.name %></option>
                <% end %>
            </select>
        </div>
        <div class="form-group">
            <label for="">
                Pitch-URL
                <% if flash[:game_url] %>
                <span class="right red">
                    <%= flash[:game_url] %>
                </span>
                <% end %>
            </label>
            <div class="form-field <%= flash[:game_url] ? 'red' : '' %>">
                <div class="text">peterpitch.com/</div>
                <%= f.text_field :password, class: 'custom-url-field' %>
            </div>
            <%= f.submit 'weiter!', class: 'btn btn-green' %>
        </div>
        <% end %>
    </div>
    <div class="card" id="newteam">
        <h1>Team erstellen!</h1>
        <%= form_for(:team, url: new_team_path) do |f| %>
        <%= f.hidden_field :site, value: 'pitch' %>
        <div class="form-group">
            <label for="">
                Name
                Name
                <% if flash[:team_name] %>
                <span class="right red">
                    <%= flash[:team_name] %>
                </span>
                <% end %>
            </label>
            <%= f.text_field :name, class: 'form-field' %>
        </div>
        <%= f.submit 'erstellen!', class: 'btn btn-green' %>
        <% end %>
    </div>
</div>
<script>
    function showTeam() {
        $('#letspitch').toggle();
        $('#newteam').toggle();
    }
</script>
<% end %>

<script>

    new PerfectScrollbar('#pitch-list');
    function handleClick(e) {
        if ($(e.target).attr('class') === 'card') {
            $(e.target).find('.btn.reversed').click();
        } else {
            $(e.target).closest('.card').find('.btn.reversed').click();
        }
    }
    $("#searchPitch").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#pitch-list .card .title").filter(function () {
            $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>