<div class="card" id="pitches">
    <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Pitch suchen" id="searchPitch" class="form-field">
    </div>
    <h3>Pitches</h3>
    <h5>Hier ist eine Liste deiner Pitchvorlagen</h5>
    <div class="pitches" id="pitch-list">
        <% @pitches.each do |pitch| %>
        <div class="card" id="pitch">
            <div class="thumb">
                <% if pitch.image? %>
                <%= image_tag pitch.image.url %>
                <% else %>
                <%= image_tag 'dash/Image.png' %>
                <% end %>
            </div>
            <div class="title"><%= pitch.title %></div>
            <div class="subtitle">Video: <%= pitch.tasks.where.not(video: nil).count %>, Image:
                <%= pitch.tasks.where.not(image: nil).count %>, Tasks: <%= pitch.tasks.count %></div>
            <div class="buttons">
                <!-- <a href="" class="btn reversed">Edit</a> -->
                <%= link_to 'Edit', edit_dashboard_pitch_path(pitch), class: 'btn reversed', data: { turbolinks: false } %>
                <a href="" class="btn">Pitch!</a>
            </div>
        </div>
        <% end %>
        <div class="card" id="newpitch">
            <%= image_tag 'dash/icons/circle-plus-green.svg' %>
            <div class="title">Create new Pitch</div>
            <%= link_to '', new_dashboard_pitch_path, data: { turbolinks: false } %>
        </div>
    </div>
</div>
<script>
    new PerfectScrollbar('#pitch-list');
</script>