<div class="card" id="pitches">
    <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Pitch suchen" id="searchPitch" class="form-field">
    </div>
    <h3>Pitches</h3>
    <h5>Hier ist eine Liste deiner Pitchvorlagen</h5>
    <div class="pitches" id="pitch-list">
        <% @pitches.includes(:tasks).each do |pitch| %>
        <!-- <a href="<%= edit_dashboard_pitch_path(pitch) %>" data-turbolinks="false" class="edit-card"> -->
        <div class="card" id="pitch">
            <div class="thumb">
                <% if pitch.image? %>
                <%= image_tag pitch.image.url %>
                <% else %>
                <%= image_tag 'dash/Image.png' %>
                <% end %>
            </div>
            <div class="title"><%= pitch.title %></div>
            <div class="subtitle">Video: <%= pitch.tasks.select{|task| task.video? || task.video_id.present? }.count %>,
                Image:
                <%= pitch.tasks.select{|task| task.image? }.count %>, Tasks: <%= pitch.tasks.size %></div>
            <div class="buttons">
                <%= link_to 'Edit', edit_dashboard_pitch_path(pitch), class: 'btn reversed', data: { turbolinks: false } %>
                <a href="" class="btn">Pitch!</a>
            </div>
        </div>
        <% end %>
        <!-- </a> -->
        <div class="card" id="newpitch">
            <%= link_to new_dashboard_pitch_path, data: { turbolinks: false } do %>
            <%= image_tag 'dash/icons/circle-plus-green.svg' %>
            <% end %>
            <div class="title">Create new Pitch</div>
        </div>
    </div>
</div>
<script>
    new PerfectScrollbar('#pitch-list');
    function handleClick(e) {
        if ($(e.target).attr('class') === 'card') {
            $(e.target).find('.btn.reversed').click();
        } else {
            $(e.target).closest('.card').find('.btn.reversed').click();
        }
    }
</script>