<div class="left">
	<div class="search">
		<i class="fas fa-search"></i>
		<input type="text" placeholder="Unternehmens Admins suchen" id="searchCompanyAdmins" class="form-field">
	</div>
	
	<div class="card">
		<h3>Unternehmen Admins</h3>
		<div class="table" id="company_admin-table" ondrop="dropCompanyAdmin(event)" ondragover="allowDrop(event)">
			<table>
				<thead>
					<tr>
						<th colspan="2">Name</th>
						<th>E-Mail</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="company_admins">
					<% @cAdmins.each do |u| %>
					<tr draggable="true" ondragstart="drag(event)" id="user_<%= u.id %>" data-id="<%= u.id %>">
						<td class="img"><%= image_tag u.avatar.url %></td>
						<td><%= u.fname %> <%= u.lname %></td>
						<td><%= u.email %></td>
						<td class="remove" onclick="makeUser(<%= u.id %>)"> <i class="far fa-trash-alt"></i></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="placehere">Nutzer hier hinziehen, um sie zum Unternehmens Admin zu machen!</div>
	</div>
</div>

<div class="right">
	<div class="search">
		<i class="fas fa-search"></i>
		<input type="text" placeholder="Nutzer suchen" id="searchCompanyAdmins" class="form-field">
	</div>
	
	<div class="card">
		<h3>Nutzer</h3>
		<div class="table" id="users-table">
			<table>
				<thead>
					<tr>
						<th colspan="2">Name</th>
						<th>E-Mail</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="users">
					<% @users.each do |u| %>
					<tr draggable="true" ondragstart="drag(event)" id="user_<%= u.id %>" data-id="<%= u.id %>">
						<td class="img"><%= image_tag u.avatar.url %></td>
						<td><%= u.fname %> <%= u.lname %></td>
						<td><%= u.email %></td>
						<td class="remove" onclick="makeUser(<%= u.id %>)"> <i class="far fa-trash-alt"></i></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


<script>
	new PerfectScrollbar('#company_admin-table');
	new PerfectScrollbar('#users-table');
	function dropCompanyAdmin(e) {
		e.preventDefault();
		var uID = e.dataTransfer.getData('ID');
		makeCAdmin(uID);
	}
	function allowDrop(ev) {
		ev.preventDefault();
	}
	function drag(e) {
		e.dataTransfer.setData('ID', e.target.getAttribute('data-id'))
	}
	function makeCAdmin(uID) {
		var url = '/users/'+ uID + '/company_admin';
		$.ajax({
			url: url,
			type: "put",
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				$('#company_admins').append($('#user_'+uID));
			}
		})
	}
	function makeUser(uID) {
		var url = '/users/'+ uID +'/make_user';
		$.ajax({
			url: url,
			type: "put",
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				$('#users').append($('#user_'+uID));
			}
		})
	}
</script>
