<!DOCTYPE html>
<html>

<head>
	<title><%= yield(:title) %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#1dacf1" />
	<%= favicon_link_tag 'wolfhead-tab.png', rel: 'icon', type: 'image/png' %>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag    'dash/main', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'dash/main', 'data-turbolinks-track': 'reload' %>
</head>
<style>
	:root {
		--custcolor: <%=@company.color1[0] %>, <%=@company.color1[1] %>, <%=@company.color1[2] %>;
		--btncolor: <%=@company.color2[0] %>, <%=@company.color2[1] %>, <%=@company.color2[2] %>;
	}
</style>

<body>
	<% if @pitch && current_page?(dashboard_edit_pitch_path(@pitch)) %>
	<section id="new-pitch-navbar">
		<h1>Pitch erstellen</h1>
		<div class="btn-group">
			<% if @pitch.title.present? %>
				<%= link_to 'Schließen', dashboard_pitches_path, class: 'btn reversed'%>
			<% else %>
				<a href="javascript:void(0)" class="btn reversed exit-btn">Schließen</a>
			<% end %>
			<button class="btn done-btn open-modal" data-modal="pitch-modal">Speichern</button>
		</div>
	</section>
	<% else %>
	<section id="navbar">
		<div class="dropdown" onclick="toggleDropdown()">
			Hallo, <%= @admin.fname %> <%= @admin.lname %>
			<i class="fas fa-caret-down dropdown-img"></i>
		</div>
		<div class="dropdown-content">
			<% if @admin.bo_role == 'root' %>
			<div class="link">
				Backoffice
				<%= link_to '', backoffice_path %>
			</div>
			<% end %>
			<% if can? :manage, @company %>
			<div class="link">
				Unternehmen
				<%= link_to '', dash_company_path %>
			</div>
			<% end %>
			<div class="link">
				Account
				<%= link_to '', account_path %>
			</div>
			<div class="link red">
				Logout
				<%= link_to '', destroy_user_session_path, method: 'delete' %>
			</div>
		</div>

	</section>
	<% end %>
	<section id="sidebar">
		<%= image_tag @admin.avatar.url, class: 'avatar', id: 'sidebarAvatar', href: dashboard_path %>

		<div class="links">


			<% if @pitch && !@pitch.title.present? && current_page?(dashboard_edit_pitch_path(@pitch)) %>
				<% if can? :create, Pitch || @company.pitches.accessible_by(current_ability).count != 0 %>
				<div class="link <%= current_page?(dashboard_pitches_path) || @pitch && current_page?(dashboard_edit_pitch_path(@pitch)) ? 'active' : '' %>">
					<i class="fas fa-gamepad"></i>
					<div class="text">Pitches</div>
					<a class="navbar-link" data-href="<%= dashboard_pitches_path %>" href="javascript:void(0)"></a>
				</div>
				<% end %>
				<% if can? :read, Team %>
					<div class="link <%= current_page?(dashboard_teams_path) || @team && current_page?(dashboard_team_path(@team)) || @team && current_page?(dashboard_team_stats_path(@team)) || @user && current_page?(dashboard_user_stats_path(@user)) ? 'active' : '' %>">
						<i class="fas fa-user-friends"></i>
						<div class="text">Nutzer</div>
						<a class="navbar-link" data-href="<%= dashboard_teams_path %>" href="javascript:void(0)"></a>
						<%#= link_to '', dashboard_teams_path %>
					</div>
				<% else %>
					<div class="link <%= current_page?(dashboard_pitches_path) || @pitch && current_page?(dashboard_edit_pitch_path(@pitch)) ? 'active' : '' %>"
						d>
						<i class="fas fa-chart-line"></i>
						<div class="text">Statistik</div>
						<a class="navbar-link" data-href="<%= dashboard_user_stats_path(@admin) %>" href="javascript:void(0)"></a>
						<%#= link_to '', dashboard_pitches_path %>
					</div>
				<% end %>
				<% if can? :read, TaskMedium %>
				<div class="link <%= current_page?(dashboard_content_path) || current_page?(dashboard_my_content_path) || current_page?(dashboard_shared_content_path) || current_page?(dashboard_peters_content_path) ? 'active' : '' %>">
					<i class="far fa-list-alt"></i>
					<div class="text">Content</div>
					<a class="navbar-link" data-href="<%= dashboard_content_path %>" href="javascript:void(0)"></a>

				</div>
				<% end %>

				<% if @company.pitch_videos.accessible_by(current_ability).count != 0 %>
				<div class="link <%= current_page?(dashboard_video_path) || @turn && current_page?(dashboard_pitch_video_path(@turn)) ? 'active' : '' %>"
					d>
					<i class="fab fa-youtube"></i>
					<div class="text">Video Tool</div>
					<a class="navbar-link" data-href="<%= dashboard_video_path %>" href="javascript:void(0)"></a>
					<%#= link_to '', dashboard_video_path %>
				</div>
				<% end %>
			<% else %>
				<% if @company.pitches.accessible_by(current_ability).count != 0  || (can? :create, Pitch)%>
					<div class="link <%= current_page?(dashboard_pitches_path) || @pitch && current_page?(dashboard_edit_pitch_path(@pitch)) ? 'active' : '' %>">
						<i class="fas fa-gamepad"></i>
						<div class="text">Pitches</div>
						<%= link_to '', dashboard_pitches_path %>
					</div>
				<% end %>
				<% if can? :read, Team %>
					<div	class="link <%= current_page?(dashboard_teams_path) || @team && current_page?(dashboard_team_path(@team)) || @team && current_page?(dashboard_team_stats_path(@team)) || @user && current_page?(dashboard_user_stats_path(@user)) ? 'active' : '' %>">
						<i class="fas fa-user-friends"></i>
						<div class="text">Nutzer</div>
						<%= link_to '', dashboard_teams_path %>
					</div>
				<% elsif @admin.game_turn_ratings.count != 0 %>
					<div	class="link <%= current_page?(dashboard_teams_path) || @team && current_page?(dashboard_team_path(@team)) || @team && current_page?(dashboard_team_stats_path(@team)) || @user && current_page?(dashboard_user_stats_path(@user)) ? 'active' : '' %>">
						<i class="fas fa-chart-line"></i>
						<div class="text">Statistik</div>
						<%= link_to '', dashboard_user_stats_path(@admin) %>
					</div>
				<% end %>
				<% if can? :read, TaskMedium %>
				<div class="link <%= current_page?(dashboard_content_path) || current_page?(dashboard_my_content_path) || current_page?(dashboard_shared_content_path) || current_page?(dashboard_peters_content_path) ? 'active' : '' %>">
					<i class="far fa-list-alt"></i>
					<div class="text">Content</div>
					<%= link_to '', dashboard_content_path %>
				</div>
				<% end %>
				<% if @company.pitch_videos.accessible_by(current_ability).count != 0 %>
				<div class="link <%= current_page?(dashboard_video_path) || @turn && current_page?(dashboard_pitch_video_path(@turn)) ? 'active' : '' %>">
					<i class="fab fa-youtube"></i>
					<div class="text">Video Tool</div>
					<%= link_to '', dashboard_video_path %>
				</div>
				<% end %>
			<% end %>
		</div>

		<div class="logo">
			<svg viewBox="0 0 160 156" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M59.1978 34.1955L95.7266 20.2435L120.385 50.5907L120.39 50.5959L144.947 81.0254L123.705 113.855L123.701 113.861L102.35 146.619L64.5626 136.562L64.5562 136.56L26.803 126.377L24.6912 87.3311L24.6908 87.3244L22.7097 48.2721L59.1916 34.1979L59.1978 34.1955Z"
					fill="white" stroke="#FFFFFF" stroke-width="4" />
			</svg>
			<%= image_tag @company.logo? ? @company.logo.url : 'logo-m.png' %>
		</div>
	</section>
	<section id="content">
		<%= yield %>
	</section>


	<% if @inactive_users %>
		<div class="modal-blur">
			<div class="card inactive_user">
				<h3>Inactive User</h3>
				<%= form_for(:users, url: activate_users_path(@company), html: {id: "inactive_user_form"}) do |f| %>
					<div id="inactive_user-table">
				    <table>
							<thead>
								<tr>
									<th>Vorname</th>
									<th>Nachname</th>
									<th>E-Mail</th>
									<th>Akzeptieren</th>
								</tr>
							</thead>

							<tbody>
								<% @inactive_users.each do |iu| %>
								<tr>
									<td><%= iu.user.fname %></td>
									<td><%= iu.user.lname %></td>
									<td><%= iu.user.email %></td>
									<td><input type="checkbox" name="users[user_id]" value="<%= iu.user_id %>" id='user_<%= iu.user_id %>' ></td>
								</tr>
								<% end %>
							</tbody>
					  </table>
					</div>
					<div class="btn inverted" onclick="chooseAll()">
						Alle auswählen
					</div>
					<%= f.submit 'speichern', class: 'btn' %>
				<% end %>
			</div>
		</div>
		<script type="text/javascript">
			function chooseAll() {
				<% @inactive_users.each do |iu| %>
					$('#user_<%= iu.user_id %>').click();
				<% end %>
			}
			$('#inactive_user_form').on('submit', function(e) {
		    e.preventDefault();
		    var URL = "<%= activate_users_path(@company) %>";
		    var formData = new FormData(document.getElementById('inactive_user_form'));
		    $.ajax({
		      url: URL,
		      type: "post",
		      cache: false,
		      async: true,
		      contentType: false,
		      processData: false,
		      data: formData,
		      beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
		      success: function (res) {
		        location.reload();
		      }
		    });

		  })

		</script>
	<% end %>

	<% if flash[:alert] %>
	<div class="modal-blur">
		<div class="modal card">
			<div class="close" onclick="toggleModal()"><%= image_tag 'icons/close.svg' %></div>
			<h3><%= flash[:alert_head] ? flash[:alert_head] : 'Da gabe es einen Fehler!' %></h3>
			<%= flash[:alert] %>
		</div>
	</div>
	<% end %>
	<%= render 'layouts/svgs.html.erb' %>
</body>
<script>
	function toggleDropdown() {
		$(".dropdown-content").toggle();
		if ($(".dropdown .fas").hasClass('fa-caret-down')) {
			$(".dropdown .fas").addClass('fa-caret-up');
			$(".dropdown .fas").removeClass('fa-caret-down');
		} else {
			$(".dropdown .fas").addClass('fa-caret-down');
			$(".dropdown .fas").removeClass('fa-caret-up');
		}
	}
	function toggleModal() {
		$('.modal-blur').toggle();
	}

	if (!<%= current_page?(dashboard_pitches_path) %>) {
		new PerfectScrollbar('#content');
	}


</script>

</html>
