<!DOCTYPE html>
<html lang="de">
<head>
    <title>Peter Pitch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1dacf1"/>
    <%= favicon_link_tag 'wolfhead-tab.png', rel: 'icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'game_desktop/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'game_desktop/main'%>
</head>
<style>
	:root {
	  --custcolor: <%= @company.color1[0] %>,<%= @company.color1[1] %>, <%= @company.color1[2] %>;
	}
</style>
<body>
	<section id="navbar">
		<%= image_tag 'logos/peterpitch.png', class: 'logo' %>
		<% if @game.state == 'rating' && @game.show_ratings == 'one' || @game.state == 'bestlist' && @game.show_ratings == 'one'%>
		Bewertung von: <%= User.find(@game.rating_user).fname %> <%= User.find(@game.rating_user).lname %>
		<% elsif @game.team %>
		- <%= @game.team.name %> -
    <% else %>
    - <%= @game.user.fname + "'s Pitch" %> -
		<% end %>
		<%= image_tag @company.logo? ? @company.logo.url : '', class: 'company'%>
	</section>
	<section id="content">
		<div id="background-images">
			<%= image_tag 'game/illus/polygon.svg', id: "poly1" %>
			<%= image_tag 'game/illus/polygon.svg', id: "poly2" %>
			<%= image_tag 'game/illus/polygon.svg', id: "poly3" %>
			<%= image_tag 'game/illus/polygon.svg', id: "poly4" %>
			<%= image_tag 'game/illus/polygon_texture.svg', id: "polygrid1" %>
			<%= image_tag 'game/illus/polygon_texture.svg', id: "polygrid2" %>
			<%= image_tag 'game/illus/dots.svg', id: "dots1" %>
			<%= image_tag 'game/illus/dots.svg', id: "dots2" %>
		</div>
		<%= yield %>
	</section>
  <% if flash[:alert] %>
	<div class="modal-blur">
		<div class="modal card">
			<div class="close" onclick="toggleModal()"><%= image_tag 'icons/close.svg' %></div>
			<h3><%= flash[:alert_head] ? flash[:alert_head] : 'Da gabe es einen Fehler!' %></h3>
			<%= flash[:alert] %>
		</div>
	</div>
  <% end %>
  <% if @pitch && @game.state != 'play' && @game.state != 'feedback' %>
  <div id="count_channel" data-game-id='<%= @game.id %>'></div>
  <section class='comments' id="game_comments" style="display: none;">
  </section>
  <script>
    App.commentHideTimer = startCommentHideTimer();
  	App.commentHideTimer.pause();
    function startCommentHideTimer() {
  		commentTimer = 0;
  		var setTimer = setInterval(function() {
  			commentTimer++;
        console.log(commentTimer);
  			if (commentTimer > 10) {
          clearInterval(setTimer);
          $('#game_comments').fadeOut(1000);
          commentTimer = NaN;
          console.log(commentTimer);
        }
  		}, 1000)
  		var pause = function() { clearInterval(setTimer) };
  		var restart = function() {
        clearInterval(setTimer);
  			commentTimer = 0;
  			setTimer = setInterval(function() {
  				commentTimer++;
          console.log(commentTimer);
          if (commentTimer > 10) {
            clearInterval(setTimer);
            $('#game_comments').fadeOut(1000);
            commentTimer = NaN;
            console.log(commentTimer);
          }
  			}, 1000)
  		}
  		var stop = function() {
  			clearInterval(setTimer);
  			commentTimer = NaN;
        console.log(commentTimer);
  			$('#game_comments').fadeOut(1000);
  		}
  		return {pause: pause , restart: restart, stop: stop }
  	}
  </script>
  <% end %>

<svg viewbox= "0 0 316 316" style="display: none">
    <path id="poly" fill="none" fill-rule="evenodd" stroke="rgb(var(--custcolor))" stroke-linecap="round" stroke-width="4" d="M32.348 32.349L223.934 2.005l88.063 172.832-137.161 137.16L2.004 223.935 32.348 32.349z" opacity=".149"/>
</svg>
<script type="text/javascript">
  function toggleModal() {
		$('.modal-blur').toggle();
	}
</script>
</body>
</html>
