<!DOCTYPE html>
<html lang="de">

<head>
	<title>Peter Pitch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#1dacf1" />
	<%= favicon_link_tag 'wolfhead-tab.png', rel: 'icon', type: 'image/png' %>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= action_cable_meta_tag %>

	<%= stylesheet_link_tag    'game_mobile/main', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'game_mobile/main'%>
</head>
<style>
	<% if @company %>
	:root {
	  --custcolor: <%= @company.color1[0] %>,<%= @company.color1[1] %>, <%= @company.color1[2] %>;
	  --btncolor: <%= @company.color2[0] %>,<%= @company.color2[1] %>, <%= @company.color2[2] %>;
	}
  <% else %>
  :root {
	  --custcolor: 69,177, 255;
	  --btncolor: 29, 218, 175;
	}
	<% end %>
</style>

<body>
	<section id="navbar">
		<%= image_tag 'logos/peterpitch.png', class: 'logo' %>
		<% if current_page?(gm_error_path) %>
		FEHLER
		<% else %>
		<%= @game.team.name %>
			<% if @admin && @admin.role != 'user' && @admin.role != 'inactive' %>
				<div class="menu" onclick="toggleMenu()">
					<div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
				</div>
			<% elsif @game && @admin && @game.game_turns.find_by(user_id: @admin.id) %>
        <%= link_to '', gm_logout_path(@admin.id), class: 'nav-i fas fa-sign-out-alt', data: {confirm: 'Bist du sicher das du den Pitch verlassen möchtest?'} %>
			<% end %>
		<% end %>
	</section>
	<section id="menu">
    <%= image_tag 'logos/peterpitch.png', class: 'logo' %>
		<i class="fas fa-times close" onclick="closeMenu()"></i>
		<% if @task && @task.objection_list && @game.state == 'play' %>
		<div class="link" onclick="toggleObjections()"><i class="far fa-comment"></i>Einwände<i class="fas fa-chevron-right next"></i></div>
		<% end %>
		<% if @pitch %>
		<div class="link" onclick="toggleNav()"><i class="fas fa-photo-video"></i>Foliennavigation <i class="fas fa-chevron-right next"></i></div>
		<% end %>
		<div class="link" onclick="toggleUser()"><i class="fas fa-users"></i>Nutzerliste <i class="fas fa-chevron-right next"></i></div>
    <% if @game && @game.state == 'play' %>
    <div class="link end-pitch">
      <i class="fas fa-sign-out-alt"></i>
      Pitch beenden
      <i class="fas fa-chevron-right next"></i>
      <%= link_to '', gm_set_state_path('', state: 'rate'), data: {confirm: "Bist du sicher, dass du den Pitch beenden möchtest?"} %>
    </div>
    <% end %>
    <div class="link end">
      <i class="fas fa-sign-out-alt"></i>
      Pitchrunde beenden
      <i class="fas fa-chevron-right next"></i>
      <%= link_to '', gm_set_state_path('', state: 'bestlist'), data: {confirm: "Bist du sicher, dass du direct zur Bestenliste möchtest?"} %>
    </div>
	</section>
	<% if @pitch && @game.state != 'play' && @game.state != 'feedback' %>
	<section id="comment-menu">
		<i class="far fa-comment" onclick="toggleComment()"></i>
	</section>
	<% end %>
	<% if @task && @task.objection_list %>
	<section id="objections-menu">
		<div class="nav">
			<i class="fas fa-times" onclick="toggleObjections()"></i>
		</div>
		<div class="objections" id="objection-list">

			<% @task.objection_list.objections.each do |o| %>
			<span onclick="sendObjection('<%= o.name %>')"><%= o.name %></span>
			<% end %>
		</div>
	</section>
	<% end %>
	<section id="content">
		<%= yield %>
	</section>

	<% if @pitch %>
	<section id="nav-menu">
    <div class="nav">
      <div class="back" onclick="toggleNav()">
        <i class="fas fa-chevron-left"></i>zum Menü
      </div>
  		<i class="fas fa-times close" onclick="closeMenu()"></i>
      <div class="heading">Folienübersicht</div>
  		<div class="subheading">wähle eine Folie oder weise User einer Aufgabe zu!</div>
    </div>
    <div class="content">

      <% @pitch.task_orders.order(:order).each do |t| %>
  		<div class="link <%= @game.current_task == t.order ? 'selected' : '' %>" id="task_<%= t.order %>">
          <div class="title"><%= t.task.title && t.task.title != '' ? t.task.title : '' %></div>
  	    	<div class="preview">
            <div class="slide"><%= t.order %></div>
            <% if @game.game_turns.where(task_id: t.task_id).last %>
              <% this_turn = @game.game_turns.where(task_id: t.task_id).last %>
              <% if this_turn.user.avatar? %>
                <div class="user"><%= image_tag this_turn.user.avatar.url %></div>
              <% else %>
                <div class="user"><%= this_turn.user.fname[0].capitalize + this_turn.user.lname[0].capitalize %></div>
              <% end %>
            <% end %>
  	    		<% if t.task.task_medium && t.task.task_medium.video? %>
  	    		   <%= image_tag t.task.task_medium.video.thumb.url %>
  	    		<% elsif t.task.task_medium && t.task.task_medium.image? %>
  	    		   <%= image_tag t.task.task_medium.image.url %>
  	    		<% else %>
  	    		   <%= image_tag 'fallback/PlaceholderPP.png' %>
  	    		<% end %>
  	    	</div>

          <div class="links" %>
              <% if t.task.task_type != 'slide' %>
                <%= link_to 'zur Folie', gm_set_slide_path(t.order), class: 'jump' %>
                <% this_turn = @game.game_turns.where(task_id: t.task_id, played: false).last %>
                <% if @game.game_turns.where(task_id: t.task_id, played: false).count != 0 && @game.current_turn != this_turn.id %>
                  <div class="user" onclick="deleteUser(<%= this_turn.id %>)">User entfernen</div>
                <% else %>
                  <a href="?this_task=<%= t.task_id %>" class="user">User auswählen</a>
                <% end %>
              <% else %>
              <%= link_to 'zur Folie', gm_set_slide_path(t.order), class: 'jump center' %>
              <% end %>
          </div>
  		</div>
  		<% end %>
    </div>
	</section>
  <% if params[:this_task] %>
    <section id="task_user-menu">
        <div class="heading">Nutzerliste</div>
        <div class="subheading">Wer soll diese Task erledigen?</div>
				<% if params[:show_task] %>
				<i class="fas fa-times close" onclick="closeMenu()"></i>
				<% else %>
        <div class="back" onclick="toggleTaskUser()"><i class="fas fa-chevron-left"></i>zur Folienübersicht</div>
				<% end %>
        <% @game.game_turns.where(play: true, repeat: false).each do |t| %>
        <div class="user">
          <div class="avatar">
            <% if t.user.avatar? %>
              <%= image_tag t.user.avatar.url %>
            <% else %>
              <div class="circle"><%= t.user.fname[0].capitalize + t.user.lname[0].capitalize %></div>
            <% end %>
            </div>
            <div class="name">
              <%= t.user.fname + ' ' + t.user.lname %>
            </div>
						<i class="fas fa-chevron-right add-user"></i>
            <% if t.task %>
            <%= link_to '', gm_set_task_user_path(t.id, params[:this_task], show_task: true), data: {confirm: 'Der User ist schon einer anderen task zugeornet. Willst du das überschreiben?'} %>
            <% else %>
            <%= link_to '', gm_set_task_user_path(t.id, params[:this_task], show_task: true) %>
            <% end %>
        </div>
        <% end %>
    </section>
  <% end %>
	<section id="user-menu">
		<div class="heading">Nutzerliste</div>
		<div class="subheading">Nutzer aus Pitchrunde entfernen</div>
    <i class="fas fa-times close" onclick="closeMenu()"></i>
		<div class="back" onclick="toggleUser()"><i class="fas fa-chevron-left"></i>zum Menu</div>
		<div class="new-user" onclick="toggleNewUser()"><i class="fas fa-plus"></i>User hinzufügen</div>
		<% @game.game_turns.where(play: true, repeat: false).each do |gt| %>
		<div class="user">
      <div class="avatar">
        <% if gt.user.avatar? %>
          <%= image_tag gt.user.avatar.url %>
        <% else %>
          <div class="circle"><%= gt.user.fname[0].capitalize + gt.user.lname[0].capitalize %></div>
        <% end %>
      </div>
			<div class="name">

				<%= gt.user.fname + ' ' + gt.user.lname %>
			</div>
      <%= link_to '', gm_delete_turn_path(gt.id), class: 'fas fa-sign-out-alt exit-user', data: {confirm: "Bist du sicher, dass du den User aud dem Spiel entfernen möchtest?"} %>
		</div>
		<% end %>
	</section>
	<section id="user-new">
		<div class="heading">Nutzer</div>
		<div class="subheading">Füge einen Nutzer der Pitchrunde hinzu</div>
		<%= form_for(:user, url: email_game_path(@game), html: {id: 'email_form', autocomplete: 'off'}) do |f| %>
				<%= f.hidden_field :site, value: 'admin_game_mobile' %>
				<div class="form-group single-line">
					<%= f.email_field :email, placeholder: 'E-Mail', class: 'form-field' %>
					<i class="far fa-paper-plane" id='comment_submit' onclick='submitEmail()'></i>
				</div>
		<% end %>
	</section>
	<% if params[:email] %>
		<section id="user-name">
			<div class="heading">Nutzer</div>
			<div class="subheading">den Nutzer gibt es noch nicht. Wie heißt er?</div>
			<%= form_for(:user, url: name_game_path(@game, User.find_by(email: params[:email])), html: {id: 'name_form'}) do |f| %>
				<%= f.hidden_field :site, value: 'admin_game_mobile' %>
				<div class="form-group two-line" id="group_fname">
					<%= f.text_field :fname, placeholder: 'Vorname', class: 'form-field', onfocus: "hideDots()", onblur: "showDots()", required: true %>
				</div>
				<div class="form-group two-line" id="group_lname">
					<%= f.text_field :lname, placeholder: 'Nachname', class: 'form-field', onfocus: "hideDots()", onblur: "showDots()", required: true %>
				</div>
				<%= f.submit 'speichern', class: 'btn' %>
			<% end %>
		</section>
	<% end %>

	<section id="comment-popup">
		<i class="fas fa-times close" onclick="toggleComment()"></i>
		<%= form_for(:comment, url: new_comment_path(1), html: {id: "comment_form", autocomplete: 'off'}) do |f| %>
		  <div class="form-group">
			  <%= f.text_field :text, placeholder: 'Feedback hier eingeben...', oninput: "inputSend()", onblur: 'inputSend()', class: 'form-field', id: 'comment_text', maxlength: "30"%>
				<i class="far fa-paper-plane" id='comment_submit' onclick='submitComment()'></i>
		</div>
		<% end %>
	</section>
	<% end %>

	<% if flash[:alert] %>
	<div class="flash-alert">
		<div class="heading">Fehler!</div>
		<i class="fas fa-times close" onclick="hideFlash()"></i>
		<div class="text"><%= flash[:alert] %></div>
	</div>
	<% end %>

<svg viewbox= "0 0 316 316" style="position: absolute; opacity: .3; left: -200px; height: 350px; z-index: 10;">
    <path id="poly" fill="none" fill-rule="evenodd" stroke="rgb(var(--custcolor))" stroke-linecap="round" stroke-width="4" d="M32.348 32.349L223.934 2.005l88.063 172.832-137.161 137.16L2.004 223.935 32.348 32.349z" opacity=".149"/>
</svg>
<svg viewbox= "0 0 316 316" style="position: absolute; opacity: .8; top: 60vh; right: -45px; height: 100px; z-index: 10;">
    <path id="poly" fill="none" fill-rule="evenodd" stroke="rgb(var(--custcolor))" stroke-linecap="round" stroke-width="4" d="M32.348 32.349L223.934 2.005l88.063 172.832-137.161 137.16L2.004 223.935 32.348 32.349z" opacity=".149"/>
</svg>
</body>


<script>
	function toggleNewUser() {
		$('#user-new').toggle();
		$('#user-menu').toggle();
	}
	function inputSend() {
		if ($('#comment_text').val() == '') {
		  $("#comment_submit").css({ opacity: .4 });
		} else {
		  $("#comment_submit").css({ opacity: 1 });
		}
	}
	function toggleComment() {
		$('#comment-popup').toggle();
		if ( $('#comment-popup').is(':visible') ) {
			$('#comment_text').focus();
		}
	}
	function submitComment() {
		$('#comment_form').submit();
	}
	function submitEmail() {
		$('#email_form').submit();
	}
	$('#comment_form').submit(function(e) {
		e.preventDefault();
		$('#comment_text').removeClass('red');
		if( $('#comment_text').val().length > 30) {
			$('#comment_text').addClass('red');
			$('#comment_text').val('');
			$('#comment_text').attr('placeholder', 'Bitte nicht mehr als 30 Zeichen!')
		} else if($('#comment_text').val().length != 0){
		$.ajax({
			type: 'put',
			url: "<%= gm_send_emoji_url.to_s %>?comment=" + $('#comment_text').val(),
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(data) {
				$("#comment_text").val('');
				inputSend();
				toggleComment();
			}
		})
		}
	})
  function deleteUser(tID) {
    var url = '/mobile/games/turns/' + tID + '/delete_task';
    $.ajax({
      url: url,
      type: 'put',
      cache: false,
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
          $('#task_' + res.order + ' .user').remove();
          $('#task_' + res.order + ' .links .user').remove();
          var userDiv = "<a href='?this_task="+ res.task + "' class='user'>User auswählen</a>"
          $('#task_' + res.order + ' .links').append(userDiv);
			}
    })
  }
  function toggleTaskUser() {
    $('#task_user-menu').toggle();
    $('#nav-menu').toggle();
  }
	function hideFlash() {
		$('.flash-alert').hide();
	}
	function toggleUser() {
		$('#menu').toggle();
		$('#user-menu').toggle();
	}
	function toggleMenu() {
		$('#menu').toggle();
	}
	function toggleNav() {
		$('#menu').toggle();
		$('#nav-menu').toggle();
    $('#nav-menu .content').animate({
      scrollTop: $('#task_<%= @game.current_task %>').offset().top
    }, 100)
	}
  function closeMenu() {
    $('#nav-menu').hide();
    $('#menu').hide();
    $('#user-menu').hide();
    $('#task_user-menu').hide();;
		$('#user-new').hide();
  }
  <% if params[:slide] %>
    $('#nav-menu').show();
    $('#nav-menu .content').animate({
      scrollTop: $('#task_<%= params[:slide] %>').offset().top
    }, 100)
  <% end %>
	posBottom();
	window.onresize = function () { posBottom() };
	function posBottom() {
		var height = window.innerHeight
		var width = window.innerWidth
		$('body').css("height", height)
		$('body').css("width", width)
	}

	function toggleObjections() {
		$('#menu').hide();
		$("#objections-menu").toggle()
	}
	function sendObjection(oID) {
		$.ajax({
			url: "<%= gm_objection_path %>",
			type: 'post',
			data: { objection: oID },
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function (res) {
				$('#objections-menu').hide();
			},
		});
	}
</script>
