<!DOCTYPE html>
<html lang="de">

<head>
	<title>Peter Pitch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#1dacf1" />
	<%= favicon_link_tag 'wolfhead-tab.png', rel: 'icon', type: 'image/png' %>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= action_cable_meta_tag %>

	<%= stylesheet_link_tag    'game_mobile/main', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'game_mobile/main'%>
</head>
<style>
	<% if @company %>
	:root {
	  --custcolor: <%= @company.color1[0] %>,<%= @company.color1[1] %>, <%= @company.color1[2] %>;
	  --btncolor: <%= @company.color2[0] %>,<%= @company.color2[1] %>, <%= @company.color2[2] %>;
	}
  <% else %>
  :root {
	  --custcolor: 69,177, 255;
	  --btncolor: 29, 218, 175;
	}
	<% end %>
</style>

<body>
	<section id="navbar">
		<%= image_tag 'logos/peterpitch.png', class: 'logo' %>
		<% if current_page?(gm_error_path) %>
		FEHLER
		<% else %>
			<%= @game.team ? @game.team.name : @game.user.fname + "'s Pitch" %>
			<% if @admin == @game.user && current_page?(gm_game_path) %>
				<svg class="menu" onclick="toggleMenu()" viewbox="0 0 144 144"><use xlink:href="#menuIcon" /></svg>
			<% elsif @game && @admin && @game.game_users.find_by(user_id: @admin.id) %>
        <%= link_to '', gm_logout_path(@admin.id), class: 'nav-i fas fa-sign-out-alt', data: {confirm: 'Bist du sicher das du den Pitch verlassen möchtest?'} %>
			<% end %>
		<% end %>
	</section>
	<% if @pitch && @game.state != 'play' && @game.state != 'feedback' && @game.state != 'rate' && current_page?(gm_game_path) %>
	<section id="comment-menu">
		<i class="far fa-comment" onclick="toggleComment()"></i>
	</section>
	<% end %>
	<section id="menu">
		<div class="nav">
			<%= image_tag 'logos/peterpitch.png', class: 'logo' %>
			<%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMenu()' %>
		</div>
		<div class="content">
			<% if @task && @task.objection_list && @game.state == 'play' %>
				<div class="link" onclick="toggleObjections()">
					<svg class="icon" viewbox="0 0 144 144"><use xlink:href="#slidesIcon" /></svg>
					Einwände
					<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" /></svg>
				</div>
			<% end %>
			<% if @pitch %>
				<div class="link" onclick="toggleNav()">
					<svg class="icon" viewbox="0 0 144 144"><use xlink:href="#slidesIcon" /></svg>
					Foliennavigation
					<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" /></svg>
				</div>
			<% end %>
			<div class="link" onclick="toggleUser()">
				<svg class="icon" viewbox="0 0 144 144"><use xlink:href="#usersIcon" /></svg>
				Nutzerliste
				<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" /></svg>
			</div>
			<div class="link" onclick="toggleBestlist()">
				<%= inline_svg_tag 'icons/podium.svg', class: 'icon podium' %>
				Bestenliste
				<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" /></svg>
			</div>
			<div class="link" onclick="toggleRatingMenu()">
				<i class="icon fas fa-cog"></i>
				Spielregeln
				<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" /></svg>
			</div>
			<% if @game && @game.state != 'play' %>
				<div class="link toggleQR" onclick="toggleQR()">
					<i class="icon fas fa-qrcode"></i>
					<span>QR-Code einblenden</span>
					<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" /></svg>
				</div>
			<% end %>
			<% if @game && @game.state == 'play' %>
		    <div class="link end-pitch"  onclick="redirectRate()">
					<svg class="icon" viewbox="0 0 144 144"><use xlink:href="#endTurnIcon" /></svg>
					Pitch beenden
					<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" />
		    </div>
	    <% end %>
			<div class="link end" onclick="redirectBestlist()">
	      <svg class="icon" viewbox="0 0 144 144"><use xlink:href="#endPitchIcon" /></svg>
				Pitchrunde beenden
				<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" />
	    </div>
		</div>
	</section>

	<section id='rating-menu'>
		<div class="nav">
			<div class="back" onclick="toggleRatingMenu()">
        <i class="fas fa-chevron-left"></i>zum Menü
      </div>
			<%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMenu()' %>
		</div>
		<div class="content">
			<div class="heading">Spielregeln</div>
			<div class="subheading">Hier kannst du die Spielregeln für die Bewertungen der Aufgaben festlegen</div>
			<%= form_for(:game, url: customize_game_path(@game.id), html: {id: "rating_form"}) do |f| %>
			<%= f.hidden_field :skip_rating_timer, value: @game.skip_rating_timer %>
			<%= f.hidden_field :show_ratings, value: @game.show_ratings %>
			<%= f.hidden_field :rating_user, value: @game.rating_user %>
			<%= f.hidden_field :game_sound, value: @game.game_sound %>
			<% end %>
			<div class="user" id="toggle_sound" onclick="toggleRatings('sound', 0)">
				Pitch Sound
				<div class="toggle <%= @game.game_sound == true ? 'on' : 'off' %>"><div class="dot"></div></div>
			</div>
			<div class="user" id="toggle_rating" onclick="toggleRatings('allNone', 0)">
				Bewertungen
				<div class="toggle <%= @game.show_ratings == 'none' ? 'off' : 'on' %>"><div class="dot"></div></div>
			</div>
			<div class="user" id="toggle_rating_timer" onclick="toggleRatings('timer', 0)" style="<%= @game.show_ratings== 'none' ? 'display: none' : 'display: block' %>">
				Zeitlimit für Bewertungsabgabe
				<div class="toggle <%= @game.skip_rating_timer == true ? 'off' : 'on' %>"><div class="dot"></div></div>
			</div>
			<div class="user" id="toggle_rating_skip" onclick="toggleRatings('allSkip', 0)" style="<%= @game.show_ratings== 'none' ? 'display: none' : 'display: block' %>">
				Bewertungen anzeigen <span>von</span>
				<div class="toggle <%= @game.show_ratings == 'skip' ? 'off' : 'on' %>"><div class="dot"></div></div>
			</div>
			<div class="ratings" id="rating_user_list" style="<%= @game.show_ratings == 'none' ? 'display: none' : 'display: block' %>">
				<div class="user" onclick="toggleRatings('all', 0)">
						<div class="avatar">

						</div>
						<div class="name">
							Durchschnittsbewertung
						</div>
						<div class="radio-circle <%= @game.show_ratings == 'all' ? 'on' : 'off' %>" id="rating_user_all" ><div class="dot"></div></div>
				</div>
				<% @game.game_users.each do |u| %>
				<div class="user" onclick="toggleRatings('one', <%= u.user_id %>)">
					<div class="avatar">
						<% if u.user.avatar? %>
						<%= image_tag u.user.avatar.url %>
						<% else %>
						<div class='circle'><%= u.user.fname[0].capitalize + u.user.lname[0].capitalize %></div>
						<% end %>
					</div>
					<div class="name">
						<%= u.user.fname + ' ' + u.user.lname %>
					</div>
					<div class="radio-circle <%= @game.show_ratings == 'one' && @game.rating_user == u.user_id ? 'on' : 'off' %>" id="rating_user_<%= u.user_id %>" ><div class="dot"></div></div>
				</div>
				<% end %>
			</div>
		</div>
	</section>
	<% if @task && @task.objection_list %>
	<section id="objections-menu">
		<div class="nav">
			<%= image_tag 'icons/close.svg', class: 'close', onclick: 'toggleObjections()' %>
		</div>
		<div class="content">
			<div class="heading">Einwände</div>
  		<div class="subheading">Überasche den Nutzer mit einem Einwand!</div>
				<% @task.objection_list.objections.each do |o| %>
				<div class="user" onclick="sendObjection('<%= o.name %>')">
					<div class="objection"><%= o.name %></div>
					<svg class="next_objection" viewbox="0 0 144 144"><use xlink:href="#nextIcon" />
				</div>
				<% end %>
		</div>
	</section>
	<% end %>
	<section id="content" class="<%= params[:this_task] && params[:show_task] ? 'noanim' : '' %>">
		<%= yield %>
	</section>

	<% if @pitch %>
	<section id="nav-menu">
    <div class="nav">
      <div class="back" onclick="toggleNav()">
        <i class="fas fa-chevron-left"></i>zum Menü
      </div>
  		<%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMenu()' %>

    </div>
    <div class="content">
			<div class="heading">Folienübersicht</div>
  		<div class="subheading">wähle eine Folie oder weise User einer Aufgabe zu!</div>
      <% @pitch.task_orders.order(:order).each do |t| %>
			<% if t.task.valide %>
  		<div class="link <%= @game.current_task == t.order ? 'selected' : '' %>" id="task_<%= t.order %>">
          <div class="title"><%= t.task.title && t.task.title != '' ? t.task.title : '' %></div>

  	    	<div class="preview">
						<% if t.task.task_type != 'slide' %>
						<div class="is_task"><%= t.order %> - Aufgabe</div>
						<div class="task-icon"><%= image_tag 'icons/task.png' %></div>
						<% else %>
						<div class="slide"><%= t.order %></div>
						<div class="slide-icon"><%= image_tag 'icons/slide.png' %></div>
						<% end %>
						<% if t.task.task_medium %>
						<div class="media-icon">
							<% if t.task.task_medium.media_type == 'audio' %>
								<%= image_tag 'dash/audio.png' %>
							<% elsif t.task.task_medium.media_type == 'image' %>
							<%= image_tag 'dash/image-icon.png' %>
							<% elsif t.task.task_medium.media_type == 'video' %>
							<%= image_tag 'dash/video-icon.png' %>
							<% end %>
						</div>
						<% end %>
            <% if @game.game_turns.where(task_id: t.task_id, played: false).last %>
              <% this_turn = @game.game_turns.where(task_id: t.task_id, played: false).last %>
              <% if this_turn.user.avatar? %>
                <div class="user"><%= image_tag this_turn.user.avatar.url %></div>
              <% else %>
                <div class="user"><%= this_turn.user.fname[0].capitalize + this_turn.user.lname[0].capitalize %></div>
              <% end %>
            <% end %>
  	    		<% if t.task.task_medium && t.task.task_medium.video? %>
  	    		   <%= image_tag t.task.task_medium.video.thumb.url %>
  	    		<% elsif t.task.task_medium && t.task.task_medium.image? %>
  	    		   <%= image_tag t.task.task_medium.image.url %>
  	    		<% else %>
  	    		   <%= image_tag 'fallback/PlaceholderPP.png' %>
  	    		<% end %>
  	    	</div>

          <div class="links" %>
              <% if t.task.task_type != 'slide' %>
                <%= link_to 'zur Folie', gm_set_slide_path(t.order), class: 'jump' %>
                <% this_turn = @game.game_turns.where(task_id: t.task_id, played: false).last %>
                <% if this_turn && @game.current_turn != this_turn.id %>
                  <div class="user" onclick="deleteUser(<%= this_turn.id %>)">User entfernen</div>
                <% else %>
                  <a href="?this_task=<%= t.task_id %>" class="user">User auswählen</a>
                <% end %>
              <% else %>
              <%= link_to 'zur Folie', gm_set_slide_path(t.order), class: 'jump center' %>
              <% end %>
          </div>
  		</div>
			<% end %>
  		<% end %>
    </div>
	</section>
  <% if params[:this_task] %>
    <section id="task_user-menu">
			<div class="nav">
				<%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMenu()' %>
				<% if !params[:show_task] %>
        <div class="back" onclick="toggleTaskUser()"><i class="fas fa-chevron-left"></i>zur Folienübersicht</div>
				<% end %>

			</div>
			<div class="content">
				<div class="heading">Nutzerliste</div>
        <div class="subheading">Wer soll diese Task erledigen?</div>
				<% if params[:show_task] %>
					<div class="user" style="color: #69DEA9">
						<div class="avatar">
							<%= inline_svg_tag 'icons/random.svg', class: 'icon random' %>
						</div>
						<div class="name" style="color: rgb(var(--btncolor)); font-size: 15px;">Nutzer zufällig auswählen!</div>
						<%= link_to '', gm_set_state_path(state: 'turn') %>
					</div>
				<% end %>
				<% @game.game_users.each do |t| %>
        <div class="user">
          <div class="avatar">
            <% if t.user.avatar? %>
              <%= image_tag t.user.avatar.url %>
            <% else %>
              <div class="circle"><%= t.user.fname[0].capitalize + t.user.lname[0].capitalize %></div>
            <% end %>
            </div>
            <div class="name">
              <%= t.user.fname + ' ' + t.user.lname %>
            </div>
						<svg class="next" viewbox="0 0 144 144"><use xlink:href="#nextIcon" /></svg>
            <%= link_to '', gm_set_task_user_path(t.user_id, params[:this_task], show_task: true) %>
        </div>
        <% end %>
			</div>
    </section>
  <% end %>
	<section id="user-menu">
		<div class="nav">
			<%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMenu()' %>
			<div class="back" onclick="toggleUser()"><i class="fas fa-chevron-left"></i>zum Menu</div>
		</div>
		<div class="content">
			<div class="heading">Nutzerliste</div>
			<div class="subheading">Nutzer aus Pitchrunde entfernen</div>
			<div class="user" onclick="toggleNewUser()">
					<div class="avatar">
						<svg class="icon" viewbox="0 0 144 144"><use xlink:href="#addIcon" /></svg>
					</div>
					<div class="name" style="color: rgb(var(--btncolor)); font-size: 15px;">
						User hinzufügen
					</div>
			</div>
			<% @game.game_users.where(play: true).each do |gt| %>
			<div class="user">
	      <div class="avatar">
	        <% if gt.user.avatar? %>
	          <%= image_tag gt.user.avatar.url %>
	        <% else %>
	          <div class="circle"><%= gt.user.fname[0].capitalize + gt.user.lname[0].capitalize %></div>
	        <% end %>
	      </div>
				<div class="name">

					<%= gt.user.fname + ' ' + gt.user.lname %>
				</div>
				<svg class="next" viewbox="0 0 144 144"><use xlink:href="#endTurnIcon" /></svg>
	      <%= link_to '', gm_delete_turn_path(gt.id), data: {confirm: "Bist du sicher, dass du den User aud dem Spiel entfernen möchtest?"} %>
			</div>
			<% end %>
		</div>
	</section>
	<section id="bestlist-menu">
		<div class="nav">
	    <%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMenu()' %>
			<div class="back" onclick="toggleBestlist()"><i class="fas fa-chevron-left"></i>zum Menu</div>
		</div>
		<div class="content">
			<div class="heading">Bestenliste</div>
			<div class="subheading">Wie ist der aktuelle Zwischenstand?</div>
			<% @game.game_users.where(play: true).order(best_rating: :desc).each do |gt| %>
			<div class="user">
	      <div class="avatar">
	        <% if gt.user.avatar? %>
	          <%= image_tag gt.user.avatar.url %>
	        <% else %>
	          <div class="circle"><%= gt.user.fname[0].capitalize + gt.user.lname[0].capitalize %></div>
	        <% end %>
	      </div>
				<div class="name">

					<%= gt.user.fname + ' ' + gt.user.lname %>
				</div>
	      <div class="rating">
					<%= gt.best_rating != 0 ? gt.best_rating / 10.0 : '-' %>
	      </div>
			</div>
			<% end %>
		</div>
	</section>
	<section id="user-new">
		<div class="nav">
			<div class="back" onclick="toggleNewUser()"><i class="fas fa-chevron-left"></i>Nutzerliste</div>
			<%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMenu()' %>
		</div>
		<div class="content">
			<div class="heading">Nutzer</div>
			<div class="subheading">Füge einen Nutzer der Pitchrunde hinzu</div>
		</div>


		<%= form_for(:user, url: email_game_path(@game), html: {id: 'email_form', autocomplete: 'off'}) do |f| %>
				<%= f.hidden_field :site, value: 'admin_game_mobile' %>
				<div class="form-group single-line">
					<%= f.email_field :email, placeholder: 'E-Mail', oninput: "inputSend()", onblur: 'inputSend()', class: 'form-field', id: 'email_text' %>
					<i class="far fa-paper-plane" id='email_submit' onclick='submitEmail()'></i>
				</div>
		<% end %>
	</section>
	<% if params[:email] %>
		<section id="user-name">
			<div class="nav">
				<div class="back" onclick="toggleNewUserName()"><i class="fas fa-chevron-left"></i>Nutzer hinzufügen</div>
				<%= image_tag 'icons/close.svg', class: 'close', onclick: 'closeMenu()' %>
			</div>
			<div class="content">
				<div class="heading">Nutzer</div>
				<div class="subheading">den Nutzer gibt es noch nicht. Wie heißt er?</div>
				<%= form_for(:user, url: name_game_path(@game, User.find_by(email: params[:email])), html: {id: 'name_form'}) do |f| %>
					<%= f.hidden_field :site, value: 'admin_game_mobile' %>
					<div class="form-group two-line" id="group_fname">
						<%= f.text_field :fname, placeholder: 'Vorname', class: 'form-field', onfocus: "hideDots()", onblur: "showDots()", required: true %>
					</div>
					<div class="form-group two-line" id="group_lname">
						<%= f.text_field :lname, placeholder: 'Nachname', class: 'form-field', onfocus: "hideDots()", onblur: "showDots()", required: true %>
					</div>
					<div class="form-group bottom">
							<%= f.submit 'speichern', class: 'btn' %>
					</div>
				<% end %>
			</div>
		</section>
	<% end %>

	<section id="comment-popup">
		<div class="nav">
			<%= image_tag 'icons/close.svg', class: 'close', onclick: 'toggleComment()' %>
		</div>
		<div class="content">
			<div class="heading">Kommentar abgeben</div>
  		<div class="subheading">Drücke auf einen Smiley oder tippe einen Kommentar ein.</div>
			<div class="emojis">
				<div class="emoji" id='emoji_1' onanimationend="emojiEnd('emoji_1')" onclick="sendEmoji('&#x1f680;', 'emoji_1')">&#x1f680;</div>
				<div class="emoji" id='emoji_2' onanimationend="emojiEnd('emoji_2')" onclick="sendEmoji('&#x1f4aa;', 'emoji_2')">&#x1f4aa;</div>
				<div class="emoji" id='emoji_3' onanimationend="emojiEnd('emoji_3')" onclick="sendEmoji('&#x1f60e;', 'emoji_3')">&#x1f60e;</div>
				<div class="emoji" id='emoji_4' onanimationend="emojiEnd('emoji_4')" onclick="sendEmoji('&#x1f43a;', 'emoji_4')">&#x1f43a;</div>
				<div class="emoji" id='emoji_5' onanimationend="emojiEnd('emoji_5')" onclick="sendEmoji('&#x1F910;', 'emoji_5')">&#x1F910;</div>
				<div class="emoji" id='emoji_6' onanimationend="emojiEnd('emoji_6')" onclick="sendEmoji('&#x1f393;', 'emoji_6')">&#x1f393;</div>
				<div class="emoji" id='emoji_7' onanimationend="emojiEnd('emoji_7')" onclick="sendEmoji('&#x1f44c;', 'emoji_7')">&#x1f44c;</div>
				<div class="emoji" id='emoji_8' onanimationend="emojiEnd('emoji_8')" onclick="sendEmoji('&#x1f634;', 'emoji_8')">&#x1f634;</div>
				<div class="emoji" id='emoji_9' onanimationend="emojiEnd('emoji_9')" onclick="sendEmoji('&#x1f929;', 'emoji_9')">&#x1f929;</div>
				<div class="emoji" id='emoji_10' onanimationend="emojiEnd('emoji_10')" onclick="sendEmoji('&#x1f37e;', 'emoji_10')">&#x1f37e;</div>
				<div class="emoji" id='emoji_11' onanimationend="emojiEnd('emoji_11')" onclick="sendEmoji('&#x1f9e0;', 'emoji_11')">&#x1f9e0;</div>
				<div class="emoji" id='emoji_12' onanimationend="emojiEnd('emoji_12')" onclick="sendEmoji('&#x1f4b8;', 'emoji_12')">&#x1f4b8;</div>
			</div>
			<%= form_for(:comment, url: new_comment_path(1), html: {id: "comment_form", autocomplete: 'off'}) do |f| %>
			  <div class="form-group">
					<div class="max-size">Max 30 Zeichen</div>
				  <%= f.text_field :text, placeholder: 'Feedback hier eingeben...', oninput: "inputSend()", onblur: 'inputSend()', class: 'form-field', id: 'comment_text', maxlength: "35"%>
					<i class="far fa-paper-plane" id='comment_submit' onclick='submitComment()'></i>
			</div>
			<% end %>
		</div>


	</section>
	<% end %>

	<% if flash[:alert] %>
	<div class="flash-alert">
		<div class="heading">Fehler!</div>
		<div class="text"><%= flash[:alert] %></div>
	</div>
	<% end %>
	<% if flash[:success] %>
	<div class="flash-alert">
		<div class="heading"></div>
		<div class="text"><%= flash[:success] %></div>
	</div>
	<script type="text/javascript">
		setTimeout(function() {
			$('.flash-alert').fadeOut();
		},1000)
	</script>
	<% end %>

<svg viewbox= "0 0 316 316" style="position: absolute; opacity: .3; left: -200px; height: 350px; z-index: 10;">
    <path id="poly" fill="none" fill-rule="evenodd" stroke="rgb(var(--custcolor))" stroke-linecap="round" stroke-width="4" d="M32.348 32.349L223.934 2.005l88.063 172.832-137.161 137.16L2.004 223.935 32.348 32.349z" opacity=".149"/>
</svg>
<svg viewbox= "0 0 316 316" style="position: absolute; opacity: .8; top: 60vh; right: -45px; height: 100px; z-index: 10;">
    <path id="poly" fill="none" fill-rule="evenodd" stroke="rgb(var(--custcolor))" stroke-linecap="round" stroke-width="4" d="M32.348 32.349L223.934 2.005l88.063 172.832-137.161 137.16L2.004 223.935 32.348 32.349z" opacity=".149"/>
</svg>


<div class="svg-icons">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 144 144" xml:space="preserve">
		<g id="menuIcon">
			<line class="st2" x1="42.3" y1="12.5" x2="102.7" y2="12.5"/>
			<line class="st2" x1="41.3" y1="70.8" x2="101.7" y2="70.8"/>
			<line class="st2" x1="42" y1="131.5" x2="102.4" y2="131.5"/>
		</g>
		<g id="addIcon">
			<g><circle class="st7" cx="72" cy="72" r="69.6"/></g>
			<g>
				<line class="st44" x1="71.6" y1="41.9" x2="71.6" y2="103.5"/>
				<line class="st44" x1="102.5" y1="72.7" x2="40.8" y2="72.7"/>
			</g>
		</g>
		<g id="usersIcon">
			<path class="st2" d="M123.2,136.8H20.8c-7.5,0-13.5-6.1-13.5-13.5V20.8c0-7.5,6.1-13.5,13.5-13.5h102.5c7.5,0,13.5,6.1,13.5,13.5
				V33v36.4v53.8C136.8,130.7,130.7,136.8,123.2,136.8z"/>
			<g>
				<g>
					<g>
						<path class="st6" d="M73.3,64.2c8.1,0,14.6,6.6,14.6,14.6c0,8.1-6.6,14.6-14.6,14.6c-8.1,0-14.6-6.6-14.6-14.6
							C58.7,70.7,65.2,64.2,73.3,64.2 M73.3,61.2L73.3,61.2c-9.7,0-17.6,7.9-17.6,17.6c0,9.7,7.9,17.6,17.6,17.6h0
							c9.7,0,17.6-7.9,17.6-17.6C90.9,69.1,83,61.2,73.3,61.2L73.3,61.2z"/>
					</g>
				</g>
				<g>
					<g>
						<path class="st6" d="M42,70.4c3.7,0,6.7,3,6.7,6.7s-3,6.7-6.7,6.7s-6.7-3-6.7-6.7S38.3,70.4,42,70.4 M42,67.4L42,67.4
							c-5.4,0-9.7,4.3-9.7,9.7s4.3,9.7,9.7,9.7h0c5.4,0,9.7-4.3,9.7-9.7S47.3,67.4,42,67.4L42,67.4z"/>
					</g>
				</g>
				<g id="XMLID_14_">
					<path class="st5" d="M85.6,97.1c2.3,0.1,4.5,0.5,6.6,1.1c8.8,2.3,14.9,10.4,14.9,19.5"/>
				</g>
				<g id="XMLID_13_">
					<path class="st5" d="M60.9,97.2c0.3,0.5,0.7,0.9,1.1,1.3c2.6,2.8,6.3,4.7,10.5,4.9l1.6-0.1c4.2-0.2,7.8-2,10.5-4.9
						c0.4-0.4,0.8-0.9,1.1-1.3"/>
					<path class="st5" d="M60.9,97.2c-2.3,0.1-4.5,0.5-6.6,1.1c-8.8,2.3-14.9,10.4-14.9,19.5"/>
				</g>
				<g id="XMLID_12_">
					<path class="st5" d="M34.5,89.1c0.2,0.3,0.4,0.5,0.6,0.8c1.6,1.7,3.7,2.7,6.2,2.9l0.9,0c2.4-0.1,4.6-1.2,6.2-2.9
						c0.2-0.2,0.4-0.5,0.6-0.8"/>
					<path class="st5" d="M34.5,89.1c-1.3,0.1-2.6,0.3-3.9,0.6c-5.2,1.3-8.7,6.1-8.7,11.4"/>
				</g>
				<g>
					<g>
						<path class="st6" d="M103.3,70c3.7,0,6.7,3,6.7,6.7s-3,6.7-6.7,6.7c-3.7,0-6.7-3-6.7-6.7S99.6,70,103.3,70 M103.3,67L103.3,67
							c-5.4,0-9.7,4.3-9.7,9.7v0c0,5.4,4.3,9.7,9.7,9.7h0c5.4,0,9.7-4.3,9.7-9.7v0C113,71.3,108.6,67,103.3,67L103.3,67z"/>
					</g>
				</g>
				<g id="XMLID_11_">
					<path class="st5" d="M110.7,88.7c-0.2,0.3-0.4,0.5-0.6,0.8c-1.6,1.7-3.7,2.7-6.2,2.9l-0.9,0c-2.4-0.1-4.6-1.2-6.2-2.9
						c-0.2-0.2-0.4-0.5-0.6-0.8"/>
					<path class="st5" d="M110.7,88.7c1.3,0.1,2.6,0.3,3.9,0.6c5.2,1.3,8.7,6.1,8.7,11.4"/>
				</g>
			</g>
		</g>
		<g id="slidesIcon">
		<path class="st2" d="M107.4,117h-82c-6,0-10.8-4.8-10.8-10.8v-82c0-6,4.8-10.8,10.8-10.8h82c6,0,10.8,4.8,10.8,10.8v82
			C118.2,112.1,113.4,117,107.4,117z"/>
		<path class="st2" d="M118.6,27c6,0,10.8,4.8,10.8,10.8v82c0,6-4.8,10.8-10.8,10.8h-82c-6,0-10.8-4.8-10.8-10.8"/>
		<g>
			<line class="st43" x1="38" y1="32.4" x2="38" y2="37.2"/>
			<line class="st43" x1="57.2" y1="32.4" x2="57.2" y2="37.1"/>
			<line class="st43" x1="76.8" y1="32.9" x2="76.8" y2="37.6"/>
			<line class="st43" x1="96.9" y1="32.8" x2="96.9" y2="37.6"/>
		</g>
		<path class="st43" d="M69.9,97.6H39.1c-1.4,0-2.5-1.1-2.5-2.5V69.5c0-1.4,1.1-2.5,2.5-2.5h30.9c1.4,0,2.5,1.1,2.5,2.5v25.6
			C72.4,96.5,71.3,97.6,69.9,97.6z"/>
		<path class="st43" d="M39,97.1c-0.8,0-1.3-0.9-0.8-1.6l7.9-8.2l8,6.4l8.3-11.2l8.4,12.1c0.6,1.2-0.3,2.6-1.6,2.6H39z"/>
		<circle class="st43" cx="53.5" cy="82.1" r="2.6"/>
		<path class="st43" d="M62.2,65.5V58c0-1.4,1.1-2.5,2.5-2.5h30.9c1.4,0,2.5,1.1,2.5,2.5v25.6c0,1.4-1.1,2.5-2.5,2.5H73.9"/>
		<path class="st43" d="M85,70.1l-7.4-4.3c-0.5-0.3-1.2,0.1-1.2,0.7V75c0,0.6,0.7,1,1.2,0.7l7.4-4.3C85.5,71.1,85.5,70.4,85,70.1z"
			/>
		<line class="st43" x1="62.6" y1="61.1" x2="97.4" y2="61.1"/>
		<line class="st43" x1="73.6" y1="79.1" x2="97.3" y2="79.1"/>
		</g>
		<g id="statsIcon">
			<g>
				<path class="st5" d="M109.5,116.8H92.6c-1.6,0-2.9-1.3-2.9-2.9V51.3c0-1.6,1.3-2.9,2.9-2.9h16.9c1.6,0,2.9,1.3,2.9,2.9v62.6C112.4,115.5,111.1,116.8,109.5,116.8z"/>
				<path class="st5" d="M78.1,116.8H61.2c-1.6,0-2.9-1.3-2.9-2.9V67c0-1.6,1.3-2.9,2.9-2.9h16.9c1.6,0,2.9,1.3,2.9,2.9v46.9C81,115.5,79.7,116.8,78.1,116.8z"/>
				<path class="st5" d="M49.1,116.8H32.2c-1.6,0-2.9-1.3-2.9-2.9V84.2c0-1.6,1.3-2.9,2.9-2.9h16.9c1.6,0,2.9,1.3,2.9,2.9v29.6C52,115.5,50.7,116.8,49.1,116.8z"/>
			</g>
				<path class="st2" d="M70,133.6H23.2c-7.1,0-12.9-5.8-12.9-12.9V23.2c0-7.1,5.8-12.9,12.9-12.9h97.5c7.1,0,12.9,5.8,12.9,12.9v97.5c0,7.1-5.8,12.9-12.9,12.9H94.5H70z"/>
		</g>
		<g id="endPitchIcon">
			<polyline class="st2" points="97.7,40.5 125,65.7 97.7,90.7 		"/>
			<g>
				<line class="st2" x1="118.9" y1="65.6" x2="64.9" y2="65.6"/>
			</g>
			<path class="st2" d="M79.6,6.1H39.7c-3.1,0-5.7,2.5-5.7,5.7v107.6c0,3.1,2.5,5.7,5.7,5.7h39.9"/>
			<path class="st2" d="M32.4,19l-9-0.1c-3.1,0-5.7,2.5-5.7,5.7v107.6c0,3.1,2.5,5.7,5.7,5.7h23.5"/>
		</g>
		<g id="endTurnIcon">
			<polyline class="st2" points="91.8,43.7 122.5,72.1 91.8,100.3 		"/>
			<g><line class="st2" x1="119" y1="72" x2="54.1" y2="72"/></g>
			<path class="st2" d="M81,5.1H26.5c-3.5,0-6.4,2.9-6.4,6.4v121.1c0,3.5,2.9,6.4,6.4,6.4H81"/>
		</g>
		<g id="nextIcon">
			<polyline class="st9" points="38.6,8.7 103.4,72.9 38.6,135.3"/>
		</g>
	</svg>
</div>
</body>


<script>
	function toggleRatingMenu() {
		$('#rating-menu').toggle();
		$('#menu').toggle();
	}
	function toggleNewUserName() {
		$('#user-new').toggle();
		$('#user-name').toggle();
	}
	function toggleNewUser() {
		$('#user-new').toggle();
		$('#user-menu').toggle();
	}
	function inputSend() {
		if ($('#comment_text').val() == '') {
		  $("#comment_submit").css({opacity: .4});
		} else {
		  $("#comment_submit").css({opacity: 1});
		}
		if ($('#email_text').val() == '') {
			$("#email_submit").css({opacity: .4});
		} else {
			$("#email_submit").css({opacity: 1});
		}
	}
	function toggleComment() {
		$('#comment-popup').toggle();
		if ( $('#comment-popup').is(':visible') ) {
			$('#comment_text').focus();
		}
	}
	function submitComment() {
		$('#comment_form').submit();
	}
	function submitEmail() {
		$('#email_form').submit();
	}
	$('#comment_form').submit(function(e) {
		e.preventDefault();
		$('#comment_text').removeClass('red');
		if( $('#comment_text').val().length > 30) {
			$('#comment_text').addClass('red');
			var comment_value = $("#comment_text").val();
			$("#comment_text").val(comment_value.substring(0,30));
			$('#comment_text').attr('placeholder', 'Bitte nicht mehr als 30 Zeichen!')
		} else if($('#comment_text').val().length != 0){
		$.ajax({
			type: 'put',
			<% if @game.state == 'feedback' %>
			url: "<%= gm_send_emoji_url.to_s %>?comment_reverse=" + $('#comment_text').val(),
			<% else %>
			url: "<%= gm_send_emoji_url.to_s %>?comment=" + $('#comment_text').val(),
			<% end %>
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(data) {
				$("#comment_text").val('');
				inputSend();
			}
		})
		}
	})
	function sendEmoji(emoji, id) {
		$('#'+id).addClass('emoji_send');
		$.ajax({
			url: "<%= gm_send_emoji_url.to_s %>?emoji_comment=" + emoji,
			type: 'put',
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
		});
	}
	function emojiEnd(id) {
		$('#'+id).removeClass('emoji_send');
	}
  function deleteUser(tID) {
    var url = '/mobile/games/turns/' + tID + '/delete_task';
    $.ajax({
      url: url,
      type: 'put',
      cache: false,
			async: true,
			contentType: false,
			processData: false,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
          $('#task_' + res.order + ' .user').remove();
          $('#task_' + res.order + ' .links .user').remove();
          var userDiv = "<a href='?this_task="+ res.task + "' class='user'>User auswählen</a>"
          $('#task_' + res.order + ' .links').append(userDiv);
			}
    })
  }
  function toggleTaskUser() {
    $('#task_user-menu').toggle();
    $('#nav-menu').toggle();
  }
	function hideFlash() {
		$('.flash-alert').hide();
	}
	function toggleUser() {
		$('#menu').toggle();
		$('#user-menu').toggle();
	}
	function toggleBestlist() {
		$('#menu').toggle();
		$('#bestlist-menu').toggle();
	}
	function toggleMenu() {
		$('#menu').toggle();
	}
	function toggleNav() {
		$('#menu').toggle();
		$('#nav-menu').toggle();
    $('#nav-menu .content').animate({
      scrollTop: $('#task_<%= @game.current_task %>').offset().top
    }, 100)
	}
  function closeMenu() {
    $('#nav-menu').hide();
    $('#menu').hide();
    $('#user-menu').hide();
    $('#task_user-menu').hide();;
		$('#user-new').hide();
		$('#user-name').hide();
		$('#bestlist-menu').hide();
		$('#rating-menu').hide();
  }
  <% if params[:slide] %>
    $('#nav-menu').show();
    $('#nav-menu .content').animate({
      scrollTop: $('#task_<%= params[:slide] %>').offset().top
    }, 100)
  <% end %>
	posBottom();
	window.onresize = function () { posBottom() };
	function posBottom() {
		var height = window.innerHeight
		var width = window.innerWidth
		$('body').css("height", height)
		$('body').css("width", width)
	}

	function toggleObjections() {
		$('#menu').hide();
		$("#objections-menu").toggle()
	}
	function sendObjection(oID) {
		$.ajax({
			url: "<%= gm_objection_path %>",
			type: 'post',
			data: { objection: oID },
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function (res) {
				$('#objections-menu').hide();
			},
		});
	}
	function redirectBestlist() {
		if ( confirm("Bist du sicher, dass du direkt zur Bestenliste möchtest?") ) {
				window.location.replace('<%= gm_set_state_path('', state: 'bestlist') %>');
		}
	}
	function redirectRate() {
		if ( confirm("Bist du sicher, dass du den Pitch beenden möchtest?") ) {
				window.location.replace('<%= gm_set_state_path('', state: 'rate') %>');
		}
	}
	function toggleRatings(type, user) {
		if( type == 'sound' ) {
			if( $('#game_game_sound').val() == true ) {
				$('#game_game_sound').val(0);
				$('#rating_form').submit();
			} else {
				$('#game_game_sound').val(1);
				$('#rating_form').submit();
			}
		} else if( type == 'timer' ) {
			if( $('#game_skip_rating_timer').val() == true ) {
				$('#game_skip_rating_timer').val(0);
				$('#rating_form').submit();
			} else {
				$('#game_skip_rating_timer').val(1);
				$('#rating_form').submit();
			}
		} else if( type == 'allNone' ) {
			if( $('#game_show_ratings').val() == 'none' ) {
				$('#game_rating_user').val(0);
				$('#game_show_ratings').val('all');
				$('#rating_form').submit();
			}	else {
				$('#game_rating_user').val(0);
				$('#game_show_ratings').val('none');
				$('#rating_form').submit();
			}
		} else if( type == 'allSkip' ) {
			if( $('#game_show_ratings').val() == 'skip' ) {
				$('#game_rating_user').val(0);
				$('#game_show_ratings').val('all');
				$('#rating_form').submit();
			}	else {
				$('#game_rating_user').val(0);
				$('#game_show_ratings').val('skip');
				$('#rating_form').submit();
			}
		} else if( type == 'one' && $('#game_rating_user').val() == user ) {
			$('#game_rating_user').val(0);
			$('#game_show_ratings').val('all');
			$('#rating_form').submit();
		} else {
			$('#game_rating_user').val(user);
			$('#game_show_ratings').val(type);
			$('#rating_form').submit();
		}
	}
	$('#rating_form').on('submit', function(e) {
		e.preventDefault()
		var URL = "<%= customize_game_path(@game.id) %>?json=true";
		var formData = new FormData(document.getElementById('rating_form'))
		$.ajax({
			url: URL,
			type: "post",
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			data: formData,
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function (res) {
				<% @game.game_users.each do |u| %>
					if( $('#rating_user_<%= u.user_id %>').hasClass('on') ) {
						$('#rating_user_<%= u.user_id %>').removeClass('on').addClass('off');
					}
				<% end %>
				if( res.game_sound == true ) {
					if( $('#toggle_sound .toggle').hasClass('off') ) {
						$('#toggle_sound .toggle').removeClass('off').addClass('on');
					}
				} else {
					if( $('#toggle_sound .toggle').hasClass('on') ) {
						$('#toggle_sound .toggle').removeClass('on').addClass('off');
					}
				}
				if( res.skip_rating_timer == true ) {
					if( $('#toggle_rating_timer .toggle').hasClass('on') ) {
						$('#toggle_rating_timer .toggle').removeClass('on').addClass('off');
					}
				} else {
					if( $('#toggle_rating_timer .toggle').hasClass('off') ) {
						$('#toggle_rating_timer .toggle').removeClass('off').addClass('on');
					}
				}
				if( res.show_ratings == 'all' ) {
					if( $('#rating_user_all').hasClass('off') ) {
						$('#rating_user_all').removeClass('off').addClass('on');
					}
				}
				if( res.show_ratings == 'none' ) {
					$('#rating_user_list').hide();
					$('#toggle_rating_skip').hide();
					$('#toggle_rating_timer').hide();
					if( $('#toggle_rating_skip .toggle').hasClass('off') ) {
						$('#toggle_rating_skip .toggle').removeClass('off').addClass('on');
					}
					if( $('#toggle_rating .toggle').hasClass('on') ) {
						$('#toggle_rating .toggle').removeClass('on').addClass('off');
					}
				} else if( res.show_ratings == 'skip' ) {
					$('#rating_user_list').hide();
					if( $('#toggle_rating_skip .toggle').hasClass('on') ) {
						$('#toggle_rating_skip .toggle').removeClass('on').addClass('off');
					}
				} else if( res.show_ratings == 'one' ) {
					if( $('#rating_user_all').hasClass('on') ) {
						$('#rating_user_all').removeClass('on').addClass('off');
					}
					if( $('#rating_user_' + res.rating_user).hasClass('off') ) {
						$('#rating_user_' + res.rating_user).removeClass('off').addClass('on');
					}
				} else {
					$('#rating_user_list').show();
					$('#toggle_rating_skip').show();
					$('#toggle_rating_timer').show();
					if( $('#toggle_rating .toggle').hasClass('off') ) {
							$('#toggle_rating .toggle').removeClass('off').addClass('on');
					}
					if( $('#toggle_rating_skip .toggle').hasClass('off') ) {
						$('#toggle_rating_skip .toggle').removeClass('off').addClass('on');
					}
				}
			}
		})
	})
	function toggleQR() {
		$.ajax({
			url: "<%= gm_showQR_url %>",
			type: 'put',
			beforeSend: function (xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function (res) {
				if ( $('.toggleQR span').text() == "QR-Code ausblenden" ) {
					$('.toggleQR span').text("QR-Code einblenden");
				} else {
						$('.toggleQR span').text("QR-Code ausblenden");
				}
			},
		});
	}
</script>
